

{% extends "index_lazy_layout.html" %}

{% block title %}Profireader - Translations{% endblock title %}

{% block portal_content %}


    <script>
        module.controller('translation_list', ['$scope', '$ok', '$sce', function ($scope, $ok, $sce) {

            $scope.url_search_article = {{ raw_url_for('admin.translations_load')|safe }};

            $scope.page_changed = function () {
                $scope.sendData(false);
            };

            $scope.data = {
                search_text: '',
                pages: {},
                template: null
            };


            $scope.new_search_text = '';


            $scope.sendData = function (new_search_text) {
                var data = {}
                data.search_text = (new_search_text !== false) ? new_search_text : $scope.data['search_text'];
                data.template = $scope.template ? $scope.template: null;
                data.page = $scope.data.pages.current_page;
                $ok($scope.url_search_article({}), data, function (resp) {

                    $scope.data['pages'] = resp.pages;
                    $scope.translations = resp.translations;

                    $scope.templates = resp.templates;
                    $scope.templates['-- all --'] = undefined;

                    $scope.data.search_text = (new_search_text !== false) ? new_search_text : $scope.data['search_text'];
                })
            };

        }]);

    </script>
    {% raw %}
    <div ng-init="sendData('')" ng-controller="translation_list">

        <table style="width:100%">
            <tr>
                <th width="250px">Date</th>
                <th width="250px">Title</th>
                <th width="250px">Portals - Bublication status</th>
                <th>translation status</th>
                <th></th>
            </tr>
            <tr valign="top">
                <td></td>
                <td><input ng-disabled="loading" style="width: 98%" type="text" placeholder="Search"
                           ng-model="new_search_text"></td>
                <td><select ng-disabled="loading" style="width: 40%; padding: 5px;" ng-model="portal_id"
                            ng-options="port_id as port.name for (port_id, port) in portals">
                </select> - <select ng-disabled="loading" style="width: 40%; padding: 5px;" ng-model="status"
                                    ng-options="lab for (lab, val) in statuses track by val">
                </select></td>
                <td></td>
                <td><input ng-disabled="loading" ng-click="sendData(new_search_text)" type="submit"
                           ng-model="new_search_text"
                           value="{{ loading?'loading...':'search' }}"
                           style="width: 75%;"></td>

            </tr>
            <tr ng-repeat="translation in translations" valign="top">

                <td>{{ translation.article.md_tm }}</td>
                <td><a href="{{ url_details({company_id:company_id, article_id:translation.article.id}) }}"
                       ng-bind-html="highlightSearchResults(translation.article.title, data.search_text)"></a></td>
                <td>
                    <div ng-repeat="translation_portal in translation.article.portal_article">
                        {{ translation_portal.portal.name }} - <span>{{ translation_portal.status }}</span>
                    </div>
                    <div ng_if="!translation.portals_count">{{ _('not sent') }}</div>
                </td>
                <td>{{ translation.article.status }}</td>
            </tr>

            <tr ng-show="!loading && !areAllEmpty(translations)">
                <td colspan="5">
                    <div ng-show="!loading" ng-include="'pagination.html'"></div>
                </td>
            </tr>
            <tr ng-show="!loading && areAllEmpty(translations)">
                <td colspan="5">
                    No translations
                </td>
            </tr>
        </table>


    </div>
    {% endraw %}

{% endblock portal_content %}


