{% extends "index_layout.html" %}
{% block title %}Profireader - Change Email Address{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block portal_base %}
    {% include 'partials/portal_base_Profireader.html' %}
{% endblock portal_base %}

{% block content %}
<div>
    <h1>Change Your Email Address</h1>
</div>
<form action="{{ url_for('user.change_email_request') }}" method="POST">
    {{ form.email(placeholder='yourname@email.com', maxlength="100", type="email") }} <br/>
    {{ form.password(placeholder='Password') }} <br/>
    {{ form.submit(type="submit") }}
    {{ form.csrf_token }}
</form>
content
{% endblock content %}

{% block footer %}
    {% include 'partials/portal_footer_Profireader.html' %}
{% endblock footer %}
