{% extends "index_layout.html" %}
{% block title %}Profireader - Change Password{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block portal_base %}
    {% include 'partials/portal_base_Profireader.html' %}
{% endblock portal_base %}

{% block content %}
<div>
    <h1>Change Your Password</h1>
</div>
<form action="{{ url_for('user.change_password') }}" method="POST">
    {{ form.old_password(placeholder='Old password', value="", type="password") }} <br/>
    {{ form.password(placeholder="Password", value="", type="password") }} <br/>
    {{ form.password2(placeholder="Confirm password", value="", type="password") }} <br/>
    {{ form.submit(type="submit") }}
    {{ form.csrf_token }}
</form>
content
{% endblock content %}

{% block footer %}
    {% include 'partials/portal_footer_Profireader.html' %}
{% endblock footer %}
