{% extends "index_layout.html" %}
{% block title %}Profireader - Change Email Address{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block portal_base %}
    {% include 'partials/portal_base_Profireader_auth_user.html' %}
{% endblock portal_base %}

{% block portal_content %}
<div>
    <h1 class="nice-title">Change Your Email Address<span></span></h1>
</div>
<form action="{{ url_for('auth.change_email_request') }}" method="POST">
    {{ form.email(placeholder='yourname@email.com', maxlength="100", type="email") }} <br/>
    {{ form.password(placeholder='Password') }} <br/>
    {{ form.submit(type="submit") }}
    {{ form.csrf_token }}
</form>

<p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.</p>
content
{% endblock portal_content %}
