{% extends "index_layout.html" %}
{% block title %}Profireader - Password Reset{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block portal_base %}
    {{ super() }}
{% endblock portal_base %}

{% block portal_content %}
<div>
    <h1 class="nice-title">Reset Your Password<span></span></h1>
</div>
<form action="{{ url_for('auth.password_reset', token=token) }}" method="POST">
    {{ form.email(placeholder='yourname@email.com', value="", type="email") }} <br/>
    {{ form.password(placeholder='Password') }} <br/>
    {{ form.password2(placeholder='Confirm password') }} <br/>
    {{ form.submit(type="submit") }} <br/>
    {{ form.csrf_token }}
</form>
content
{% endblock portal_content %}
