{% extends "index_layout.html" %}
{% block title %}Profireader - Password Reset{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block portal_base %}
    {% include 'partials/portal_base_Profireader_auth_user.html' %}
{% endblock portal_base %}

{% block portal_content %}
<div ng-controller="UserLoginController">
<div>
    <h1 class="nice-title">{{ '{{' }}_('Reset Your Password'){{ '}}' }}<span></span></h1>
</div>
<form action="{{ url_for('auth.password_reset_request') }}" method="POST">
    {{ form.email(placeholder='yourname@email.com', value="", type="email") }} <br/>
    {{ form.submit(type="submit") }}
    {{ form.csrf_token }}
</form>
content
    </div>
{% endblock portal_content %}
