<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% if title %}
    <title>Profireader-article</title>
    {% else %}
    <title>Profireader</title>
    {% endif %}
</head>
<body>
<form action="" name="article" method="post">
    {{ form.hidden_tag() }}
    <div>
        <p>
            <p>Name for your article {{ form.name }}</p>
            {{ form.article(cols=70, rows=15) }}
        </p>
    </div>
    <div>{% for post in posts %}
        <p>
            Your "{{ post.name }}" article
        </p>
        <p>{{ post.article_text }}</p>
        <p>_____________________________</p>
        {% endfor %}

    </div>


<div>
    <input type="submit" value="Save">
</div>

</form>
</body>
</html>