            <span ng-controller="UserLoginController" class="topbar-menu-links">
                    <span ng-cloak ng-show="{{ '{{' }}user.id{{ '}}' }}">
                       <a href="{{ url_for('company.show') }}">Materials</a>
                    </span>
                                    <span ng-cloak ng-show="{{ '{{' }}user.id{{ '}}' }}">
                       <a href="{{ url_for('company.show') }}">Publications</a>
                    </span>
                                    <span ng-cloak ng-show="{{ '{{' }}user.id{{ '}}' }}">
                       <a href="{{ url_for('company.show') }}">Readers</a>
                    </span>
                                    <span ng-cloak ng-show="{{ '{{' }}user.id{{ '}}' }}">
                       <a href="{{ url_for('portal.partners', company_id=comp.id) }}">Companies Partners</a>
                    </span>
                                    <span ng-cloak ng-show="{{ '{{' }}user.id{{ '}}' }}">
                       <a href="{{ url_for('company.show') }}">Comments</a>
                    </span>
                                    <span ng-cloak ng-show="{{ '{{' }}user.id{{ '}}' }}">
                       <a href="{{ url_for('company.employees', comp_id=comp.id) }}">Employees</a>
                    </span>
                                                    <span ng-cloak ng-show="{{ '{{' }}user.id{{ '}}' }}">
                       <a href="{{ url_for('company.profile', company_id=comp.id)}}">Profile</a>
                    </span>
                </span>