{% extends "index_layout.html" %}
{% block title %}Profireader{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block portal_base %}
    {% include 'partials/portal_base_Profireader.html' %}
{% endblock portal_base %}




{% block content %}


<form>
{% for comp in companies %}
    <a href="{{ url_for('company.profile', company_id=comp.id)}}">{{ comp.name }}</a>

    {% endfor %}
</form>

    <h2><a href="{{ url_for('company.add') }}">ADD COMPANY</a></h2>

  <form class="subscribe" action="{{ url_for('company.subscribe_search_form') }}" onsubmit="return AjaxPost()" id="subscribe" method="post">
<h3><p>Subscribe to company</p></h3>
<p>Enter company id<input type="text" id="company" placeholder="ID" name="company"></p>
<input type="submit" value="submit">
  </form>


      <script type="text/javascript">


 function AjaxPost() {
  $.post('', {
             'company': $("#company").val()
 }, function (resp) {
             console.log(resp);
           },
   'json');
   return true;
 };

</script>




{% endblock content %}

{% block footer %}
    {% include 'partials/portal_footer_Profireader.html' %}
{% endblock footer %}