

    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/angular/angular.min.js"></script>
    <script src="/static/angular/angular-cookies.min.js"></script>
    <script src="/static/angular/angular-translate.min.js"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/static/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/static/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/static/angular-animate/angular-animate.min.js"></script>



    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script src="/static/file_uploader/dist/ng-file-upload.js"></script>
{#     <script src="/static/file_uploader/demo/src/main/webapp/js/upload.js"></script>#}
<script>
var app = angular.module('fileUpload', ['ngFileUpload']);
app.controller('MyCtrl', ['$scope', 'Upload', '$timeout', function ($scope, Upload, $timeout) {
    $scope.name = '';
      $scope.chunkSize = '20480KB';

  $scope.uploadUsingUpload=function(file) {
      $scope.f = file;
      console.log(file);
    file.upload = Upload.upload({

      url: 'http://profi.ntaxa.com/filemanager/send/{{ company_id }}/',
        data : $scope.name,
      resumeSizeUrl: 'http://profi.ntaxa.com/filemanager/resumeopload/',
      resumeChunkSize: $scope.chunkSize,
      headers: {
        'optional-header': 'header-value'
      },

      fields: {username: $scope.username},
      file: file});
                file.upload.progress(function (evt) {
                file.progress = Math.min(100, parseInt(100.0 *
                                                       evt.loaded / evt.total));
            });
  };
}]);
</script>
{% raw %}
<body ng-app="fileUpload" ng-controller="MyCtrl">
  <h4>Upload on file select</h4>{{ resp }}
  <button type="file" ngf-select="uploadUsingUpload($file)" ngf-max-size="10000MB">
      Select File</button>
  <br><br>
  File:
  <div>{{f.name}} {{f.$error}} {{f.$errorParam}}
      <span class="progress" ng-show="f.progress >= 0">
          <div ng-bind="f.progress + '%'"></div>
      </span>
  </div>
  {{errorMsg}}
</body>
{% endraw %}