{% extends "index_layout.html" %}

{% block content %}
<!-- TODO: OZ by OZ: move this templates to separate .js file -->
{% include 'pager.html' %}
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}

        {% block portal_content %}
            Portal Content
        {% endblock portal_content %}
        <br/>
    </div>
{% endblock content %}
