{# see: https://github.com/mbr/flask-bootstrap/blob/master/flask_bootstrap/templates/bootstrap/base.html #}
{% extends "bootstrap/base.html" %}

{% block html_attribs %} lang="en"{% endblock %}
{% block title %}Profireader{% endblock %}

{% block metas %}
    {{ super() }}
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
{% endblock metas %}

{% block styles %}
{#    {{ super() }}#}
{#    <link rel="stylesheet" type="text/css" href="/static/filemanager/angular-filemanager.css">#}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'image_editor/dist/cropper.css') }}">
    {#<link href="{{ url_for('static', filename = 'image_editor/assets/css/bootstrap.min.css') }}" rel="stylesheet">#}
    {#<link href="{{ url_for('static', filename = 'image_editor/demo/css/main.css') }}" rel="stylesheet">#}
    {#
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/profireader.css">
    <link rel="stylesheet" href="/static/css/oles.css">
{%- endblock styles %}

{%- block head %}
    {{ super() }}

    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/static/favicon.gif" type="image/gif" />

{{ config_variables()|safe }}

{#    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>#}
{#    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>#}


    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
    <script src="{{ url_for('static', filename = 'angular/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'angular-bootstrap/ui-bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'angular-bootstrap/ui-bootstrap-tpls.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'tinymce/tinymce.jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'angular-ui-tinymce/tinymce.js') }}"></script>

    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.2.js"></script>
{#    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.2.js"></script>#}

    {% if angular_ui_bootstrap_version %}
    <script src="{{ angular_ui_bootstrap_version }}"></script>
    {% endif %}
        <script src="{{ url_for('static', filename = 'image_editor/dist/cropper.js') }}"></script>
    {#<script src="{{ url_for('static', filename = 'image_editor/demo/js/main.js') }}"></script>#}
    {#    <script src="/static/filemanager/angular-filemanager.min.js"></script><!-- Comment if you need to use raw source code -->#}

    {#    <script src="/static/filemanager/cached-templates.js"></script><!-- Comment if you need to use raw source code -->#}
{#    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>#}

    <script src="/static/js/underscore-min.js"></script>
    <script src="/static/js/profireader_angular.js"></script>

    <script src="/static/js/jquery.smooth-scroll.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>



{%- endblock head %}


{% block body_attribs %} ng-app="Profireader" ng-model-options="{{ "{" }}updateOn: 'default change blur', debounce: {{ "{" }} 'default': 250, 'change': 250, 'blur': 0 {{ "}" }} {{ "}" }}" {% endblock body_attribs %}

{% block navbar %}
    {% include 'partials/base_profireader.html' %}
{% endblock navbar %}

{% block content %}
    <div class="container widewrapper">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}

        {% block portal_content %}
            Portal Content
        {% endblock portal_content %}
        <br/>
     </div>
{% include 'partials/portal_footer_Profireader.html' %}
{% endblock content %}

{% block scripts %}
{%- endblock scripts %}
