<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta name="globalsign-domain-verification" content="ZjrAvK_A6dWV7rk42ZzORiOAGOfHsDCi8viChOIoKF">
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <title>
            {% block title %}{% endblock %}
        </title>
        {% include 'partials/imports_profireader.html' %}
    {% endblock head %}
</head>
<body>
    <noscript><div id="noscript-padding"></div></noscript>
    <div class="wrapper">
        <div id="overlay-header"></div>
        {% include 'partials/base_profireader.html' %}
        <script src="../static/js/topbar.js"></script>
        <header>
            {% block base_portal %}{% endblock base_portal %}
        </header>

        {% block content %}{% endblock content %}
    </div> <!-- end wrapper -->

{% block footer %}
{% endblock %}

</body>
</html>
