{% extends "index_layout.html" %}
{% block title %}Profireader{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block portal_base %}
    {% include 'partials/portal_base_Profireader.html' %}
{% endblock portal_base %}

{% block content %}
    <section id="content">
            <div class="contentWrapper">


<div class="hero-box">
    <div class="close"><a title="click to close"><img src="../static/images/close.png" alt="close"></a></div>
    <div class="row">
        <div class="text">
            <h3 class="title">Stack Exchange Q&amp;A communities are different. Here's how:</h3>
        </div>
        <div>
            <div class="column">
                <img src="../static/images/bubble.png" alt="Speech bubbles">
                <div class="blurb">
                    <em>Expert communities.</em><br>
                    Each of our <span class="old">146</span>
                    communities is built by people passionate about a focused topic.
                </div>
            </div>
            <div class="column">
                <img src="../static/images/vote.png" alt="Voting arrows">
                <div class="blurb">
                    <em>The right answer. Right on top.</em><br>
                    Experts like you can vote on posts, so the most helpful answers are easy to find.
                </div>
            </div>
            <div class="column">
                <img src="../static/images/check.png" alt="checkmark">
                <div class="blurb">
                    <em>Share knowledge. Earn trust.</em><br>
                    Earn reputation and additional privileges for posts others find helpful.
                </div>
            </div>
        </div>
    </div>
    <div class="row"><a data-loc="1" href="http://stackexchange.com/tour" class="tour-link btn">Learn more</a></div>
    <script>
        $('.hero-box .close').click(function () {
            $.cookie("hero", "closed", { path: "/", expires: 365 });
            var $hero = $(".hero-box");
            $hero.slideUp('fast', function () { $hero.remove(); });
            StackExchange.helpers.gps('hero.closed');
            return false;
        });
    </script>
</div>


<div id="mainArea" class="at-top" data-location="0">


<div class="subheader">
    <div class="tabs">
            <a href="http://stackexchange.com/" class="youarehere">hot</a>

            <a href="http://stackexchange.com/questions?tab=realtime">real-time</a>

    </div>
</div>
<br class="cbo">

    <div id="question-list">
    <div data-sid="security.stackexchange.com" class="question-container">
        <a href="http://security.stackexchange.com/questions/94783/why-is-my-internal-ip-address-private-visible-from-internet">

                <div class="hot-question-site-icon">
                    <span title="view this question on security.stackexchange.com"><img src="../static/images/icon-48_004.png" alt="Information Security"></span>
                </div>
        </a>

        <div class="question question-hot">
            <h2>
                <a class="question-link" href="http://security.stackexchange.com/questions/94783/why-is-my-internal-ip-address-private-visible-from-internet" title="This question has been arbitrarily awarded 123.097 hotness points">
                    Why is my Internal IP Address (private) visible from Internet?
                </a>
            </h2>
            <div class="metaInfo">
                        <a href="http://security.stackexchange.com/questions/tagged/ip" class="post-tag ">ip</a>
                        <a href="http://security.stackexchange.com/questions/tagged/geolocation" class="post-tag ">geolocation</a>
                6 answers |
                                    asked 9 hours ago
                                    <span class="owner">
                        by <a href="http://security.stackexchange.com/users/81698/lova-nirina-andrianasolo">Lova Nirina Andrianasolo</a> on
                    </span>
                <a href="http://security.stackexchange.com/" class="question-host">
security                </a>
            </div>
        </div>
    </div>
    <div data-sid="codegolf.stackexchange.com" class="question-container">
        <a href="http://codegolf.stackexchange.com/questions/53732/what-day-is-it-on-flooptonia">

                <div class="hot-question-site-icon">
                    <span title="view this question on codegolf.stackexchange.com"><img src="../static/images/icon-48_018.png" alt="Programming Puzzles &amp; Code Golf"></span>
                </div>
        </a>

        <div class="question question-hot">
            <h2>
                <a class="question-link" href="http://codegolf.stackexchange.com/questions/53732/what-day-is-it-on-flooptonia" title="This question has been arbitrarily awarded 111.118 hotness points">
                    What day is it (on Flooptonia)?
                </a>
            </h2>
            <div class="metaInfo">
                        <a href="http://codegolf.stackexchange.com/questions/tagged/code-golf" class="post-tag ">code-golf</a>
                        <a href="http://codegolf.stackexchange.com/questions/tagged/date" class="post-tag ">date</a>
                10 answers |
                                    asked 3 hours ago
                                    <span class="owner">
                        by <a href="http://codegolf.stackexchange.com/users/30685/ipi">ipi</a> on
                    </span>
                <a href="http://codegolf.stackexchange.com/" class="question-host">
codegolf                </a>
            </div>
        </div>
    </div>

<div class="page-sizer fr"><a href="http://stackexchange.com/?pagesize=15" title="show 15 items per page" class="page-numbers">15</a>
<a href="http://stackexchange.com/?pagesize=30" title="show 30 items per page" class="current page-numbers">30</a>
<a href="http://stackexchange.com/?pagesize=50" title="show 50 items per page" class="page-numbers">50</a>
<span class="page-numbers desc">per page</span>
</div><div class="pager fl">
<span class="page-numbers current">1</span>
<a href="http://stackexchange.com/?page=2" title="go to page 2"><span class="page-numbers">2</span></a>
<a href="http://stackexchange.com/?page=3" title="go to page 3"><span class="page-numbers">3</span></a>
<a href="http://stackexchange.com/?page=4" title="go to page 4"><span class="page-numbers">4</span></a>
<a href="http://stackexchange.com/?page=2" title="go to page 2" rel="next"><span class="page-numbers next"> next</span></a>
</div>
    </div>
</div>
<div id="sideBar">

<div class="module featured-sidebar">
    <div class="heading">Today's Featured Site</div>
    <div class="featured-site" data-sid="unix.stackexchange.com">
        <div class="site-icon">
            <a href="http://unix.stackexchange.com/">
                <img src="../static/images/apple-touch-icon.png" alt="Unix &amp; Linux" class="featured-site-icon"></a>
        </div>
        <div class="site-details">
            <a href="http://unix.stackexchange.com/" title="Unix &amp; Linux - Q&amp;A for users of Linux, FreeBSD and other Un*x-like operating systems.">
                Unix &amp; Linux
            </a>
            <br>
            Q&amp;A for users of Linux, FreeBSD and other Un*x-like operating systems.
        </div>
        <div class="site-stats">
            <div class="stats-container">
                <div class="stats" title="69,273 total questions">69k</div>
                <div class="stats-label">questions</div>
            </div>
            <div class="stats-container">
                <div class="stats" title="108,970 total answers">109k</div>
                <div class="stats-label">answers</div>
            </div>
            <div class="stats-container">
                <div class="stats">79%</div>
                <div class="stats-label">answered</div>
            </div>
        </div>
    </div>
</div>

    <div class="module users-sidebar">
        <div class="heading">Top Network Users</div>
        <p>These users asked or provided top answers for the posts on this page</p>
            <div class="userDetails">
                <a href="http://security.stackexchange.com/users/81698/lova-nirina-andrianasolo"><img src="../static/images/Xk05W.png" alt="Lova Nirina Andrianasolo"></a>
                <div class="userLinks">
                    <span class="sb-userName"><a href="http://security.stackexchange.com/users/81698/lova-nirina-andrianasolo">Lova Nirina Andrianasolo</a></span><br>
                    <span title="Information Security" class="sb-siteName">Information Security</span>
                </div>
            </div>
            <div class="userDetails">
                <a href="http://codegolf.stackexchange.com/users/30685/ipi"><img src="../static/images/kOgsH.jpg" alt="ipi"></a>
                <div class="userLinks">
                    <span class="sb-userName"><a href="http://codegolf.stackexchange.com/users/30685/ipi">ipi</a></span><br>
                    <span title="Programming Puzzles &amp; Code Golf" class="sb-siteName">Programming Puzzles &amp; Code ...</span>
                </div>
            </div>
            <div class="userDetails">
                <a href="http://travel.stackexchange.com/users/13639/redgrittybrick"><img src="../static/images/c922a9420ce846ebbe25ca21d2b90543.jpeg" alt="RedGrittyBrick"></a>
                <div class="userLinks">
                    <span class="sb-userName"><a href="http://travel.stackexchange.com/users/13639/redgrittybrick">RedGrittyBrick</a></span><br>
                    <span title="Travel" class="sb-siteName">Travel</span>
                </div>
            </div>
            <div class="userDetails">
                <a href="http://worldbuilding.stackexchange.com/users/10364/green"><img src="../static/images/7SEeE.png" alt="Green"></a>
                <div class="userLinks">
                    <span class="sb-userName"><a href="http://worldbuilding.stackexchange.com/users/10364/green">Green</a></span><br>
                    <span title="Worldbuilding" class="sb-siteName">Worldbuilding</span>
                </div>
            </div>
            <div class="userDetails">
                <a href="http://security.stackexchange.com/users/36623/ilya-chernomordik"><img src="../static/images/4b323d6466c93bdb9dc4c438d6b5bb89.png" alt="Ilya Chernomordik"></a>
                <div class="userLinks">
                    <span class="sb-userName"><a href="http://security.stackexchange.com/users/36623/ilya-chernomordik">Ilya Chernomordik</a></span><br>
                    <span title="Information Security" class="sb-siteName">Information Security</span>
                </div>
            </div>
            <div class="userDetails">
                <a href="http://english.stackexchange.com/users/130431/vijrox"><img src="../static/images/9c276d9862277956ce66657db45543e6.png" alt="vijrox"></a>
                <div class="userLinks">
                    <span class="sb-userName"><a href="http://english.stackexchange.com/users/130431/vijrox">vijrox</a></span><br>
                    <span title="English Language &amp; Usage" class="sb-siteName">English Language &amp; Usage</span>
                </div>
            </div>
            <div class="userDetails">
                <a href="http://scifi.stackexchange.com/users/1693/tango"><img src="../static/images/ef06754ae7cbcf88a1f6b91cfa1647cc.jpeg" alt="Tango"></a>
                <div class="userLinks">
                    <span class="sb-userName"><a href="http://scifi.stackexchange.com/users/1693/tango">Tango</a></span><br>
                    <span title="Science Fiction &amp; Fantasy" class="sb-siteName">Science Fiction &amp; Fantasy</span>
                </div>
            </div>
            <div class="userDetails">
                <a href="http://workplace.stackexchange.com/users/38305/aabglov"><img src="../static/images/19601080c0fdc02e81f3eff940ff0549.png" alt="Aabglov"></a>
                <div class="userLinks">
                    <span class="sb-userName"><a href="http://workplace.stackexchange.com/users/38305/aabglov">Aabglov</a></span><br>
                    <span title="The Workplace" class="sb-siteName">The Workplace</span>
                </div>
            </div>
            <div class="userDetails">
                <a href="http://stackoverflow.com/users/924313/jco"><img src="../static/images/14d86d9d0a97d8464d59eb42935838ae.jpeg" alt="jco"></a>
                <div class="userLinks">
                    <span class="sb-userName"><a href="http://stackoverflow.com/users/924313/jco">jco</a></span><br>
                    <span title="Stack Overflow" class="sb-siteName">Stack Overflow</span>
                </div>
            </div>
            <div class="userDetails">
                <a href="http://academia.stackexchange.com/users/8513/oxinabox"><img src="../static/images/TJ9hg.png" alt="Oxinabox"></a>
                <div class="userLinks">
                    <span class="sb-userName"><a href="http://academia.stackexchange.com/users/8513/oxinabox">Oxinabox</a></span><br>
                    <span title="Academia" class="sb-siteName">Academia</span>
                </div>
            </div>
            <div class="userDetails">
                <a href="http://puzzling.stackexchange.com/users/14092/qwertylpc"><img src="../static/images/5f9303f5748a0d77f8c94b043fcaad02.png" alt="qwertylpc"></a>
                <div class="userLinks">
                    <span class="sb-userName"><a href="http://puzzling.stackexchange.com/users/14092/qwertylpc">qwertylpc</a></span><br>
                    <span title="Puzzling" class="sb-siteName">Puzzling</span>
                </div>
            </div>
            <div class="userDetails">
                <a href="http://aviation.stackexchange.com/users/8482/anshabhi"><img src="../static/images/picture.jpeg" alt="anshabhi"></a>
                <div class="userLinks">
                    <span class="sb-userName"><a href="http://aviation.stackexchange.com/users/8482/anshabhi">anshabhi</a></span><br>
                    <span title="Aviation" class="sb-siteName">Aviation</span>
                </div>
            </div>
            <div class="userDetails">
                <a href="http://stackoverflow.com/users/4948028/prakruti-pathik"><img src="../static/images/64836004b9973054449a3ee0b8b794cd.png" alt="Prakruti Pathik"></a>
                <div class="userLinks">
                    <span class="sb-userName"><a href="http://stackoverflow.com/users/4948028/prakruti-pathik">Prakruti Pathik</a></span><br>
                    <span title="Stack Overflow" class="sb-siteName">Stack Overflow</span>
                </div>
            </div>
            <div class="userDetails">
                <a href="http://travel.stackexchange.com/users/32156/adam"><img src="../static/images/af3f3c5be153ec81dd81a6032d6701f2.png" alt="Adam"></a>
                <div class="userLinks">
                    <span class="sb-userName"><a href="http://travel.stackexchange.com/users/32156/adam">Adam</a></span><br>
                    <span title="Travel" class="sb-siteName">Travel</span>
                </div>
            </div>
            <div class="userDetails">
                <a href="http://ux.stackexchange.com/users/33756/alex"><img src="../static/images/63c3300cb3deacd4c012e97bfb250800.png" alt="Alex"></a>
                <div class="userLinks">
                    <span class="sb-userName"><a href="http://ux.stackexchange.com/users/33756/alex">Alex</a></span><br>
                    <span title="User Experience" class="sb-siteName">User Experience</span>
                </div>
            </div>
            <div class="userDetails">
                <a href="http://parenting.stackexchange.com/users/7678/rachelc"><img src="../static/images/PZf5Q.png" alt="RachelC"></a>
                <div class="userLinks">
                    <span class="sb-userName"><a href="http://parenting.stackexchange.com/users/7678/rachelc">RachelC</a></span><br>
                    <span title="Parenting" class="sb-siteName">Parenting</span>
                </div>
            </div>
            <div class="userDetails">
                <a href="http://aviation.stackexchange.com/users/5517/freeman"><img src="../static/images/MnkGM.jpg" alt="FreeMan"></a>
                <div class="userLinks">
                    <span class="sb-userName"><a href="http://aviation.stackexchange.com/users/5517/freeman">FreeMan</a></span><br>
                    <span title="Aviation" class="sb-siteName">Aviation</span>
                </div>
            </div>
            <div class="userDetails">
                <a href="http://stackoverflow.com/users/1639427/steve-dell"><img src="../static/images/c60552143017b175abeb3bb3ab806a93.png" alt="Steve Dell"></a>
                <div class="userLinks">
                    <span class="sb-userName"><a href="http://stackoverflow.com/users/1639427/steve-dell">Steve Dell</a></span><br>
                    <span title="Stack Overflow" class="sb-siteName">Stack Overflow</span>
                </div>
            </div>
            <div class="userDetails">
                <a href="http://gaming.stackexchange.com/users/115641/ionic"><img src="../static/images/423694d07ce57ac1d1ae155a7ddc7969.png" alt="Ionic"></a>
                <div class="userLinks">
                    <span class="sb-userName"><a href="http://gaming.stackexchange.com/users/115641/ionic">Ionic</a></span><br>
                    <span title="Arqade" class="sb-siteName">Arqade</span>
                </div>
            </div>
            <div class="userDetails">
                <a href="http://askubuntu.com/users/358276/atiq"><img src="../static/images/7TFnG.jpg" alt="Atiq"></a>
                <div class="userLinks">
                    <span class="sb-userName"><a href="http://askubuntu.com/users/358276/atiq">Atiq</a></span><br>
                    <span title="Ask Ubuntu" class="sb-siteName">Ask Ubuntu</span>
                </div>
            </div>
            <div class="userDetails">
                <a href="http://crypto.stackexchange.com/users/24012/mike-ounsworth"><img src="../static/images/uFtBy.png" alt="Mike Ounsworth"></a>
                <div class="userLinks">
                    <span class="sb-userName"><a href="http://crypto.stackexchange.com/users/24012/mike-ounsworth">Mike Ounsworth</a></span><br>
                    <span title="Cryptography" class="sb-siteName">Cryptography</span>
                </div>
            </div>
            <div class="userDetails">
                <a href="http://academia.stackexchange.com/users/10936/adipro"><img src="../static/images/5823e4b107ebc63040d093a270eb8667.png" alt="adipro"></a>
                <div class="userLinks">
                    <span class="sb-userName"><a href="http://academia.stackexchange.com/users/10936/adipro">adipro</a></span><br>
                    <span title="Academia" class="sb-siteName">Academia</span>
                </div>
            </div>
            <div class="userDetails">
                <a href="http://unix.stackexchange.com/users/22222/terdon"><img src="../static/images/1MUb2.png" alt="terdon"></a>
                <div class="userLinks">
                    <span class="sb-userName"><a href="http://unix.stackexchange.com/users/22222/terdon">terdon</a></span><br>
                    <span title="Unix &amp; Linux" class="sb-siteName">Unix &amp; Linux</span>
                </div>
            </div>
            <div class="userDetails">
                <a href="http://mathematica.stackexchange.com/users/28092/jakobh"><img src="../static/images/d60f49991fb79001175f4da0ca4bbe0c.png" alt="JakobH"></a>
                <div class="userLinks">
                    <span class="sb-userName"><a href="http://mathematica.stackexchange.com/users/28092/jakobh">JakobH</a></span><br>
                    <span title="Mathematica" class="sb-siteName">Mathematica</span>
                </div>
            </div>
            <div class="userDetails">
                <a href="http://ux.stackexchange.com/users/41541/dleh"><img src="../static/images/UJEcq.jpg" alt="DLeh"></a>
                <div class="userLinks">
                    <span class="sb-userName"><a href="http://ux.stackexchange.com/users/41541/dleh">DLeh</a></span><br>
                    <span title="User Experience" class="sb-siteName">User Experience</span>
                </div>
            </div>
            <div class="userDetails">
                <a href="http://english.stackexchange.com/users/127613/jaeger-jay"><img src="../static/images/9a530eadd7a513285b392104dc6a15eb.png" alt="Jaeger Jay"></a>
                <div class="userLinks">
                    <span class="sb-userName"><a href="http://english.stackexchange.com/users/127613/jaeger-jay">Jaeger Jay</a></span><br>
                    <span title="English Language &amp; Usage" class="sb-siteName">English Language &amp; Usage</span>
                </div>
            </div>
            <div class="userDetails">
                <a href="http://raspberrypi.stackexchange.com/users/33098/flamingmoe"><img src="../static/images/cc61a6af625ccc43a6d9b5a26ee9307b.jpeg" alt="FlamingMoe"></a>
                <div class="userLinks">
                    <span class="sb-userName"><a href="http://raspberrypi.stackexchange.com/users/33098/flamingmoe">FlamingMoe</a></span><br>
                    <span title="Raspberry Pi" class="sb-siteName">Raspberry Pi</span>
                </div>
            </div>
            <div class="userDetails">
                <a href="http://superuser.com/users/329619/researcher"><img src="../static/images/f99f10f1e47a33ea3dfba5f651c1789f.png" alt="researcher"></a>
                <div class="userLinks">
                    <span class="sb-userName"><a href="http://superuser.com/users/329619/researcher">researcher</a></span><br>
                    <span title="Super User" class="sb-siteName">Super User</span>
                </div>
            </div>
            <div class="userDetails">
                <a href="http://codegolf.stackexchange.com/users/0/user40734"><img src="../static/images/a.png" alt="user40734"></a>
                <div class="userLinks">
                    <span class="sb-userName"><a href="http://codegolf.stackexchange.com/users/0/user40734">user40734</a></span><br>
                    <span title="Programming Puzzles &amp; Code Golf" class="sb-siteName">Programming Puzzles &amp; Code ...</span>
                </div>
            </div>
            <div class="userDetails">
                <a href="http://space.stackexchange.com/users/6537/echologic"><img src="../static/images/mG08u.jpg" alt="EchoLogic"></a>
                <div class="userLinks">
                    <span class="sb-userName"><a href="http://space.stackexchange.com/users/6537/echologic">EchoLogic</a></span><br>
                    <span title="Space Exploration" class="sb-siteName">Space Exploration</span>
                </div>
            </div>
</div>
    <div class="module sites-sidebar">
    <div class="heading">Top Network Sites</div>
    <ul>
            <li>
                <a href="http://stackoverflow.com/" title="Stack Overflow - Q&amp;A for professional and enthusiast programmers">
                    <img src="../static/images/favicon_007.ico" class="favicon" alt="Stack Overflow">
                    Stack Overflow
                </a>
            </li>
            <li>
                <a href="http://superuser.com/" title="Super User - Q&amp;A for computer enthusiasts and power users">
                    <img src="../static/images/favicon_009.ico" class="favicon" alt="Super User">
                    Super User
                </a>
            </li>
            <li>
                <a href="http://askubuntu.com/" title="Ask Ubuntu - Q&amp;A for Ubuntu users and developers">
                    <img src="../static/images/favicon_008.ico" class="favicon" alt="Ask Ubuntu">
                    Ask Ubuntu
                </a>
            </li>
    </ul>

    <p class="footer">
        <a href="http://stackexchange.com/sites"><b>view all 146 sites »</b></a>
    </p>
</div>
</div>
<div id="feed-link">
    <a href="http://stackexchange.com/feeds/questions" title="the 30 most recent hot questions"><span class="feed-icon"></span> hot questions feed</a>
</div>
<br class="cbo">
            </div>
        </section>
    <script>
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-5620270-24']);
            _gaq.push(['_setDomainName', '.stackexchange.com']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

            _qoptions = { qacct: "p-c1rF4kxgLUzNc" };
        </script>
    <script src="../static/js/quant.js"></script>
    <noscript>
            <img src="//pixel.quantserve.com/pixel/p-c1rF4kxgLUzNc.gif" style="display:none; border:none; height:1px; width:1px" alt="Quantcast"/>
            </noscript>

{% endblock content %}

{% block footer %}
    {% include 'partials/portal_footer_Profireader.html' %}
{% endblock footer %}
