{% extends "index_layout.html" %}
{% block title %}Profireader{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block portal_base %}
    {% include 'partials/portal_base_Profireader.html' %}
{% endblock portal_base %}


{% block content %}
    {% include 'partials/Signup - Profireader.html' %}
{% endblock content %}

{% block footer %}
    {% include 'partials/portal_footer_Profireader.html' %}

    <noscript>
        <div id="noscript-warning">Stack Exchange works best with JavaScript enabled</div>
    </noscript>
    <script>
        var settings = {
            contentPath: "//sstatic.net/stackexchange"
        };
        $(function() {
            StackExchange.init({"serverTime":1437759907});
            StackExchange.topbar.init();
        });
    </script>

    <iframe scrolling="no" class="igtranslator-iframe" src="a.html" frameborder="0"></iframe><div title="Click to Show Translation" style="background-image: url(resource://jid1-dgnibwqga0sibw-at-jetpack/igtranslator/data/content_script/icon.png)" class="igtranslator-activator-icon"></div></body>
{% endblock footer %}
