{% extends "index_layout.html" %}
{% block title %}Profireader - {{ current_user.profireader_name }}{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block portal_base %}
    {% include 'partials/portal_base_Profireader.html' %}
{% endblock portal_base %}

{% block portal_content %}
<h1>Your Profile</h1>

{#<img class="img-rounded profile-thumbnail" src="{{ g.user.gravatar(size=256) }}"><br>#}
<img class="img-rounded profile-thumbnail" src="{{ current_user.profireader_avatar_url }}" style="width:256px;border:0"><br>
<a ng-click="mySwitch = !mySwitch">
    <span ng-hide="mySwitch">[upload picture]</span>
    <span ng-show="mySwitch">[hide]</span>
</a>
<form id="avatar" ng-show="mySwitch" ng-init="mySwitch=false" action="{{ request.path }}" method="post" enctype="multipart/form-data">
    Select image to upload:
    <input type="file" name="avatar" id="fileToUpload">
    <input type="submit" value="Upload Image" name="submit">
</form>
<br/>
<br/>
<br/>


<form action="{{ url_for('user.edit_profile', user_id=g.user.id) }}" onsubmit="return AjaxPost()" method="post">
    <p>Your display name: <input type="text" placeholder="name" name="name" value="{{ g.user.profireader_name }}"></p>
    <p>Your email: {{ g.user.profireader_email }}  <a href="{{ url_for('auth.change_email_request') }}"> [change]</a></p>
    <p>Your first name: <input type="text" placeholder="first name" name="first_name" value="{{ g.user.profireader_first_name or '' }}"></p>
    <p>Your last name: <input type="text" placeholder="last name" name="last_name" value="{{ g.user.profireader_last_name or '' }}"></p>
    <p>Gender:
        {% if g.user.profireader_gender=='female' %}
            <label for="male">Male</label>
            <input type="radio" name="gender" id="male" value="male">
            <label for="female">Female</label>
            <input type="radio" name="gender" id="female" value="female" checked>
        {% else %}
            <label for="male">Male</label>
            <input type="radio" name="gender" id="male" value="male" checked>
            <label for="female">Female</label>
            <input type="radio" name="gender" id="female" value="female">
        {% endif %}
    </p>
    <p>Your web-page: <input type="text" placeholder="www.your.webpage.com" name="link" value="{{ g.user.profireader_link or '' }}"></p>
    <p>Phone: <input type="text" placeholder="your phone" name="phone" value="{{ g.user.profireader_phone or '' }}"></p>
    <p>Location: <input type="text" placeholder="your city" name="location" value="{{ g.user.location or '' }}"></p>
    <p>About me: <textarea name="about_me" cols="40" rows="8" placeholder="Give us some information about you please">{{ g.user.about_me or '' }}</textarea></p>
    <input type="submit" value="Update Profile">
</form>


{#<form class="send coordinates" action="{{ url_for('article.update', article_version_id = article_version.id) }}" onsubmit="return AjaxPost()" id="edit" method="post">#}
{##}
{#<h3></h3>#}
{##}
{#<p>Article name<br/><input type="text" id="name" placeholder="name" name="name" value="{{ article_version.name }}"></p>#}
{#<p>Short Description<br/><textarea id="short" placeholder="short" name="short">{{ article_version.short }}</textarea></p>#}
{#<p>Full text<br/><textarea placeholder="text" name="long">{{ article_version.long }}</textarea></p>#}
{##}
{#<input type="submit" value="...">#}
{#</form>#}

{% endblock portal_content %}

{% block portal_footer %}
    {% include 'partials/portal_footer_Profireader.html' %}
{% endblock portal_footer %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    <script type="text/javascript">

        tinymce.init({
            image_advtab: true ,
            width: 500,
            selector: "#full"
        });

 function AjaxPost() {
  $.post({{ request.path }}, {
             'name': $("#name").val(),
              'short': $("#short").val(),
              'full': $("#full").val()
 }, function (resp) {
             console.log(resp);
           },
   'json');
   return true;
 };

 function AjaxPost2() {
  $.post('', {
             'logo_file': $("#logo_file").val(),
             'name': $("#name").val()
 }, function (resp) {
             console.log(resp);
           },
   'json');
   return true;
 };

</script>

{% endblock %}
