# comprehensive .gitignore can be found here:
# https://github.com/github/gitignore/blob/master/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
Virtualenviroment/
# C extensions
*.so
.bowerrc
# Distribution / packaging
.Python
env/
env2/
build/
develop-eggs/
downloads/
eggs/
/client_secret.*
client_secret.*
.eggs/
venv/
.venv/
/venv/
venv/*
lib/
lib64/
parts/
sdist/
var/
database_full.*
/database_full.*
*.egg-info/
.installed.cfg
*.egg
*client_secrets.json
*client_secret.json
/*client_secrets.json
/*client_secret.json
# PyInstaller
client_secret.json
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
service_key.*
# Translations
*.mo
*.pot

# Django stuff:
*.log
client_secret.*
# Sphinx documentation
docs/_build/

# PyBuilder
target/

# PyCharm
.idea/

# all backup files
*~

# secret data
secret_data.*
database.*.bak
*.sql
*.bak
.venv/

tmp*

**/node_modules
**/bower_components

*.sql
