{% extends "index_lazy_layout.html" %}

{% block title %}Article history{% endblock title %}

{% block portal_content %}


    <script>
        module.controller('article_my_versions', ['$scope', '$ok', '$translate', function ($scope, $ok, $translate) {
            $scope.article = {{ article|safe }};
            $scope.url_update = {{ raw_url_for('article.show_form_update')|safe }};
            $scope.url_send = {{ raw_url_for('article.send_to_company')|safe }};
            $scope.selectedCompany_name = '';
            $scope.selectedCompany_id = name;
            $scope.selectedCompany_sending = false;

            $scope.submitToCompany = function (company_id) {
                $scope.selectedCompany_sending = company_id;
                $http.post($scope.url_send({article_id: $scope.article.id}), {company_id: company_id}).then().finally(function () {
                    $scope.selectedCompany_sending = false;
                });
            };

            $scope.onSelect = function ($item, $model, $label) {
                if (!$item || !$item.id) {
                    $scope.selectedCompany_name = '';
                    $scope.selectedCompany_id = null;
                }
                else {
                    $scope.selectedCompany_id = $item.id;
                }
            };

            $scope.getCompanyToSubmit = function (val) {
                return $ok('{{ url_for('company.search_to_submit_article') }}', {search: val}, function (resp) {
                    console.log(resp);
                    return resp;
{#                    return resp.map(function (item) {#}
{#                        return resp;#}
{#                    });#}
                }, function () {
                    console.log(arguments);
                });
            };

            $scope._ = function (t, dict) {
                return $translate(t, dict ? dict : $scope)
            };
        }]);
    </script>
    <script type="text/ng-template" id="customTemplate.html">
        <a href="#">
            <span ng-show="match.id" bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
            <em ng-show="!match.id" bind-html-unsafe="match.label"></em>
        </a>

    </script>
    <style>
        ul.dropdown-menu li a strong {
            color: #f00;
        }
    </style>

    {% raw %}
    <span ng-controller="article_my_versions">
    <h2>{{ _('Article name is `%(article.mine.title)s`') }}</h2>
    {{ mine.short }}
    <h4>{{ _('Created at %(article.mine.cr_tm)s') }}</h4>
    <h4>{{ _('Last modified at %(article.mine.md_tm)s') }} (<a
            href="{{ url_update({article_company_id: article.mine.id}) }}">edit</a>)</h4>

    {{ _('submit my article to company') }}

    <form style="display: inline">
        <input
                typeahead-on-select="onSelect($item, $model, $label)"
                typeahead-template-url="customTemplate.html" typeahead-loading="loadingLocations"
                ng-model="selectedCompany_name"
                typeahead="company as company.name for company in getCompanyToSubmit($viewValue)" name="company_id"/>&nbsp;
        <button ng-click="submitToCompany()" ng-disabled="!selectedCompany_id">{{ _('submit for publication') }}
        </button>
        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
    </form>
    <h2>{{ _('Submitted to following companies') }}</h2>
    <span ng-repeat="a_submitted in article.submitted">!</span>

    </span>
    {% endraw %}

{% endblock portal_content %}

