<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="{{ url_for('static', filename = 'tinymce/tinymce.min.js') }}"></script>
</head>
<body>

<form class="send coordinates" action="" onsubmit="return AjaxPost()" id="edit" method="post">
<h3><p>Create Article</p></h3>
<p>Article name<br/><input type="text" id="name" placeholder="name" name="name" value="{{ article.name }}"></p>
<p>Short Description<br/><textarea id="short" placeholder="short" name="short_description" value="{{ article.short }}"></textarea></p>
<p>Full text<br/><textarea id="full" placeholder="text" name="short_description" value="{{ article.full }}"></textarea></p>

<input type="submit" value="submit">
</form>

<script type="text/javascript">


        tinymce.init({
            image_advtab: true ,
            width: 500,
            selector: "#full"
        });



 function AjaxPost() {
  $.post('{{ url_for('article.create_article') }}', {
             'name': $("#name").val(),
              'short': $("#short").val(),
              'full': $("#full").val()
 }, function (resp) {
             console.log(resp);
           },
   'json');
   return true;
 };

</script>

</body>
</html>