<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="{{ url_for('static', filename = 'tinymce/tinymce.min.js') }}"></script>
</head>
<body>

<form class="send coordinates" action="{% if article_version.id %}{{ url_for('article.update', article_version_id = article_version.id) }}{% else %}{{ url_for('article.create') }}{% endif %}" onsubmit="return AjaxPost()" id="edit" method="post">

<h3><p>{% if article_version.id %}update{% else %}create{% endif %} article</p></h3>

<p>Article name<br/><input type="text" id="name" placeholder="name" name="name" value="{{ article_version.name }}"></p>
<p>Short Description<br/><textarea id="short" placeholder="short" name="short">{{ article_version.short }}</textarea></p>
<p>Full text<br/><textarea id="full" placeholder="text" name="long">{{ article_version.long }}</textarea></p>

<input type="submit" value="{% if article_version.id %}save{% else %}create{% endif %}">
</form>

<script type="text/javascript">


        tinymce.init({
            image_advtab: true ,
            width: 500,
            selector: "#full"
        });



 function AjaxPost() {
  $.post('{{ url_for('article.create') }}', {
             'name': $("#name").val(),
              'short': $("#short").val(),
              'full': $("#full").val()
 }, function (resp) {
             console.log(resp);
           },
   'json');
   return true;
 };

</script>

</body>
</html>