<script>
    module.controller('article_edit', ['$scope', '$modal', function ($scope, $modal) {
        $scope.details_article = {{ raw_url_for('article.details')|safe }};
        {% if article_company_id %}
            $scope.save_article = '{{ url_for('article.save', article_company_id = article_company_id)|safe }}';
        {% else %}
            $scope.save_article = '{{ url_for('article.confirm_create')|safe }}';
        {% endif %}
        $scope.afterSave = function (resp) {
            window.location.href = $scope.details_article({article_id: resp['id']})
        };
        $scope.getData = function () {
            return $scope.data;
        };
        $scope.articleImageSelected = function (item) {
            $scope.data.image_file_id = item.id;
            $scope.setImageUrl();
            closeFileManager();
        }
        $scope.setImageUrl = function () {
            $scope.image_file_url = fileUrl($scope.data.image_file_id);
        }
        $scope.chooseImage = function () {
            $scope.filemanagerModal = $modal.open({
                templateUrl: 'filemanager.html',
                controller: 'filemanagerCtrl',
                size: 'filemanager-halfscreen',
                resolve: {
                    file_manager_called_for: function () {
                        return 'file_browse_image'
                    },
                    file_manager_on_action: function () {
                        return {
                            choose: "parent.angularControllerFunction('article_edit', 'articleImageSelected')"
                        }
                    }
                }
            });
        };
    }]);
</script>

{% raw %}
<div ng-init="loadData(null, {}, null, setImageUrl)" ng-controller="article_edit">
    <div ng-if="!data">Loading...</div>
    <div ng-if="data">

        <h2 ng-show="!data.id">{{ _('Create new article') }}</h2>

        <h2 ng-show="data.id && company">{{ _('update version of article for company `%(company.name)s`', company)
            }}</h2>

        <h2 ng-show="data.id && !company">{{ _('update your version of article') }}</h2>

        <!-- TODO: OK by OZ:   this block form should share same classes with layout to look MAXIMUM like in portal
                maybe layout selector is apporpriate here-->

        <form
                ng-ok
                ng-onsuccess="afterSave"
                ng-onsubmit="getData"
                ng-action="save_article">
            <div style="width: 400px; float: left">
                <input type="hidden" ng-model="data.id"/>
                {{ _('Article title') }}
                <input style="width: 100%" type="text" ng-model="data.title">
                {{ _('Short Description') }}
                <textarea style="width: 100%" placeholder="short" ng-model="data.short"></textarea>
                {{ _('KeyWords') }}
                <input style="width: 100%" ng-model="data.keywords"/>
                {{ _('Full text') }}
                <textarea ui-tinymce="tinymceImageOptions" placeholder="text"
                          ng-model="data.long"></textarea>
            </div>

            <div ng-click="chooseImage()"
                 style="float: left; margin-left: 50px; width: 300px; height: 240px; border: 1px solid #aaa;
                        background-size: cover; background-image:url({{ image_file_url }});">
                {{ _('Select main article image') }}
            </div>

            <div style="clear: both"></div>
            <br/>
            <input type="hidden" ng-model="data.image_file_id">
            <input style="clear: both;" type="submit"
                   value="{{ data.id ? 'save' : 'create' }}"/>

        </form>
    </div>
</div>

{% endraw %}