<script>


    module.controller('article_edit', ['$scope', function ($scope) {

        $scope.details_article = {{ raw_url_for('article.details')|safe }};
        {% if article_company_id %}
            $scope.save_article = '{{ url_for('article.save', article_company_id = article_company_id)|safe }}';
        {% else %}
            $scope.save_article = '{{ url_for('article.confirm_create')|safe }}';
        {% endif %}


        $scope.afterSave = function (resp) {
            window.location.href = $scope.details_article({article_id: resp['id']})
        }

        $scope.getData = function () {
            return $scope.data;
        };


    }]);
</script>

{% raw %}
<div ng-init="loadData()" ng-controller="article_edit">
    <div ng-if="!data">Loading...</div>
    <div ng-if="data">

        <h2 ng-show="!data.id">{{ _('Create new article') }}</h2>

        <h2 ng-show="data.id && company">{{ _('update version of article for company `%(company.name)s`', company)
            }}</h2>

        <h2 ng-show="data.id && !company">{{ _('update your version of article') }}</h2>

        <form ng-ok
              ng-onsuccess="afterSave"
              ng-onsubmit="getData"
              ng-action="save_article">
            <input type="hidden" ng-model="data.id">
            {{ _('Article title') }}<br/>
            <input type="text" ng-model="data.title"><br/><br/>




            {{ _('Article image id') }}<br/>
            <input type="text" ng-model="data.image_file_id"><br/><br/>

            {{ _('Short Description') }}<br/>
            <textarea placeholder="short" ng-model="data.short"></textarea><br/><br/>


            <div>
                <div style="display: block; margin-right: 15px; width: 150px; height: 150px; border: 1px solid #ccc; background: #eee; float: left;">{{ _('Select main article image') }}</div>
                <div style="width: 75%; float: right;">
                    {{ _('Full text') }}<br/>
                    <textarea class="" ui-tinymce="tinymceImageOptions" placeholder="text" ng-model="data.long"></textarea><br/><br/>
                    </div>
            </div>
            <input style="clear: both;" type="submit" value="{{ data.id ? 'save' : 'create' }}">

        </form>
    </div>
</div>

{% endraw %}