<script>


    module.controller('article_edit', ['$scope', function ($scope) {

        $scope.details_article = {{ raw_url_for('article.details')|safe }};
        {% if article_company_id %}
            $scope.save_article = '{{ url_for('article.save', article_company_id = article_company_id)|safe }}';
        {% else %}
            $scope.save_article = '{{ url_for('article.confirm_create')|safe }}';
        {% endif %}


        $scope.afterSave = function (resp) {
            window.location.href = $scope.details_article({article_id: resp['id']})
        };

        $scope.getData = function () {
            return $scope.data;
        };

        $scope.chooseImage = function () {

        };


    }]);
</script>

{% raw %}
<div ng-init="loadData()" ng-controller="article_edit">
    <div ng-if="!data">Loading...</div>
    <div ng-if="data">

        <h2 ng-show="!data.id">{{ _('Create new article') }}</h2>

        <h2 ng-show="data.id && company">{{ _('update version of article for company
            `%(company.name)s`', company)
            }}</h2>

        <h2 ng-show="data.id && !company">{{ _('update your version of article') }}</h2>

        <!-- TODO: OK by OZ:   this block form shuld share same classes with layout to look MAXIMUM like in portal
                maybe layout selector is apporpriate here-->

        <form ng-ok
              ng-onsuccess="afterSave"
              ng-onsubmit="getData"
              ng-action="save_article">
            <div style="width: 400px; display: inline-block">
                <input type="hidden" ng-model="data.id"/>
                {{ _('Article title') }}<br/>
                <input style="width: 100%" type="text" ng-model="data.title"><br/><br/>


                {{ _('Short Description') }}<br/>
                <textarea style="width: 100%" placeholder="short"
                          ng-model="data.short"></textarea><br/><br/>


                {{ _('Full text') }}<br/>
                <textarea class="" ui-tinymce="tinymceImageOptions" placeholder="text"
                          ng-model="data.long"></textarea><br/><br/>
            </div>
            <div style="width: 500px; display: inline-block; margin-left: 50px;">
                <div style="display: block; border: 1px solid #ccc; background: #eee; width: 362px; ">
                    <div ng-click="chooseImage()"
                         style="display: block; margin: 30px; width: 300px; height: 240px; border: 1px solid #aaa; background: #bbb;">
                        {{ _('Select main article image') }}
                    </div>
                </div>

                <input style="width: 100%" type="ahidden" readonly
                       ng-model="data.image_file_id"><br/><br/>

            </div>
            <input style="clear: both;" type="submit" value="{{ data.id ? 'save' : 'create' }}"/>


        </form>
    </div>
</div>

{% endraw %}