{% extends "index_lazy_layout.html" %}

{% block title %}Profireader - Articles list{% endblock title %}

{% block portal_content %}


    <script>
        module.controller('article_list', ['$scope', '$ok', '$sce', function ($scope, $ok, $sce) {

            $scope.url_details = {{ raw_url_for('article.details')|safe }};
            $scope.url_create_article = {{ raw_url_for('article.show_form_create')|safe }};

            $scope.url_list = {{ raw_url_for('article.show_mine')|safe }};
            $scope.url_search_article = '{{ url_for('article.load_mine')|safe }}';
            $scope.get_colored_title = function (text_to_change) {
                return text_to_change
            };

            $scope.page_changed = function () {
                $scope.data.search_text = $scope.data.original_search_text;
                $scope.loading = true;
                $ok($scope.url_search_article, $scope.getData(), function (resp) {
                    $scope.data = resp;
                }).finally(function () {
                    $scope.loading = false;
                });
            };

            $scope.cancel = function () {
                window.location.href = $scope.url_back();
                return false;
            };
            $scope.getData = function () {
                return $scope.data;
            };

            $scope.setFirstPage = function () {
                $scope.loading = true;
                $ok($scope.url_search_article, $scope.getData(), function (resp) {
                    $scope.data = resp;
                }).finally(function () {
                    $scope.loading = false;
                });
            };

            $scope.getCompanies = [];
            $scope.getCompaniesFunc = function (submitted_viersions) {
                $scope.getCompanies = submitted_viersions
            };


        }]);

    </script>
    {% raw %}
    <div ng-init="loadData()" ng-controller="article_list">
        <h1 class="nice-title">Article list<span></span></h1>
        <a class="h1-btn icon icon-add" href="{{ url_create_article() }}" title="{{ _('CREATE NEW ARTICLE') }}"><img src="../../static/front/img/ico/articles.png" /></a>

        <div ng-if="loading">Loading...</div>
        <div ng-if="!loading">


            <table style="width:100%">
                <tr>
                    <td>
                        <input ng-click="setFirstPage()" type="submit" value="search" style="width: 75%;">
                    </td>
                    <td><input style="width: 98%" type="text" placeholder="Search" ng-model="data.search_text"></td>
                    <td>
                        <select style="width: 100%; padding: 5px;" ng-model="data.chosen_company"
                                ng-options="comp.name for comp in data.companies | orderBy:'id' track by comp.id"></select>
                    </td>
                    <td>

                        <select style="width: 100%; padding: 5px;" ng-model="data.chosen_status"
                                >
                            <option ng-repeat="status in data.statuses">{{ status }}</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <th width="250px">Date</th>
                    <th width="250px">Title</th>
                    <th width="250px">Campanies</th>
                    <th><p>Status</p></th>
                </tr>
            </table>
            <table style="width:100%" ng-repeat="article_dict in data.articles">

                <tr ng-if="article_dict.company_count>1">
                    <td rowspan="{{ article_dict.company_count }}" width="250px">{{
                        article_dict.article.mine_version.md_tm }}
                    </td>
                    <td rowspan="{{ article_dict.company_count }}" width="250px"><a
                            href="{{ url_details({company_id:'0',article_id:article_dict.article.id}) }}"
                            ng-bind-html="highlightSearchResults(article_dict.article.mine_version.title, data.original_search_text)">
                    </a></td>
                </tr>
                <tr ng-if="article_dict.company_count>1"
                    ng-repeat="companies in article_dict.article.submitted_versions">

                    <td width="250px"
                        ng-if="companies.status==data.original_chosen_status||!data.original_chosen_status">{{
                        companies.company.name }}
                    </td>
                    <td ng-if="companies.status==data.original_chosen_status||!data.original_chosen_status">{{
                        companies.status }}
                    </td>
                </tr>
                <tr ng-if="article_dict.company_count==1">
                    <td width="250px">{{ article_dict.article.mine_version.md_tm }}</td>
                    <td width="250px"><a href="{{ url_details({company_id:'0',article_id:article_dict.article.id}) }}"
                                         id="{{ article_dict.article.id }}"
                                         ng-bind-html="highlightSearchResults(article_dict.article.mine_version.title, data.original_search_text)"></a>
                    </td>
                    <td width="250px">Not sent to any company yet</td>
                    <td>Not sent</td>
                </tr>

            </table>
            <div ng-show="!loading && !areAllEmpty(data.articles)" ng-include="'pagination.html'"></div>
            <div ng-show="!loading && areAllEmpty(data.articles)">No publications</div>
        </div>
    </div>
    {% endraw %}

{% endblock portal_content %}
