{#    <script>#}
{#        module.controller('pager', ['$scope', '$ok', function ($scope, $ok) {#}
{#            $scope.data = {};#}
{#            $scope.url_list = {{ raw_url_for('article.show_mine')|safe }};#}
{#            $scope.getData = function () {#}
{#                return $scope.data;#}
{#            };#}
{#            $scope.afterSave = function (resp) {#}
{#                $scope.data = resp;#}
{#            };#}
{#            $scope.range = function(number){#}
{#                var range = [];#}
{#for(var i=0;i<number;i++) {#}
{#  range.push(i);#}
{#return range;#}
{#            };#}
{#                        $scope.loadpage = function(page)#}
{#            {#}
{#                $scope.loading = true;#}
{#                $ok('url', {page = page}, function (resp) {#}
{#                    $scope.loading = false;#}
{#                    $scope.data = resp#}
{#                });#}
{#            };#}

{#        }])#}
{#    </script>#}<script>
angular.module('ui.bootstrap.pagination').controller('PaginationDemoCtrl', function ($scope, $log) {
  $scope.currentPage = 4;

  $scope.setPage = function (pageNo) {
    $scope.currentPage = pageNo;
  };

  $scope.pageChanged = function() {
    $log.log('Page changed to: ' + $scope.currentPage);
  };

{#  $scope.maxSize = 5;#}
{#  $scope.bigTotalItems = 1;#}
{#  $scope.bigCurrentPage = 1;#}
$scope.clickable = function(){document.getElementById("hidden_submit").click();};
    $scope.numPages = 21;
});</script>{% raw %}
<div ng-init="loadData()" ng-controller="article_list">

<div ng-controller="PaginationDemoCtrl">
                               <form
                ng-ok
                ng-onsuccess="afterSave"
                ng-onsubmit="getData"
                ng-action="url_search_article">
                                   <input type="submit" hidden id="hidden_submit"></form>


    <uib-pagination boundary-links="true" total-items="data.pages" items-per-page="1" ng-model="data.page" ng-change="clickable()" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>

</div></div>{% endraw %}