{% extends "index_lazy_layout.html" %}

{% block title %}Article history{% endblock title %}

{% block portal_content %}

    <script>
    module.controller('article_my_versions', ['$scope', '$modal',  function($scope, $modal) {


    }]);
</script>

{% for version in article_versions %}

    &nbsp;&nbsp;&nbsp;<{{ url_for('article.update', article_version_id=version.id) }}n.id) }}">Edit this version</a><br/>
    <form ang-ajax-form-validate ng-ajax-form {{ url_for('article.clone_for_company') }}any') }}">
    <input type="hidden" name="article_version_id" value="{{ version.id }}" />
        {{ version.compan        {% raw %}% raw %}
        <span ng-hide="version.company.id">
        &nbsp;&nbsp;&nbsp;send this version to company&nbsp;<input name="company_id"/>&nbsp;<button class="btn" type="submit">{{ submitting ? 'sending...' : 'send' }}</button>
            <        {% endraw %}ndraw %}
        <br/> {% endfor %}ndfor %}
{% endblock portal_content %}

