<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    {% include 'front/bird/head.html' %}
</head>

<body>
{% include 'front/bird/nav.html' %}
{% block content %}

    <div class="container">

        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-9">

                <!--                <h1 class="page-header">-->
                <!--                    Page Heading-->
                <!--                    <small>Secondary Text</small>-->
                <!--                </h1>-->

                <!-- Blog Posts -->


                    <div class="block-item full-block-info" style="height: auto;">

                        <div class="item-type article">{{ article['division']['name']|safe }}</div>
                        <p>
<img style="width: 300px; height: 240px; background-size: cover; background-image: url({{ file_url(article['image_file_id']) }}); float: left" />
{{ article['title'] | safe }}<br/>
{{ article['short'] | safe }}<br/>
{% for tag_id in article['tags'] %}<span class="tag_in_article">{{ article['tags'][tag_id] }}</span> {% endfor %}
{{ article['long'] | safe }}<br/>
{{ article['keywords']|safe }}
</p>
                        <div class="item-additional-info">
                            <div class="item-company">{{ article['company']['name']|safe }}</div>
                            <div class="item-publication-date">{{ article['publishing_tm']|safe }}</div>
                        </div>


                        <!--                <a class="btn btn-primary" href="#">Read More <span-->
                        <!--                        class="glyphicon glyphicon-chevron-right"></span></a>-->
                    </div>


            </div>


            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-3">

{#                Blog Search Well#}
                <div class="well">
		    <h4>Search</h4>
                    <div class="input-group">
                        <form action="{{ url_for('front.division', division_name=article['division']['name'], page=1, search_text='%') }}">
                            <input type="text" name="search_text" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </form>
                    </div>

                    {#                 /.input-group #}
                </div>

                {#                 Blog Categories Well #}
                <div class="well">
                    {% include 'front/bird/tags.html' %}
                    {#                 /.row #}
                </div>


            </div>

        </div>
        <!-- /.row -->
    </div>

{% endblock content %}

{% include 'front/bird/footer.html' %}


</body>
</html>