{% extends 'front/bird/layout.html' %}
{% block content %}

    <div class="block-item full-block-info" style="height: auto;">

{#        <img class="article-cover"#}
{#             style="background-size: cover; background-image: url({{ file_url(article['image_file_id']) }});"/>#}
{#        <div class="item-type article">{{ article['division']['name']|safe }}</div>#}
        <h2 class="item-title">{{ article['title']|safe }}</h2>

        <h3 class="item-subtitle">Покроковий план досягнення успіху</h3>

        <div class="item-additional-info-top"
             style="display: block; width: 100%; padding-bottom: 5px; border-bottom: 1px #ccc solid; margin-bottom: 15px;">
            <div class="item-company">{{ article['company']['name']|safe }}</div>
            <div class="item-publication-date">{{ article['publishing_tm']|safe }}</div>
            <div class="item-comments">Коментарів 77</div>
        </div>
        <div class="article-short">
            {{ article['short']|safe }}
        </div>
        <div class="article-content">
{#            <img class="article-cover"#}
{#             style="background-image: url({{ file_url(article['image_file_id']) }});"/>#}
            <div class="s-cover-l"
             style="background-image: url({{ file_url(article['image_file_id']) }});"/></div> {{ article['long'] | safe }} </div>


        <!--                <a class="btn btn-primary" href="#">Read More <span-->
        <!--                        class="glyphicon glyphicon-chevron-right"></span></a>-->


        <div class="tag-list">
            <a href="#">tag1</a>
            <a href="#">tag2</a>
            <a href="#">tag3</a>
            <a href="#">tag4</a>
            <a href="#">tag5</a>
            <a href="#">tag6</a>
        </div>

    </div>


{% endblock content %}