{% extends 'front/bird/layout.html' %}
{% block content %}

    {% for member_id in members %}

        <div class="block-item company-item">
            <img class="block-item-img" style="background-image:url({{ file_url(members[member_id]['logo_file_id']) }});"/>
            <a href="{{ url_for('front.subportal', member_company_id = member_id, member_company_name = members[member_id]['name']) }}"
               href>{{ members[member_id]['name'] }}</a><br/><br/>
            {{ members[member_id]['short_description']|safe }}
        </div>

    {% endfor %}

{% endblock content %}
