{% extends 'front/bird/layout.html' %}
{% block content %}

    {% for member_id in members %}

        <div class="block-item">
        <img style="margin-left: 0px; width: 300px; height: 240px; border: 0px solid #aaa;
                        background-size: contain; background-repeat: no-repeat; background-position: center center; background-image:url({{ file_url(members[member_id]['logo_file_id']) }});"/>
            <a href="{{ url_for('front.subportal', member_company_id = member_id, member_company_name = members[member_id]['name']) }}"
               href>{{ members[member_id]['name'] }}</a><br/><br/>
        {{ members[member_id]['short_description'] }}
        </div>

    {% endfor %}

{% endblock content %}
