<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 footer-menu">
                <ul class="">
                    {% for division in portal.divisions %}
                        <li>
                            <a href="/{{ division.name }}/">{{ division.name }}</a>
                        </li>
                    {% endfor %}
                    <li>
                        <a href="/?about">{{ _('About us') }}</a>
                    </li>
                </ul>
            </div>
            <div class="promo">Портал створено в рамках проекту «Купуймо разом!»що фінансується програмою</div>

            <div class="social-block">{% include 'front/bird/social.html' %}</div>

            <div class="copiright">
                <p>&copy; Powered by ProfireaderCopyright</p>
            </div>

        </div>
    </div>

</footer>