<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 footer-menu">
                <ul class="">
                    {% for division in portal.divisions %}
                        <li>
                            <a href="/{{ division.name }}/">{{ division.name }}</a>
                        </li>
                    {% endfor %}
                    <li>
                        <a href="/?about">{{ _('About us') }}</a>
                    </li>
                </ul>
            </div>
            <?php
            include("parts/social.php");
            ?>
            <div class="copiright">
                <p>&copy; Powered by ProfireaderCopyright</p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <!-- /.row -->
</footer>