<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    {% include 'front/bird/head.html' %}
</head>

<body>
{% with aa='1' %}
{% include 'front/bird/nav.html' %}
{% endwith %}
{% block content %}

    <div class="container">

        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-9">

                <!--                <h1 class="page-header">-->
                <!--                    Page Heading-->
                <!--                    <small>Secondary Text</small>-->
                <!--                </h1>-->

                <!-- Blog Posts -->

                {% for article_id in articles %}

                    <div class="block-item">

                        <div class="item-type article"><a href="{{ url_for('front.division', division_name=articles[article_id]['division']['name'], page=1, search_text='%') }}">{{ articles[article_id]['division']['name']|safe }}</a></div>
                        <h2 class="item-title">
                            <a href="{{ url_for('front.details', article_portal_id=articles[article_id]['id']) }}">{{ articles[article_id]['title']|safe }}</a>
                        </h2>

                        <div class="item-short-content">
                            <p>{{ articles[article_id]['short']|safe }}</p>
                        </div>

                        <div class="bottom-hide"></div>

                        <div class="item-additional-info">
                            <div class="item-company">{{ articles[article_id]['company']['name']|safe }}</div>
                            <div class="item-publication-date">{{ articles[article_id]['publishing_tm']|safe }}</div>
                        </div>

                        <img style="width: 300px; height: 240px; background-size: cover; background-image: url({{ file_url(articles[article_id]['image_file_id']) }})" />


                        <!--                <a class="btn btn-primary" href="#">Read More <span-->
                        <!--                        class="glyphicon glyphicon-chevron-right"></span></a>-->
                    </div>

                {% endfor %}

             {% include 'front/bird/pager_index.html' %}


            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-3">

{#                Blog Search Well#}
                <div class="well">
		    <h4>Search</h4>
                    <div class="input-group">
                        <form onsubmit="{{ url_for('front.index') }}">
                            {% if search_text!='%' %}
                            <input type="text" name="search_text" value="{{ search_text }}" class="form-control">
                            {% else %}
                            <input type="text" name="search_text" class="form-control">
                            {% endif %}
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </form>
                    </div>

                    {#                 /.input-group #}
                </div>

                {#                 Blog Categories Well #}
                <div class="well">
		{% include 'front/bird/tags.html' %}
                </div>


                <?php for ($i = 0; $i < 5; $i++) { ?>
                <!-- Side Widget Well -->
                <div class="well">
		    {% include 'front/bird/shortabout.html' %}
                </div>
                <?php } ?>

            </div>

        </div>
        <!-- /.row -->
    </div>

{% endblock content %}

{% include 'front/bird/footer.html' %}


</body>
</html>