<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    {% include 'front/bird/head.html' %}
</head>

<body>
{% include 'front/bird/nav.html' %}

<div class="container">

    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-9">

            {% block content %}{% endblock content %}
            {% include 'front/bird/pager_index.html' %}
        </div>

        <div class="col-md-3">
            <div class="well">
                <h4>Search</h4>

                <div class="input-group">
                    <form onsubmit="{{ url_for('front.index') }}">
                        {% if search_text!='%' %}
                            <input type="text" name="search_text" value="{{ search_text }}"
                                   class="form-control">
                        {% else %}
                            <input type="text" name="search_text" class="form-control">
                        {% endif %}
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                    </form>
                </div>

            </div>


            <div class="well">
                {% include 'front/bird/tags.html' %}
            </div>


            <div class="well">
                {% include 'front/bird/shortabout.html' %}
            </div>
        </div>

    </div>

</div>

{% include 'front/bird/footer.html' %}

</body>
</html>