<ul class="pager">
{% if articles %}
    <li class="previous">
        {% if current_page != 1 %}
        <a href="{{ url_for('front.index', page=current_page - 1) }}"></a>
        {% else %}
        {% endif %}
    </li>
    {% for button in range(page_buttons)|reverse %}
        {% if current_page - (button + 1)> 0 %}
    <li>
        <a href="{{ url_for('front.index', page=current_page - (button + 1))}}">{{ current_page - (button + 1) }}</a>
    </li>
        {% endif %}
    {% endfor %}
    <li class="current-page">
        <a href="{{ url_for('front.index', page=current_page) }}">{{ current_page }}</a>
    </li>
    {% for button in range(page_buttons) %}
        {% if current_page + (button + 1)< pages %}
    <li>
        <a href="{{ url_for('front.index', page=current_page + (button + 1)) }}">{{ current_page + (button + 1) }}</a>
    </li>
        {% endif %}
    {% endfor %}
    {% if current_page + page_buttons < pages %}
        <li>
            ...
        </li>
    {% endif %}
    {% if current_page != pages %}
        <li>
            <a href="{{ url_for('front.index', page=pages) }}">{{ pages }}</a>
        </li>
    {% endif %}

    <li class="next">
        {% if current_page != pages %}
        <a href="{{ url_for('front.index', page=current_page + 1) }}"></a>
        {% else %}
        {% endif %}
    </li>
{% endif %}
</ul>