{% extends 'front/bird/layout.html' %}

{% block content %}



    <br/><br/>
    <h2>{{ member_company['name'] }}</h2>

    {% for user_id in company_users  %}
        <div>
        <img width="50" height="50" style="
                background-size: cover;
                background-image: url({{ company_users[user_id]['profireader_small_avatar_url'] }})"

                />
        {{ company_users[user_id]['profireader_name'] }}
        </div>
    {% endfor %}

    <br/>

{% endblock content %}
