{% extends 'front/bird/layout.html' %}

{% block content %}

    <br/><br/>
    <h2>{{ member_company['name'] }}</h2>

    Company country: {{ member_company['country'] }}<br/>
    Company region: {{ member_company['region'] }}<br/>
    Company address: {{ member_company['address'] }}<br/>
    Company phone: {{ member_company['phone'] }}<br/>
    Company fax: {{ member_company['fax'] }}<br/>
    Company email: {{ member_company['email'] }}<br/>

    <br/>

    <div id="map"></div>

    <script src="/static/front/js/gmaps.min.js"></script>

    <script type="text/javascript">

        url = GMaps.staticMapURL({
            size: [800, 250],
            lat: 49.824852,
            lng: 23.978664,
            markers: [
                {lat: 49.824852, lng: 23.978664, color: 'blue'}
            ]
        });

        $('<img/>').attr('src', url)
                .appendTo('#map');
    </script>


{% endblock content %}
