<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <div class="centred">
        <a class="" href="{{ url_for('front.subportal',
                                   member_company_id = member_company['id'] ,
                                   member_company_name = member_company['name']) }}"><img
                style="width: 50px; height: 40px; background-size: cover; background-image: url({{ file_url(member_company['logo_file_id']) }})"/></a>
    </div>



    <ul class="nav navbar-nav">

        <li><a {% if current_subportal_division_name == 'index' %}id="navigation_selected_division"{% endif %} href="{{ url_for('front.subportal',
                                   member_company_id = member_company['id'] ,
                                   member_company_name = member_company['name']) }}">About</a></li>

        {% for division in portal.divisions %}
            {% if division.portal_division_type_id == 'news' or division.portal_division_type_id == 'events' %}
                <li>
                    <a {% if current_subportal_division and division.id == current_subportal_division.id %}id="navigation_selected_division"{% endif %}
                       href="{{ url_for('front.subportal_division',
                                   member_company_id = member_company['id'] ,
                                   member_company_name = member_company['name'],
                                   division_name=division.name, page=1, search_text='%') }}">{{ division.name }}</a>
                </li>
            {% endif %}
        {% endfor %}

        <li><a {% if current_subportal_division_name == 'address' %}id="navigation_selected_division"{% endif %} href="{{ url_for('front.subportal_address',
                                   member_company_id = member_company['id'] ,
                                   member_company_name = member_company['name']) }}">Address</a></li>
        <li><a {% if current_subportal_division_name == 'contacts' %}id="navigation_selected_division"{% endif %} href="{{ url_for('front.subportal_contacts',
                                   member_company_id = member_company['id'] ,
                                   member_company_name = member_company['name']) }}">Contacts</a></li>
    </ul>
</div>
