{#<a href="{{ url_for('general.index') }}"><img src="/static/front/img/profi.png"/></a>#}
{#<a href={{ "http://profireader.com/auth/signup?subscribe=" + "560b9fee-3d87-4001-87d9-ad0d4582dd02" }}><img src="/static/front/img/profireader_simple_logo.png"/></a>#}
<a href={{ "http://profireader.com/auth/signup?subscribe=" + g.portal_id }}><img src="/static/front/img/profireader_simple_logo.png"/></a>

                    <!-- Profireader and toggle get grouped for better mobile display -->
{#            <span class="navbar-header">#}
{#                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"#}
{#                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">#}
{#                    <span class="sr-only">Toggle navigation</span>#}
{#                    <span class="icon-bar"></span>#}
{#                    <span class="icon-bar"></span>#}
{#                    <span class="icon-bar"></span>#}
{#                </button>#}
{#                <a class="navbar-brand" href="{{ url_for('general.index') }}"><img src="/static/front/img/profi.png"/></a>#}
{#            </span>#}
