                    <h4>Categories</h4>

                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Tags</a>
                                </li>
                                <li><a href="#">don't</a>
                                </li>
                                <li><a href="#">work</a>
                                </li>
                                <li><a href="#">yet</a>
                                </li>
                            </ul>
                        </div>
                        {#                 /.col-lg-6 #}
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Теги</a>
                                </li>
                                <li><a href="#">Ще</a>
                                </li>
                                <li><a href="#">Не</a>
                                </li>
                                <li><a href="#">Працюють</a>
                                </li>
                            </ul>
                        </div>
                        {#                 /.col-lg-6 #}
                    </div>
                    {#                 /.row #}
