<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 footer-menu">
                <ul class="">
                    <li>
                        <a href="#">Новини</a>
                    </li>
                    <li>
                        <a href="#" class="current">Статті</a>
                    </li>
                    <li>
                        <a href="#">Компанії</a>
                    </li>
                    <li>
                        <a href="#">Оголошення</a>
                    </li>
                    <li>
                        <a href="#">Події</a>
                    </li>
                    <li>
                        <a href="#">Купуймо разом!</a>
                    </li>
                    <li>
                        <a href="#">Про нас</a>
                    </li>
                </ul>
            </div>
            <?php
            include("parts/social.php");
            ?>
            <div class="copiright">
                <p>&copy; Powered by ProfireaderCopyright</p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <!-- /.row -->
</footer>