body {
    padding-top: 75px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-color: #E1E1E1;
    font-family: 'Open Sans', sans-serif;
}

/*body.member-company{*/
/*padding-top: 169px;*/
/*}*/

h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Droid Serif', serif!important;*/
    font-family: 'Droid Serif', serif;
}

@media (min-width: 1200px) {
    .container {
        width: 990px !important;
    }

    /*.social-block{*/
    /*/!*padding: 20px 0;*!/*/
    /*top:5px;*/
    /*-webkit-transition: top .5s ease-in-out;*/
    /*-moz-transition: top .5s ease-in-out;*/
    /*transition: top .5s ease-in-out;*/
    /*}*/
    .navbar {
        /*position: relative;*/
        padding-top: 50px;
        top: 0px;
        -webkit-transition: padding .5s ease-in-out, top .5s ease-in-out;
        -moz-transition: padding .5s ease-in-out, top .5s ease-in-out;
        transition: padding .5s ease-in-out, top .5s ease-in-out;
    }

    .navbar.top-nav-collapse {
        /*pading-top:0;*/
        top: -50px;
    }

    /*nav.top-nav-collapse .social-block{*/
    /*top: -50px;*/
    /*}*/
    .logo img {
        /*background-color: #ff0000;*/
        display: block;
        width: auto;
        height: 100px;

        -webkit-transition: height 1.5s ease-in-out;
        -moz-transition: height 1.5s ease-in-out;
        transition: padding 1.5s ease-in-out;
    }

    nav.top-nav-collapse .logo img {
        height: 50px;
    }

}

.navbar-inverse {
    background-color: #fff;
    border-color: #fefefe;
}

.navbar-fixed-top {
    border: none;
}

.navbar-fixed-top .navbar-collapse,
.navbar-static-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
}


.nav.navbar-nav *{
    font-size: 18px;

}

.logo {
    display: block;
    position: absolute;
    left: 0px;
    height: auto;
    bottom: -50px;
}

.navbar.top-nav-collapse {
    /*pading-top:0;*/
    top: -50px;
}

.fixed .logo {
    display: block;
    position: relative;
    width: 79px;
    height: 51px;
    background: url('../img/logo.png') no-repeat;
}

.search-form {
    display: inline-block;
    width: 250px;
    position: relative;
}

.search-form input {
    border: 1px #ccc solid;
    padding: 4px 10px;
}

.search-btn {
    display: inline-block;
    padding: 5px 0px;
    margin-right: 30px;

}

.search-form input, .search-btn {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    width: 30px;
}

.site-content {
    background-color: #E1E1E1;
    padding-top: 15px;
}

.social-block {
    top: -50px;
    right: 20px;
    width: auto;
    position: absolute;
    text-align: right;
    padding: 15px;
}

footer .social-block {
    width: auto;
    /*position: absolute;*/
    text-align: right;
    padding: 15px;
}

footer .social-block * {
    color: #575656 !important;
}

.centred {
    position: relative;
}

.current {
    border-bottom: 6px #3273b2 solid;
    color: #3273b2;
}

@media (min-width: 768px) {
    .navbar-nav {
        float: right !important;
        /*margin: 0;*/
    }
}

.btn {
    font-size: 12px !important;
}

footer .btn-social-icon {
    background-color: #fff !important;
}

.btn-social-icon:hover{
    /*background-color: inherit!important;*/
}

.block-item {
    display: block;
    position: relative;
    padding: 15px 15px 15px 315px;
    background: #fff;
    margin-bottom: 20px;
    height: 240px;

    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.block-item.full-block-info{
    padding: 15px;
    height: auto;
}

.block-item img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.block-item.full-block-info img{
    position: relative;
}

.block-item.full-block-info img {
    position: relative;
    /*display: inline-block;*/
    /*width: 300px;*/
    /*height: 340px;*/
    /*margin: 10px 10px 10px 0px;*/
}

.block-item .item-type {
    font-size: 16px;
    color: #7d7d7d;
    padding-left: 18px;
    background: transparent url("../img/article/icons/type.png") no-repeat left center;
}

.block-item.list-elements h2 {
    margin: 0 0 10px 0;
    line-height: 20px;
}

.block-item .item-type a {
    color: #7d7d7d;
}

.block-item h2 a {
    color: #464646 !important;
    font-size: 20px;
    line-height: 0.95 !important;
}

.block-item .item-short-content * {
    color: #555;
}

.block-item .item-short-content {
    overflow: hidden;
    height: 125px;
}

.block-item {
    overflow: hidden;
}

.block-item .item-additional-info {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    /*padding-left: 315px;*/
    background: #f5f5f5;
    border-top: 1px #e9e9e9 solid;
    width: 100%;
    padding: 5px 15px 5px 315px;
    z-index: 998;
}

.right-list-container {
    background: #fff;
    padding: 10px;
}

.list-elements.right-sidebar {
    /*margin-bottom: 15px;*/
    border-bottom: 1px #ccc solid;
    padding: 7px 0;
}

.list-elements.right-sidebar .item-title {
    display: block;
    font-size: 16px;
    margin: 0 0 10px 0;
    font-family: 'Open Sans', sans-serif !important;
    color: #333;
    margin-bottom: 7px;
}

.list-elements.right-sidebar .item-title:hover {
    color: #3273B2;
}

.block-item .item-additional-info .item-company,
.list-elements.right-sidebar .item-additional-info .item-company {
    float: left;
    position: relative;
    padding-left: 18px;
    background: transparent url("../img/article/icons/company.png") no-repeat left center;
}

a.item-company{
    color: #333!important;
}

.list-elements.right-sidebar .item-additional-info .item-company {
    float: none;
}

.block-item .item-additional-info .item-publication-date,
.list-elements.right-sidebar .item-publication-date {
    float: right;
    padding-left: 18px;
    background: transparent url("../img/article/icons/calendar.png") no-repeat left center;

}

.list-elements.right-sidebar .item-publication-date {
    float: none;
}

.block-item .item-type,
.block-item .item-additional-info .item-company,
.block-item .item-additional-info .item-publication-date {
    -khtml-opacity: .60;
    -moz-opacity: .60;
    -ms-filter: �alpha(opacity=60) �;
    filter: alpha(opacity=60);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.6);
    opacity: .60;
}

.pager {
    position: relative;
    padding: 0px;
    height: 36px;
}

.pager li > a, .pager li > span {
    border: none;
    font-size: 18px!important;
    color: #999!important;
    background-color: transparent;
}

.pager li.current-page > a{
    color: #336699!important;
}

.pager li.previous,
.pager li.next {
    /*background: #ccc;*/
    position: absolute;
    top: 7px;
}

.pager li.previous a,
.pager li.next a,
.pager li.previous span,
.pager li.next span {
    /*padding: 3px;*/
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent!important;
}

.pager li.previous,
.pager li.next {
    height: 24px;
}

.pager li.previous:hover,
.pager li.next:hover {
    background-position-y: bottom;
}

.pager li.previous {
    left: 20px;
    padding-left: 0px;
    background: url("../img/prev.png") top left no-repeat;
}

.pager li.next {
    right: 20px;
    padding-right: 0px;
    background: url("../img/next.png") top right no-repeat;
}

footer {
    background: #464646;
    color: #eee;
    padding: 25px 0;
    height: 220px;
}

footer .social-block{
    top: 0;
}

.footer-menu ul {
    /*width: 250;*/
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-menu ul li a {
    color: #ddd;
    line-height: 2.2em;
    border: none;
    font-size: 16px;
}

.footer-menu ul li a.current {
    color: #fff;
}

.footer-menu ul li a:hover {
    color: #3273b2;
}

.footer-menu .navbar-nav li {
    display: block;
}

.copiright {
    position: absolute;
    right: 15px;
    bottom: 0;
}

footer .row {
    position: relative;
}

footer .promo{
    display: block;
    position: absolute;
    top: 15px;
    left: 400px;
    width: 210px;
    height: 160px;
    background: url("../img/polska_pomoc.png") bottom center no-repeat;
    text-align: center;

}

.pager {
    background: #fff;
}

.well {
    position: relative;
    width: 1028px;
    margin: 0px auto;
    padding-top: 0px;
    padding-bottom: 0px;
    background: #fff;
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

    box-shadow: none;
}

.well .input-group .form-control {
    width: 10em;
}

.navbar {
    margin-bottom: 0;
}

.navbar-nav > li > a {
    padding: 14px 15px;
}

.navbar-inverse .navbar-nav > li > a {
    border-bottom: 6px transparent solid;
}

.search-form input {
    outline: none;
}

.bottom-hide {
    display: block;
    position: absolute;
    height: 36px;
    width: 100%;
    bottom: 31px;
    right: 0;
    background: transparent url("../img/bottom.png") repeat-x;
}

.article-cover {
    position: relative !important;
    display: block;
    width: 712px !important;
    height: 400px;
    left: -15px !important;
    top: -15px !important;
    margin-bottom: 15px;
}

.right-banner {
    display: block;
    width: 215px;
    height: 345px;
    background: #999;
    border: none;
    margin-bottom: 20px;
}

/* ARTICLE DETAILS */

.item-additional-info-top {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px #ccc solid;
    margin-bottom: 15px;
    text-align: center;
}

.block-item .item-additional-info .item-company,
.block-item .item-additional-info-top .item-company {
    /*float: left;*/
    /*position: absolute;*/
    /*left: 0;*/
    padding-left: 18px;
    background: transparent url("../img/article/icons/company.png") no-repeat left center;
}

.block-item .item-additional-info .item-comments,
.block-item .item-additional-info-top .item-comments {
    position: relative;
    /*display: inline-block;*/
    right: 0;
    /*position: relative;*/
    display: inline-block;
    /*float: right;*/
    padding-left: 18px;
    background: transparent url("../img/article/icons/comment.png") no-repeat left center;
}

.block-item .item-additional-info .item-publication-date,
.block-item .item-additional-info-top .item-publication-date {
    /*float: right;*/
    display: inline-block;
    text-align: center;
    padding-left: 18px;
    width: auto;
    margin: 0 auto;
    background: transparent url("../img/article/icons/calendar.png") no-repeat left center;
}

.block-item .item-type,
.block-item .item-additional-info .item-company,
.block-item .item-additional-info .item-publication-date,
.block-item .item-type,
.block-item .item-additional-info-top .item-company,
.block-item .item-additional-info-top .item-publication-date,
.block-item .item-additional-info-top .item-comments {
    -khtml-opacity: .60;
    -moz-opacity: .60;
    -ms-filter: (alpha(opacity=60));
    filter: alpha(opacity=60);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.6);
    opacity: .60;
}

.block-item .item-type:hover,
.block-item .item-additional-info .item-company:hover,
.block-item .item-additional-info .item-publication-date:hover,
.block-item .item-additional-info-top .item-company:hover,
.block-item .item-additional-info-top .item-publication-date:hover,
.block-item .item-additional-info-top .item-comments:hover {
    -khtml-opacity: 1;
    -moz-opacity: 1;
    -ms-filter: (alpha(opacity=100));
    filter: alpha(opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=1);
    opacity: .60;
}

.block-item .item-additional-info-top .item-comments,
.block-item .item-additional-info-top .item-company {
    float: none;
    position: absolute;
}

.tag-list {
    display: block;
    width: 100%;
    padding: 7px 7px 7px 18px;
    border-top: 1px #ccc solid;
    background: transparent url("../img/article/icons/tag.png") no-repeat left center;
}

.tag-list a {
    padding: 2px 7px;
    color: #000000;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-decoration: underline;
}

.tag-list a:hover {
    background: #3273B2;
    /*color: #97d800;*/
    color: #fff;
    text-decoration: none;

}

.item-subtitle {
    margin-bottom: 20px;
    color: #7d7d7d;
    font-family: 'Open Sans', sans-serif !important;
}

.s-cover-l {
    display: inline-block;
    width: 300px;
    height: 240px;
    margin: 0px 15px 15px 0px;
    border: 1px #eee solid;
    float: left;
    background: #ddd no-repeat center center;
    background-size: cover;
}

.article-short {
    font-weight: bold;
    margin-bottom: 20px;
}

/*.article-content p,
.article-content span{
    display: inline-block !important;
}*/

/* BOTSTRAP CORRECTION */

.col-md-9 {
    padding-right: 0;
}

.col-md-3 {
    /*width: 215px;*/
    padding-left: 17.5px;
}

/* --------------------------------------------------- */

.subportal.collapse.navbar-collapse {
    margin: 0px 0px 15px 0px;
}

.subportal.collapse.navbar-collapse ul {
    width: 100%;
    background: #F5F5F5;
}

#navigation_selected_division {
    color: #234E7E;
    background-color: transparent;
    border-bottom: 6px solid rgba(50, 115, 178, 0.55);
}

.subportal.collapse.navbar-collapse ul #navigation_selected_division {
    color: #fff;
    background: #32b264;
    border: none;
}

.subportal.collapse.navbar-collapse ul {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.subportal.collapse.navbar-collapse ul li {
    border-right: 1px rgba(255, 255, 255, 1) solid;
    text-transform: uppercase;
    flex-grow: 1;
}

.subportal.collapse.navbar-collapse ul li a{
    display: block;
    font-size: 14px;
    padding: 7px 0px;
    text-align: center;
}

.subportal-cover {
    width: 100%;
    height: 150px;
    background-color: #fff;
    overflow: hidden;
}

.subportal-cover img {
    height: 150px;
    /*width: 100%;*/
    background-color: #fff;
    float: left;
    margin-right: 1em;
}

/* Companys page styles */

.block-item-img {
    margin-left: 0px;
    width: 300px;
    height: 240px;
    /*border: 0px solid #aaa;*/
    border: none !important;
    background-size: cover;
    /*background-size: contain;*/
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;

}

.company-block {

}

#map{
    width: 100%;
    height:  auto;
}

#map img{
    width: 100%;
    border: 1px #fff solid;
}