body {
    padding-top: 136px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-color: #e1e1e1;

}

@media (min-width: 1200px) {
  .container {
    width: 990px!important;
  }
}

.navbar-inverse {
  background-color: #fff;
  border-color: #fefefe;
}

.navbar-fixed-top{
    border: none;
}

.logo{
	display: block;
	position: absolute;
    top: -50px;
    left: 20px;
	width: 149px;
	height: 96px;
	background: url('../img/big-logo.png') no-repeat;
}

.fixed .logo{
    display: block;
    position: relative;
    width: 79px;
    height: 51px;
    background: url('../img/logo.png') no-repeat;
}

.social-block{
    width: auto;
    /*position: absolute;*/
    text-align: right;
    padding: 15px 0;
}

footer .social-block{
    width: auto;
    /*position: absolute;*/
    text-align: right;
    padding: 15px;
}

footer .social-block *{
    color: #575656!important;
}

.centred{
    position: relative;
}

.current{
    border-bottom: 6px #3273b2 solid;
    color: #3273b2 ;
}


@media (min-width: 768px) {
    .navbar-nav {
        float: right!important;
        /*margin: 0;*/
    }
}

.btn{
    font-size: 12px!important;
}

footer .btn-social-icon{
    background-color: #fff!important;
}

.block-item{
    display: block;
    position: relative;
    padding: 15px 15px 15px 315px;
    background: #fff;
    margin-bottom: 20px;
    height: 240px;

    -moz-box-shadow: 1px 4px 9px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 1px 4px 9px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 4px 9px rgba(0, 0, 0, 0.25);
}

.block-item.full-block-info{
    padding: 15px 15px 35px 15px;
    height: auto;
}

.block-item.full-block-info p::first-line {
    padding-left: 20px;
}

.block-item img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

/*.block-item.full-block-info img{*/
    /*position: relative;*/
    /*display: inline-block;*/
    /*width: 300px;*/
    /*height: 340px;*/
    /*margin: 10px 10px 10px 0px;*/
/*}*/

.block-item .item-type{
    font-size: 16px;
    /*color: #7d7d7d;*/
    padding-left: 18px;
    background: transparent url("../img/article/icons/type.png") no-repeat left center;
}

.block-item h2{
    margin: 0 0 10px 0;
}

.block-item h2 a{
    color: #464646!important;
    font-size: 20px;
}

.block-item .item-short-content *{
    color: #555;
}

.block-item .item-short-content {
    overflow: hidden;
    height: 125px;
}

.block-item {
    overflow: hidden;
}

.block-item .item-additional-info{
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    /*padding-left: 315px;*/
    background: #f5f5f5;
    border-top: 1px #e9e9e9 solid;
    width: 100%;
    padding: 5px 15px 5px 315px;
    z-index: 998;
}

.block-item .item-additional-info .item-company{
    float: left;
    padding-left: 18px;
    background: transparent url("../img/article/icons/company.png") no-repeat left center;
}

.block-item .item-additional-info .item-publication-date{
    float: right;
    padding-left: 18px;
    background: transparent url("../img/article/icons/calendar.png") no-repeat left center;


}

.block-item .item-type,
.block-item .item-additional-info .item-company,
.block-item .item-additional-info .item-publication-date{
    -khtml-opacity:.60;
    -moz-opacity:.60;
    -ms-filter:�alpha(opacity=60)�;
    filter:alpha(opacity=60);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.6);
    opacity:.60;
}

.pager{
    padding: 4px;
}

.pager li > a, .pager li > span{
    border: none;
}

footer{
    background: #464646;
    color: #eee;
    padding: 25px 0;
}


.footer-menu ul{
    /*width: 250;*/
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-menu ul li a{
    color: #ddd;
    line-height: 1.8em;
    border: none;
}

.footer-menu ul li a.current{
    color: #fff;
}

.footer-menu ul li a:hover{
    color: #3273b2;
}

.footer-menu .navbar-nav li{
    display: block;
}

.copiright {
    position: absolute;
    right: 15px;
    bottom: 0;
}

footer .row{
    position: relative;
}

.pager{
    background: #fff;
}

.well .input-group .form-control {
    width: 10em;
}

.bottom-hide{
    display: block;
    position: absolute;
    height: 20px;
    width: 100%;
    bottom: 31px;
    right: 0;
    background: transparent url("../img/bottom.png") repeat-x;
}


.article-cover{
    position: relative!important;
    display: block;
    width: 712px!important;
    height: 400px;
    left: -15px!important;
    top: -15px!important;
    margin-bottom: 15px;
}