{% extends "index_lazy_layout.html" %}

{% block title %}Profireader - Articles{% endblock title %}

{% block portal_content %}


    <script>
        module.controller('article_list', ['$scope', '$ok', '$sce', function ($scope, $ok, $sce) {

            $scope.url_details = {{ raw_url_for('portal.publication_details')|safe }};
            $scope.url_search_article = {{ raw_url_for('portal.publications_load')|safe }};

            $scope.own_company_id = '{{ company_id }}';


            $scope.page_changed = function () {
                $scope.sendData(false);
                return false;
            };

            $scope.company_id = ' ';
            $scope.status = undefined;
            $scope.statuses = {'-- all --': undefined};
            $scope.companies = {' ': {name: '-- all --'}};

            $scope.data = {
                search_text: '',
                pages: {},
                company_id: null,
                status: null
            };


            $scope.new_search_text = '';


            $scope.sendData = function (new_search_text) {
                var data = {};
                data.search_text = (new_search_text !== false) ? new_search_text : $scope.data['search_text'];
                data.status = $scope.status ? $scope.status : null;
                data.company_id = ($scope.company_id !== ' ') ? $scope.company_id : null;
                data.page = $scope.data.pages.current_page;
                $ok($scope.url_search_article({company_id: '{{ company_id }}'}), data, function (resp) {

                    $scope.data = {pages: resp.pages};
                    $scope.publications = resp.publications;

                    $scope.companies = resp.companies;
                    $scope.companies[' '] = {name: '-- all --'};

                    $scope.statuses = resp.statuses;
                    $scope.statuses['-- all --'] = undefined;

                    $scope.data.search_text = (new_search_text !== false) ? new_search_text : $scope.data['search_text'];
                })
            };


        }]);

    </script>
    {% include 'company/company_base_angular.html' %}
    {% raw %}
    <div ng-init="sendData('')" ng-controller="article_list">

        <table style="width:100%">
            <tr>
                <th width="250px">Date</th>
                <th width="250px">Title</th>
                <th width="250px">Company - publication status</th>
                <th></th>
            </tr>
            <tr valign="top">
                <td></td>
                <td><input ng-disabled="loading" style="width: 98%" type="text" placeholder="Search"
                           ng-model="new_search_text"></td>
                <td>
                    <select ng-disabled="loading" style="width: 40%; padding: 5px;" ng-model="company_id"
                            ng-options="comp_id as comp.name for (comp_id, comp) in companies">
                    </select>
                    <select ng-if="0" ng-disabled="loading" style="width: 40%; padding: 5px;" ng-model="status"
                            ng-options="lab for (lab, val) in statuses track by val">
                    </select>
                </td>
                <td></td>
                <td><input ng-disabled="loading" ng-click="sendData(new_search_text)" type="submit"
                           value="{{ loading?'loading...':'search' }}"
                           style="width: 75%;">
                </td>

            </tr>
            <tr ng-repeat="publication in publications" valign="top">
                <td>{{ publication.publishing_tm }}</td>
                <td><a href="{{ url_details({company_id:own_company_id, article_id:publication.company_article.article_id}) }}"
                       ng-bind-html="highlightSearchResults(publication.title, search_text)">
                </a></td>
                <td>
                    <div>
                        {{ companies[publication.company_article.company_id].name }} - <span>{{ publication.company_article.status }}</span>
                    </div>
                </td>
            </tr>

            <tr ng-show="!loading && !areAllEmpty(publications)">
                <td colspan="4">
                    <div ng-show="!loading" ng-include="'pagination.html'"></div>
                </td>
            </tr>
            <tr ng-show="!loading && areAllEmpty(publications)">
                <td colspan="4">
                    No publications
                </td>
            </tr>


        </table>

    </div>
    {% endraw %}

{% endblock portal_content %}


