{% extends "index_layout.html" %}
{% block title %}Profireader{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block portal_base %}
    {% include 'partials/portal_base_Profireader.html' %}
{% endblock portal_base %}

{% block content %}
    {% block company_base %}
        {% include 'company/company_base.html' %}
    {% endblock company_base %}<br/>

{#    TODO: (AA to AA): sctually we need tag_edit.js here instead html file. #}
    {% include 'portal/tag_edit.html' %}
{#    <script src="/static/js/tag_edit.js"></script>#}
    {% raw %}
 <div ng-init="loadData(null, null, null, loadPortalDivisionTags4)" ng-controller="PortalProfileEditController">

    <!-- !!!{{ data.PortalDivisionTagsName }}<br/><br/> -->
    <!-- {{ loadPortalDivisionTags2() }} -->
    <!-- {{ loadPortalDivisionTags3(getDataPortalDivisionTagsID()) }} -->
    <!-- ???{{ PortDivCheckbox }}<br/><br/> -->
    <!-- ***{{ data.PortalDivisionTags4 }}<br/><br/> -->

    <h3>Portal <strong>{{ data.portal.name }}</strong> profile</h3>
    <br/>
    <h4>Portal tags:</h4>
        <table style="width:100%">
            <tr>
                <th>
                    <strong>tag/division</strong>
                </th>
                <th ng-repeat="portal_division in data.portal.divisions">
                    {{ portal_division.name }}<br/>
                    <input type="checkbox" ng-click='togglePortalDivision(portal_division.id)' ng-model="PortDivCheckbox[portal_division.id]"/>
                    <!-- {{ PortDivCheckbox[portal_division.id] }} -->
                </th>
            </tr>
            <tr ng-repeat="tag_name in data.tagsNew  | orderBy: 'toString()'">
                <th>
                    <input type="checkbox" ng-click='toggleTag(tag_name)' ng-model="tagCheckbox[tag_name]"/>
                    <button type="button" ng-click='removeTag(tag_name)'>remove tag</button>
                    {{ tag_name }}
                </th>
                <td ng-repeat="portal_division_id in PortalDivisionIDs">
                    <input name="chk_group[tag_name][portal_division_id]" type="checkbox" ng-model="data.PortalDivisionTags4[tag_name][portal_division_id]"/>
                    <!-- {{ data.PortalDivisionTags4[tag_name][portal_division_id] }} -->
                </td>
            <tr>
            <!-- TODO: place horizontal line here instead of dots...-->
            <!--<tr style="border-bottom:1px solid black; padding-bottom:10em"><td colspan="100%"></td></tr>
            <tr>-->
                <td>
                    ..................................................
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" ng-click='toggleMultNewTag()' ng-model="newTagCheckbox"/>
                    <input type="text" ng-model="newTag"/>
                    <button type="button" ng-click="addTag(newTag, newTagPortDivAvailability)"
                                          ng-disabled="data.tagsNew.indexOf(newTag) !== -1 || newTag === '' || !tagAvailabilityOnAllPortDivs">add tag</button>
                </td>
                <td ng-repeat="portal_division_id in PortalDivisionIDs">
                    <input type="checkbox" ng-click='toggleNewTag(portal_division_id)' ng-model="newTagPortDivAvailability[portal_division_id]"/>
                    <!-- {{ newTagPortDivAvailability[portal_division_id] }} -->
                </td>
            </tr>
        </table>
        <br/>

    <form ng-ok ng-onsuccess="afterSave"
          ng-onsubmit="getData"
          ng-action="url_confirm_profile_edit({portal_id: data.portal.id})">
        <div class="item text-align-left">
            <input  type="submit" value="Save Tags"/>
        </div>
    </form>

    Back to <a href="{{ url_portal_profile({portal_id: data.portal['id']}) }}"> "{{ data.portal.name }}"</a> portal profile<br/>
    Back to <a href="{{ url_company_profile({company_id: data.portal['company_owner_id']}) }}"> "{{ data.portal['own_company']['name'] }}"</a> company profile

</div>
{% endraw %}
{% endblock content %}

{% block footer %}
    {% include 'partials/portal_footer_Profireader.html' %}
{% endblock footer %}