{% extends "index_lazy_layout.html" %}

{% block title %}Profireader - Company materials{% endblock title %}

{% block portal_content %}
    {% block company_base %}
        {% include 'company/company_base_angular.html' %}
    {% endblock company_base %}
    <script>
        module.controller('portal_create', ['$scope', '$modal', '$ok', '$af', function ($scope, $modal, $ok, $af) {

            $scope.$af = $af;

            $scope.url_after_save = {{ raw_url_for('company.profile')|safe }};

            $scope.afterSave = function (resp) {
                window.location.href = $scope.url_after_save({company_id: resp.company_owner_id})
            };
            $scope.$$translate = {{ translates('portal_create')|safe }};

            $scope.addDivision = function () {
                $scope.data.portal.divisions.push({
                    name: '',
                    portal_division_type_id: 'news'
                });
                return false;
            };

            $scope.removeDivision = function (index) {
                $scope.data.portal.divisions.splice(index, 1);
            };

            $scope.portalImageSelected = function (item) {

                $scope.data.portal.logo_file_id = item.id;
                $scope.setImageUrl();
                closeFileManager();
            };

            $scope.setImageUrl = function () {
                $scope.logo_file_url = fileUrl($scope.data.portal.logo_file_id);
            };

            $scope.chooseImage = function () {
                $scope.filemanagerModal = $modal.open({
                    templateUrl: 'filemanager.html',
                    controller: 'filemanagerCtrl',
                    size: 'filemanager-halfscreen',
                    resolve: {
                        file_manager_called_for: function () {
                            return 'file_browse_image'
                        },
                        file_manager_on_action: function () {
                            return {
                                choose: "parent.angularControllerFunction('portal_create', 'portalImageSelected')"
                            }
                        },
                        file_manager_default_action: function () {
                            return 'choose'
                        }
                    }
                });


            };

        }]);
    </script>
    {% raw %}





    <div ng-controller="portal_create">
        <h2>{{_('Cteate portal')}}</h2>

        <div af af-after-save="afterSave" ng-model="data">

            <div ng-click="chooseImage()"
                 style="float: left; width: 190px; height: 100px; border: 1px solid #aaa;
                     background-position: center;
                     background-repeat: no-repeat;
                     background-color: white;
                     background-size: contain; background-image:url({{ logo_file_url }});">
                {{ _('Select portal logo') }}
            </div>


            <div style="width: 800px; margin-left: 200px;">
                <div class="item">
                    <span class="input_label">{{_('Portal name')}}:</span><input type="text"
                                                                        placeholder="{{_('Portal name')}}"
                                                                        ng-model-options="{updateOn : 'change keypress'}"
                                                                        ng-model="data.portal.name">
                    <span af-validation-answer="data_validation:name"></span>
                </div>
                <div class="item">
                        <span class="input_label">{{_('Portal host')}}: <span
                                style="color: black">http://</span></span><input type="text"
                                                                                 placeholder="{{_('Host name')}}"
                                                                                 ng-model="data.portal.host">
                    <span af-validation-answer="data_validation:host"></span>
                </div>
                <div class="item">
                    <span class="input_label">{{_('Portal layout')}}:</span><select
                        ng-model="data.portal.portal_layout_id"
                        ng-options="layout.id as layout.name for layout in data.layouts"></select>
                </div>
            </div>


            <h4>{{_('Portal divisions')}}</h4>

            <div class="item">
                <input type="text" placeholder="" disabled="disabled"
                       value="{{ data.portal.name }}">
                <select style="width: 150px" disabled="disabled">
                    <option>{{_('index')}}</option>
                </select>

            </div>
            <div class="item" ng-if="division.portal_division_type_id != 'index'"
                 ng-repeat="(division_index, division) in data.portal.divisions">
                <input type="text" placeholder="Division name" ng-model="division.name">
                <select style="width: 150px" ng-model="division.portal_division_type_id">
                    <option ng-selected="division_type.id == division.portal_division_type_id"
                            ng-if="division_type.id != 'index'"
                            ng-repeat="(division_type_id, division_type) in data.division_types"
                            value="{{ division_type_id }}">{{ division_type.id }}
                    </option>
                </select>
                <select ng-if="division.portal_division_type_id == 'company_subportal'"
                        ng-model="division.settings.company_id">
                    <option ng-selected="portal_member_company.id == division.settings.company_id"
                            ng-repeat="(portal_member_company_id, portal_member_company) in data.portal_company_members"
                            value="{{ portal_member_company_id }}">{{ portal_member_company.name }}
                    </option>
                </select>
                    <span af-validation-answer="data_validation:divisions[division_index]"></span>
                    <span class="link error" style="float: right"
                          ng-click="removeDivision($index)">X</span>
            </div>
            <div class="item">
                <input type="text" style="visibility: hidden"/>
                <button type="button" ng-click="addDivision()">{{_('add division')}}</button>
                <span af-validation-answer="data_validation:add_division"></span>
            </div>


            <div class="item text-align-right">
                <span af-validation-answer="data_validation:form"></span>
                <input
                        type="submit"
                        ng-disabled="!$af.isActionAllowed(data, 'save')"
                        ng-click="$af.save(data)"
                        value="{{ data.id ? _('save') : _('create') }}"/>


            </div>

        </div>
    </div>


    {% endraw %}

{% endblock portal_content %}
