

/*#navigation_selected_division {*/
    /*color: red;*/
/*}*/

.tag_in_article {
    border: dashed #00264d 1px;
    padding: 1px 3px;
    background-color: yellow;
    display: none;
}

.item:hover {
    /*background: rgba(255, 200, 200, 0.3);*/
}

.item>span.input_label {
    text-align: right;
    margin-right: 0.5em;
    display: inline-block;
    width: 170px;
    color: #777;
}

.item>span.error {
    color: #f00;
}

.item>span.warning {
    color: #F7C223;
}


.item select, .item button {
    margin: 3px;
    padding: 1px 3px;
    width: 300px;
    height: 2em;
}

.item select option {
    height: 2em;
    line-height: 27px;
}

.item button, .item input[type=button], .item input[type=submit] {
    margin: 3px;
    padding: 1px 3px;
    width: 150px;
    height: 2em;
}

.item input[type=submit] {
    font-weight: bold;
}

.link {
    cursor: pointer;
}

.text-align-right {
    text-align: right;
}

.item input[disabled], .item select[disabled], .item button[disabled] {
    color: #ccc;
}