@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

html {
    min-height: 100%;
}

body {
    background: #eee !important;
    min-height: 100%;
}

.navbar {
    margin: 0;
}

.container.widewrapper {
    background: #fff;
}

*, html, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

/*
TODO: OK by OZ:   this class `highlights` changed element (see js function highligh, its just add and remove this class).
We have something similar in bootstrap? Can correct this class to look nicer?
*/

.highlight {
    color: #ca2027;
    -moz-transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;

}

.red-label {
    background: #ca2027;
    color: #fff;
    padding: 10px 10px 10px 25px;
    margin-left: -15px;
    display: inline-block;
}

.navbar-brand {
    padding: 5px;
    margin-left: 1px !important;
}

.navbar-brand img {
    height: 100%;
    width: auto;
}

.topbar-menu-links a.navbar-brand {
    padding: 0 5px;
}

ul.user-auth li a {
    height: 100%;
    padding: 11px !important;
}

.dropdown-menu {
    width: 100%;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

ul.dropdown-menu li {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

ul.dropdown-menu li:first-child {
    border: none;
}

ul.dropdown-menu li a.typeahead-item strong {
    color: #f00;
}

ul.dropdown-menu li a {
    padding: 10px 10px 10px 20px;
    border-left: 3px solid transparent;
}

ul.dropdown-menu li a:hover {
    border-color: #ca2027;
    color: #ca2027;
}

ul.dropdown-menu li a.typeahead-item strong {
    color: #f00;
}

ul.dropdown-menu li a {
    padding: 10px 10px 10px 20px;
    border-left: 3px solid transparent;
}

ul.dropdown-menu li a:hover {

}

.modal-filemanager-fullscreen {
    width: 95%;
    height: 95%;
}

.modal-filemanager-halfscreen {
    width: 950px;
    height: 650px;
}

.modal-filemanager-fullscreen .modal-content {
    width: 100%;
    height: 100%;
}

.modal-filemanager-halfscreen .modal-content {
    width: 100%;
    height: 100%;
}

/* General Content styles such as links, body text, or headings */
body {
    font-size: 16px;
    line-height: 27px;
    font-family: 'Open Sans', sans-serif;
    color: #404b55;
    background-color: #feffff;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin: 0 !important;
}

a {
    color: #5b6268;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #5b6268;
}

h1 {
    display: inline-block;
    width: auto;
    /*background: #CA2027;*/
    background: #777777;
    color: #fff;
    margin-left: -25px;
    padding: 10px 15px 10px 25px;
    font-size: 28px;
    line-height: 28px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}


h1 span{
    position: absolute;
    top: -10px;
    left: 0;
    display: block;
    width: 10px;
    height: 10px;
    background: transparent url("../../static/front/img/corner.png") no-repeat;
}


h2 {
    font-size: 22px;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}

hr {
    border-top-color: #ced5db;
}

/* Font Awesome Icons */
.fa {
    font-size: 24px;
}

::selection {
    background: #566572;
    /* Safari */
    color: #feffff;
}

::-moz-selection {
    background: #566572;
    /* Firefox */
    color: #feffff;
}

/* Layout styles that deal with the overall page structure */
/* Masthead is the upper part of the header, containing logo and navigation*/
.masthead {
    padding-top: 55px;
    padding-bottom: 55px;
}

.masthead #logo {
    float: left;
    display: block;
}

/* Widewrappers that span the whole width of the page */
.widewrapper {
    /*background-color: #feffff;*/
}

.widewrapper.main {
    -webkit-box-shadow: inset 1px 3px 1px -2px #ababab;
    -moz-box-shadow: inset 1px 3px 1px -2px #ababab;
    box-shadow: inset 1px 3px 1px -2px #ababab;
}

.widewrapper.masthead {
    background-color: #2a2a2a;
    color: #f8f8f9;
}

.widewrapper.subheader {
    background-color: #37424c;
    color: #7b8690;
    font-size: 16px;
    min-height: 63px;
}

.widewrapper.footer {
    background-color: #2a2a2a;
    color: #b3b5b7;
    font-size: 14px;
}

.widewrapper.footer a {
    color: #7b8690;
}

.widewrapper.footer h1,
.widewrapper.footer h2,
.widewrapper.footer h3,
.widewrapper.footer h4,
.widewrapper.footer h5 {
    /*color: #e6e6e6;*/
    color: #CD2027;
}

.widewrapper.copyright {
    background-color: #1e1e1e;

    color: #7b8690;
    padding-top: 15px;
    padding-bottom: 15px;
}

.widewrapper.copyright a {
    color: #fff;
}

.widewrapper.copyright a:hover {
    color: #CD2027;
}

/* Styles for the navigation, both mobile and desktop */
/* Desktop version of the navigation */
.tales-nav .nav-pills {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
}

.tales-nav .nav-pills > li {
    margin-left: 10px;
}

.tales-nav .nav-pills > li > a {
    color: #f8f8f9;
    padding: 11px 16px;
    line-height: 14px;
}

.tales-nav .nav-pills > li > a:hover,
.tales-nav .nav-pills > li > a:focus {
    background-color: #37424c;
}

.tales-nav .nav-pills > li.dropdown.open.active > a:hover,
.tales-nav .nav-pills > li.dropdown.open.active > a:focus {
    background-color: #37424c;
}

.tales-nav .nav-pills .open .dropdown-toggle {
    background-color: #37424c;
}

.tales-nav .nav-pills > .active > a {
    background-color: #37424c;
}

.tales-nav .nav-pills > .active > a:hover,
.tales-nav .nav-pills > .active > a:focus {
    background-color: #37424c;
}

.tales-nav .nav-pills .dropdown-menu {
    font-size: 16px;
    border-radius: 6px;
}

.tales-nav .caret {
    border-color: #f8f8f9 transparent transparent transparent !important;
    display: none;
}

.tales-nav .dropdown .caret {
    margin-left: 7px;
}

.tales-nav .dropdown-menu {
    background-color: #49545d;
    border-color: transparent;
    /*IE 8 Legacy */
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
}

.tales-nav .dropdown-menu > li > a {
    color: #f8f8f9;
    line-height: 30px;
    white-space: nowrap;
}

.tales-nav .dropdown-menu > li > a:hover,
.tales-nav .dropdown-menu > li > a:focus {
    background-color: #636c74;
    background-color: rgba(255, 255, 255, 0.15);
    background-image: none;
    color: #f8f8f9;
    filter: none;
}

.tales-nav .navbar-collapse {
    box-shadow: none;
}

.tales-nav .navbar-nav > li > .dropdown-menu {
    margin-top: 2px;
}

/* The button that expands the navigation in mobile-mode */
#mobile-nav-toggle {
    display: none;
    margin-top: 10px;
}

@media (max-width: 767px) {
    #mobile-nav-toggle {
        display: block;
    }
}

#mobile-nav-toggle a:hover,
#mobile-nav-toggle a:focus {
    text-decoration: none;
}

#mobile-nav-toggle .fa {
    color: #f8f8f9;
}

/* Mobile version of the navigation */
@media (max-width: 767px) {
    .masthead {
        padding-bottom: 0px;
    }

    .tales-nav {
        box-shadow: none;
        background-color: #37424c;
        float: left !important;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 20px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }

    .navbar.navbar-collapse {
        padding: 0 !important;
    }

    .tales-nav .navbar-collapse {
        max-height: none;
    }

    .tales-nav .nav-pills > li {
        margin-left: 0;
        float: none;
    }

    .tales-nav .nav-pills > li > a {
        margin-left: 40px;
        margin-right: 40px;
    }

    .tales-nav .nav-pills > li a {
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        padding-left: 10px;
        padding-right: 10px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

    .tales-nav .nav-pills > li:first-child > a {
        border-top: none;
    }

    .tales-nav .nav-pills > li > a:hover,
    .tales-nav .nav-pills > li > a:focus {
        background: transparent;
    }

    .tales-nav .nav-pills > li.dropdown.open.active > a:hover,
    .tales-nav .nav-pills > li.dropdown.open.active > a:focus {
        background: transparent;
    }

    .tales-nav .nav-pills .active > a,
    .tales-nav .nav-pills .active > a:hover,
    .tales-nav .nav-pills .active > a:focus {
        background: transparent;
    }

    .tales-nav .nav-pills .open .dropdown-toggle {
        background-color: transparent;
        border-color: #3e4953;
        padding-bottom: 7px;
    }

    .tales-nav .nav-pills .dropdown-toggle .caret {
        float: right;
        margin-top: 14px;
    }

    .tales-nav .nav-pills .dropdown-menu {
        background-color: #49545d;
    }

    .tales-nav .nav-pills .dropdown.open {
        background-color: #49545d;
    }

    .tales-nav .caret {
        border-color: #f8f8f9 transparent transparent transparent !important;
        border-width: 6px;
        display: block;
    }

    .tales-nav .dropdown-menu {
        margin-top: 0;
        padding-top: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border: none;
    }

    .tales-nav .dropdown-menu > li {
        margin-left: 35px;
    }

    .tales-nav .dropdown-menu > li > a {
        padding-top: 9px;
        padding-bottom: 9px !important;
        font-size: 18px;
        line-height: 27px;
    }

    .tales-nav .dropdown-menu > li > a:hover,
    .tales-nav .dropdown-menu > li > a:focus {
        background-color: transparent;
    }

    .tales-nav .navbar-nav .open .dropdown-menu > li > a {
        padding-top: 9px;
        padding-bottom: 9px;
        line-height: 27px;
    }
}

/* Elements that are used througout Tales, such as Searchboxes, Blog elements, Widgets, etc. etc. */
.tales-breadcrumb {
    color: #7b8690;
    float: left;
    margin-top: 19px;
}

.tales-breadcrumb a {
    color: #7b8690;
}

.tales-breadcrumb a:hover,
.tales-breadcrumb a:focus {
    text-decoration: none;
}

.tales-breadcrumb .separator {
    margin: 0 10px 0 10px;
}

/* The searchbox in the subheader on top of the site */
.tales-searchbox {
    float: right;
    display: inline-block;
    min-width: 210px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.tales-searchbox form {
    margin: 0;
}

.tales-searchbox .fa {
    color: #7b8690;
    font-size: 19px;
}

.tales-searchbox .searchbutton,
.tales-searchbox .searchfield {
    color: #7b8690;
    background-color: #242b32;
}

.tales-searchbox .searchbutton {
    display: inline-block;
    border: none;
    line-height: 20px;
    padding: 4px 5px 4px 15px;
    height: 31px;
    vertical-align: middle;
    -webkit-border-top-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    border-top-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-bottom-left-radius: 15px;
}

.tales-searchbox .searchbutton a:hover,
.tales-searchbox .searchbutton a:focus {
    text-decoration: none;
}

.tales-searchbox .searchfield {
    border: none;
    height: 22px;
    line-height: 22px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 5px 6px 4px 6px;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 0;
    width: 160px;
    font-size: 16px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    border-top-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    border-bottom-right-radius: 15px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
    margin-left: -4px;
    outline: none;
}

.tales-searchbox .searchfield::-webkit-input-placeholder {
    color: #7b8690;
}

.tales-searchbox .searchfield:-moz-placeholder {
    color: #7b8690;
}

.tales-searchbox .searchfield::-moz-placeholder {
    color: #7b8690;
}

.tales-searchbox .searchfield:-ms-input-placeholder {
    color: #7b8690;
}

.tales-searchbox .searchfield:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* The list with special bullet points, used both on blog widgets as well as in the footer (both styled here) */
.tales-list {
    list-style: none;
}

.tales-list li {
    line-height: 23px;
    margin-bottom: 14px;
}

.tales-list li a:hover,
.tales-list li a:focus {
    color: #55a773;
}

.tales-list li:before {
    content: "";
    border-color: transparent transparent transparent #757e88;
    border-style: solid;
    border-width: 3px 8px;
    display: block;
    width: 8px;
    left: -20px;
    top: 15px;
    position: relative;
}

.footer .tales-list {
    margin-top: -6px;
    padding-left: 23px;
}

.footer .tales-list li {
    margin-bottom: 5px;
}

.footer .tales-list li a {
    color: #b3b5b7;
    padding-bottom: 5px;
}

.footer .tales-list li:before {
    left: -21px;
    border-color: transparent transparent transparent #b3b5b7;
}

/* Footer widgets */
.footer-widget {
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 23px;
}

.footer-widget h3 {
    margin-bottom: 20px;
}

.footer-widget h3 .fa {
    font-size: 21px;
    margin-right: 11px;
}

.footer-widget .stats {
    margin-top: 23px;
}

.footer-widget .stats .line {
    font-size: 18px;
    margin-top: 10px;
}

.footer-widget .stats .line .counter {
    font-weight: 600;
    float: left;
    display: block;
}

.footer-widget .stats .line .caption {
    color: #7b8690;
    margin-left: 56px;
    display: block;
}

.footer-widget .email {
    display: block;
    margin-top: 10px;
}

/* Blog styles */
.blog-main,
.blog-aside {
    position: relative;
}

.blog-main:before,
.blog-aside:before {
    border-left: 1px solid #ced5db;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    width: 1px;
}

@media (max-width: 767px) {
    .blog-main:before,
    .blog-aside:before {
        display: none;
    }
}

.blog-main {
    padding-top: 36px;
    padding-bottom: 20px;
}

.blog-main:before {
    right: -16px;
}

@media (min-width: 768px) and (max-width: 979px) {
    .blog-main:before {
        display: none;
    }
}

.blog-aside {
    padding-top: 125px;
}

@media (max-width: 767px) {
    .blog-aside {
        padding-top: 50px;
    }
}

.blog-aside:before {
    left: 15px;
}

@media (min-width: 768px) and (max-width: 979px) {
    .blog-aside:before {
        display: none;
    }
}

/* Blog aside widgets */
.aside-widget {
    margin-bottom: 100px;
}

.aside-widget header {
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f6f5f5), to(#ebeaea));
    background-image: -webkit-linear-gradient(top, #f6f5f5 0%, #ebeaea 100%);
    background-image: -moz-linear-gradient(top, #f6f5f5 0%, #ebeaea 100%);
    background-image: linear-gradient(to bottom, #f6f5f5 0%, #ebeaea 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f5f5', endColorstr='#ffebeaea', GradientType=0);
    border: 1px #ced5db solid;
}

.aside-widget header h3 {
    font-size: 24px;
    padding: 10px 20px 3px 20px;
    margin-top: 0;
    color: #48535f;
}

.aside-widget .body {
    margin-top: 30px;
    padding-left: 20px;
}

.aside-widget a {
    color: #5b6268;
}

/* The tags widget */
.tags {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.tags li {
    float: left;
}

.tags li a {
    padding: 10px 15px;
    margin-right: 16px;
    margin-bottom: 17px;
    display: inline-block;
    background: #e6e6e6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.tags li a:focus,
.tags li a:hover {
    background-color: #c1d2e1;
}

/* The blog main page boxes */
.blog-teaser {
    background-color: #ececec;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 5px #a8a8a8;
    -moz-box-shadow: 0 1px 5px #a8a8a8;
    box-shadow: 0 1px 5px #a8a8a8;
    margin-bottom: 40px;
}

@media (min-width: 768px) and (max-width: 979px) {
    .blog-teaser {
        display: block;
        float: none;
        width: 95%;
    }
}

.blog-teaser header {
    padding-top: 20px;
    padding-right: 45px;
    padding-left: 45px;
    text-align: center;
}

.blog-teaser header img {
    margin-bottom: 20px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
}

.blog-teaser header h3 {
    color: #454a4e;
    margin-top: 0;
    font-size: 28px;
    margin-bottom: 10px;
}

.blog-teaser header h3 a,
.blog-teaser header h3 a:focus,
.blog-teaser header h3 a:hover {
    color: #454a4e;
}

.blog-teaser header .meta {
    color: #5a6065;
}

.blog-teaser header hr {
    border-top-color: #ced5db;
    border-bottom: none;
}

.blog-teaser .body {
    padding-right: 45px;
    padding-left: 45px;
    margin-bottom: 10px;
    color: #343a3f;
}

.blog-teaser .btn {
    float: right;
    margin-right: 45px;
    margin-bottom: 18px;
}

/* Blog main page paging */
.paging {
    margin-bottom: 20px;
    text-align: right;
}

.paging a:hover,
.paging a:focus {
    color: #55a773;
}

.paging i {
    font-size: 16px;
}

.paging a,
.paging span {
    margin-left: 10px;
}

.paging .newer i {
    margin-right: 5px;
}

.paging .older i {
    margin-left: 5px;
}

/* ... aand the main blog article */
.blog-post {
    margin-bottom: 90px;
}

.blog-post header h1 {
    font-family: 'PT Serif', serif;
    margin-bottom: 22px;
}

.blog-post header .lead-image {
    position: relative;
}

.blog-post header .lead-image .meta {
    padding-left: 30px;
    padding-bottom: 10px;
    position: absolute;
    bottom: 15px;
    background-color: #55a773;
    background-color: rgba(85, 167, 115, 0.85);
    color: #ccecd7;
}

.blog-post header .lead-image .meta a {
    color: #ccecd7;
}

@media (max-width: 979px) {
    .blog-post header .lead-image .meta {
        position: relative;
        bottom: 0;
    }
}

.blog-post header .lead-image .meta .author,
.blog-post header .lead-image .meta .date,
.blog-post header .lead-image .meta .comments {
    float: left;
    margin: 10px 55px 0 0;
}

.blog-post header .lead-image .meta .author .data,
.blog-post header .lead-image .meta .date .data,
.blog-post header .lead-image .meta .comments .data {
    line-height: 30px;
}

@media (min-width: 980px) and (max-width: 1199px) {
    .blog-post header .lead-image .meta .author,
    .blog-post header .lead-image .meta .date,
    .blog-post header .lead-image .meta .comments {
        margin-right: 20px;
    }
}

.blog-post header .lead-image .meta .author i,
.blog-post header .lead-image .meta .date i,
.blog-post header .lead-image .meta .comments i {
    font-size: 30px;
    float: left;
    margin-right: 10px;
}

.blog-post .body {
    margin-top: 20px;
}

@media (min-width: 1200px) {
    .blog-post .body {
        padding-right: 30px;
    }
}

.blog-post .body p {
    margin-bottom: 20px;
}

/* The round social icons including the animations */
.social-icons {
    text-align: center;
}

.social-icon {
    position: relative;
    margin-bottom: 90px;
    display: inline-block;
    width: 135px;
    height: 135px;
    margin-left: 70px;
    border-radius: 200px;
}

.social-icon .inner-circle {
    position: absolute;
    top: 11px;
    left: 11px;
    display: block;
    height: 113px;
    width: 113px;
    border-radius: 200px;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

.social-icon:hover .inner-circle {
    top: 0;
    left: 0;
    width: 135px;
    height: 135px;
}

.social-icon i {
    color: #f8f8f9;
    font-size: 70px;
    position: absolute;
    top: 36px;
    left: 37px;
}

.social-icon i.fa-facebook {
    left: 50px;
}

.social-icon i.fa-github-alt {
    top: 32px;
}

.social-icon:first-child {
    margin-left: 0;
}

@media (min-width: 980px) and (max-width: 1199px) {
    .span6 .social-icon {
        margin-left: 15px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .social-icon {
        margin-left: 40px;
        width: 122px;
        height: 122px;
    }

    .span6 .social-icon {
        margin-left: -8px;
    }

    .social-icon .inner-circle {
        position: absolute;
        top: 11px;
        left: 11px;
        display: block;
        height: 100px;
        width: 100px;
    }

    .social-icon:hover .inner-circle {
        width: 122px;
        height: 122px;
    }

    .social-icon i {
        font-size: 50px;
        top: 36px;
        left: 37px;
    }

    .social-icon i.fa-facebook {
        left: 50px;
    }
}

@media (max-width: 767px) {
    .social-icon {
        margin-left: 10px;
        width: 81px;
        height: 81px;
        margin-bottom: 40px;
    }

    .social-icon .inner-circle {
        position: absolute;
        top: 8px;
        left: 8px;
        display: block;
        height: 65px;
        width: 65px;
    }

    .social-icon:hover .inner-circle {
        height: 65px;
        width: 65px;
        top: 8px;
        left: 8px;
    }

    .social-icon i {
        font-size: 35px;
        top: 25px;
        left: 25px;
    }

    .social-icon i.fa-facebook {
        left: 32px;
    }

    .social-icon i.fa-github-alt {
        top: 22px;
    }
}

.social-icon.color-one {
    background-color: #7dbd95;
}

.social-icon.color-one .inner-circle {
    background-color: #55a773;
}

.social-icon.color-two {
    background-color: #bb9ce2;
}

.social-icon.color-two .inner-circle {
    background-color: #74549f;
}

.social-icon.color-three {
    background-color: #64c4ee;
}

.social-icon.color-three .inner-circle {
    background-color: #3f8ebd;
}

/* Comments on blog detail page */
aside.comments,
aside.create-comment {
    margin-bottom: 100px;
}

aside.comments hr,
aside.create-comment hr {
    width: 515px;
    margin-left: auto;
    margin-right: auto;
    border-top-color: #ced5db;
    margin-bottom: 130px;
}

@media (min-width: 768px) and (max-width: 979px) {
    aside.comments hr,
    aside.create-comment hr {
        width: 415px;
    }
}

@media (max-width: 767px) {
    aside.comments hr,
    aside.create-comment hr {
        width: 100%;
    }
}

aside.comments h2,
aside.create-comment h2 {
    text-align: center;
    font-weight: normal;
    margin-bottom: 130px;
}

aside.comments h2 i,
aside.create-comment h2 i {
    font-size: 36px;
}

aside.comments .comment {
    margin: 130px 0 0 0;
}

aside.comments .comment.reply {
    margin-left: 100px;
}

aside.comments .comment header img {
    float: left;
    border-radius: 100px;
}

aside.comments .comment header .meta {
    margin-left: 100px;
    font-size: 14px;
}

aside.comments .comment header .meta h3 {
    margin: 10px 0 0 0;
    line-height: 27px;
}

aside.comments .comment header .meta h3 a {
    color: #5b6268;
}

aside.comments .comment header .meta a {
    color: #55a773;
}

aside.comments .comment .body {
    margin-top: 10px;
    margin-left: 100px;
}

/* Add commment form */
.create-comment input,
.contact-form input,
.create-comment textarea,
.contact-form textarea {
    margin-top: 15px;
}

.create-comment .btn,
.contact-form .btn {
    margin: 15px 0 0 30px;
    float: right;
}

.content,
.about {
    padding-top: 36px;
    padding-bottom: 80px;
}

/* About me page */
.about hr {
    margin-top: 75px;
}

.about-portrait {
    float: right;
    margin-top: 20px;
    margin-left: 70px;
    -webkit-border-radius: 180px;
    -moz-border-radius: 180px;
    border-radius: 180px;
}

@media (max-width: 767px) {
    .about-portrait {
        float: none;
        margin: 40px auto;
    }
}

.about-button {
    margin-top: 30px;
}

/* The various styles that are used in the about me text chunk */
.about-bold {
    font-weight: bold;
}

.about-italic {
    font-style: italic;
}

.about-large,
.about-medium,
.about-small {
    font-family: 'PT Serif', serif;
    line-height: 60px;
}

@media (max-width: 767px) {
    .about-large,
    .about-medium,
    .about-small {
        display: block;
    }
}

.about-large {
    font-size: 40px;
}

.about-medium {
    font-size: 36px;
}

.about-small {
    font-size: 30px;
}

/* The centered blocks under about me, used for "Social" and "Contact" */
.tales-superblock {
    margin-bottom: 80px;
}

.tales-superblock h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 80px;
}

/* The image credits page */
@media (max-width: 767px) {
    .credits {
        text-align: center;
    }

    .credits img {
        margin-left: auto;
        margin-right: auto;
    }
}

.credits .image {
    margin-top: 60px;
}

.credits .details {
    margin-top: 60px;
    margin-bottom: 75px;
}

@media (min-width: 768px) and (max-width: 979px) {
    .credits .details {
        margin-top: 45px;
    }
}

@media (max-width: 767px) {
    .credits .details {
        margin-top: 10px;
    }
}

.credits img {
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
}

.credits .bold {
    font-weight: bold;
}

/* Form styles */
.form-control:focus {
    border-color: #74c893;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px @form-focus-border;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px @form-focus-border;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px @form-focus-border;
}

.form-control::-webkit-input-placeholder {
    color: #a5b1bc;
}

.form-control:-moz-placeholder {
    color: #a5b1bc;
}

.form-control::-moz-placeholder {
    color: #a5b1bc;
}

.form-control:-ms-input-placeholder {
    color: #a5b1bc;
}

/* Buttons used in Tales */
.btn-tales-one {
    color: #ffffff;
    background-color: #69bc87;
    border-color: #549f6f;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#69bc87), to(#48a068));
    background-image: -webkit-linear-gradient(top, #69bc87 0%, #48a068 100%);
    background-image: -moz-linear-gradient(top, #69bc87 0%, #48a068 100%);
    background-image: linear-gradient(to bottom, #69bc87 0%, #48a068 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff69bc87', endColorstr='#ff48a068', GradientType=0);
    background-repeat: repeat-x;
    border-color: #449963;
}

.btn-tales-one:hover,
.btn-tales-one:focus,
.btn-tales-one:active,
.btn-tales-one.active,
.open .dropdown-toggle.btn-tales-one {
    color: #ffffff;
    background-color: #4eae71;
    border-color: #3f7753;
}

.btn-tales-one:active,
.btn-tales-one.active,
.open .dropdown-toggle.btn-tales-one {
    background-image: none;
}

.btn-tales-one.disabled,
.btn-tales-one[disabled],
fieldset[disabled] .btn-tales-one,
.btn-tales-one.disabled:hover,
.btn-tales-one[disabled]:hover,
fieldset[disabled] .btn-tales-one:hover,
.btn-tales-one.disabled:focus,
.btn-tales-one[disabled]:focus,
fieldset[disabled] .btn-tales-one:focus,
.btn-tales-one.disabled:active,
.btn-tales-one[disabled]:active,
fieldset[disabled] .btn-tales-one:active,
.btn-tales-one.disabled.active,
.btn-tales-one[disabled].active,
fieldset[disabled] .btn-tales-one.active {
    background-color: #69bc87;
    border-color: #549f6f;
}

.btn-tales-one:hover,
.btn-tales-one:focus {
    background-color: #48a068;
    background-position: 0 -15px;
}

.btn-tales-one:active,
.btn-tales-one.active {
    background-color: #48a068;
    border-color: #449963;
}

.btn-tales-one .caret {
    border-top-color: #ffffff;
}

.btn-tales-two {
    color: #ffffff;
    background-color: #485561;
    border-color: #3c4852;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#485561), to(#2e363e));
    background-image: -webkit-linear-gradient(top, #485561 0%, #2e363e 100%);
    background-image: -moz-linear-gradient(top, #485561 0%, #2e363e 100%);
    background-image: linear-gradient(to bottom, #485561 0%, #2e363e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff485561', endColorstr='#ff2e363e', GradientType=0);
    background-repeat: repeat-x;
    border-color: #2a3138;
}

.btn-tales-two:hover,
.btn-tales-two:focus,
.btn-tales-two:active,
.btn-tales-two.active,
.open .dropdown-toggle.btn-tales-two {
    color: #ffffff;
    background-color: #37404a;
    border-color: #22292f;
}

.btn-tales-two:active,
.btn-tales-two.active,
.open .dropdown-toggle.btn-tales-two {
    background-image: none;
}

.btn-tales-two.disabled,
.btn-tales-two[disabled],
fieldset[disabled] .btn-tales-two,
.btn-tales-two.disabled:hover,
.btn-tales-two[disabled]:hover,
fieldset[disabled] .btn-tales-two:hover,
.btn-tales-two.disabled:focus,
.btn-tales-two[disabled]:focus,
fieldset[disabled] .btn-tales-two:focus,
.btn-tales-two.disabled:active,
.btn-tales-two[disabled]:active,
fieldset[disabled] .btn-tales-two:active,
.btn-tales-two.disabled.active,
.btn-tales-two[disabled].active,
fieldset[disabled] .btn-tales-two.active {
    background-color: #485561;
    border-color: #3c4852;
}

.btn-tales-two:hover,
.btn-tales-two:focus {
    background-color: #2e363e;
    background-position: 0 -15px;
}

.btn-tales-two:active,
.btn-tales-two.active {
    background-color: #2e363e;
    border-color: #2a3138;
}

.btn-tales-two .caret {
    border-top-color: #ffffff;
}

.btn-xlarge {
    padding: 12px 46px;
    font-size: 20px;
    line-height: normal;
    border-radius: 5px;
}

/* ------------------------------------ */
.nav * {
    list-style: none;
}

.nav,
.nav > li,
.nav > li > ul,
.nav > li > ul > li,
.nav > li > ul > a {
    height: 50px;
    /*background: #ddd;*/
}

.nav > li > ul > li {
    display: inline-block;
}

.nav > li > ul > li > a {
    display: inline-block;
    padding: 7px;
    color: #ddd;
    font-size: 18px;
    text-transform: uppercase;
}

.nav > li > ul > li:hover > a {
    background: #777;
    color: #fff !important;
}

.top-style-line {
    height: 3px;
    background: #481a1c; /* Old browsers */
    background: -moz-linear-gradient(left, #481A1C 0%, #cd2027 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #481A1C), color-stop(100%, #cd2027)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #481A1C 0%, #cd2027 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #481A1C 0%, #cd2027 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #481A1C 0%, #cd2027 100%); /* IE10+ */
    background: linear-gradient(to right, #481A1C 0%, #cd2027 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#481A1C', endColorstr='#cd2027', GradientType=1); /* IE6-9 */

}

.navbar-default {
    background: #464646;
    border: none;
}

.container-fluid {
    padding: 0;
}

a {
    color: #b31f26;
}

a:hover {
    color: #fc222d;
}

input {
    width: 300px;
    margin: 3px;
    padding: 1px 3px;
}

textarea {
    width: 300px;
    margin: 3px;
    padding: 1px 3px;
}

label {

}

form {
    /*margin-bottom: 20px;*/
    /*border: 1px rgba(95, 212, 0, 0.35) solid;*/
    /*background: rgba(95, 212, 0, 0.05);*/
    /*padding: 10px;*/
}

/* ---------------------------------------------------------------- */

.navbar .container {
    padding: 0;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #222;
}

/*** TOP MENU ***/

.top-menu {
    display: inline-block;
    position: relative;
    float: right;
    list-style: none;

    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}

.top-menu li {
    display: inline-block;

    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.04) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(255, 255, 255, 0.04))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.04) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.04) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.04) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.04) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#14ffffff', GradientType=1); /* IE6-9 */

}

.top-menu li:first-child a {
    border-left: 1px rgba(0, 0, 0, 0.3) solid !important;;
}

.top-menu li a {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    /*background: url("/profapp/static/front/img/ico/articles.png") center center no-repeat;*/
    background: transparent center center no-repeat;
    color: #fff;
    font-size: 16px;
    filter: alpha(opacity=50);
    opacity: .5;
    border-right: 1px rgba(0, 0, 0, 0.4) solid !important;
}

.top-menu .tooltip {
    display: none;
}

.top-menu li a:hover {
    background-color: #777;
    filter: alpha(opacity=95);
    opacity: 0.95;
}

.top-menu li a.messages_btn {
    background-image: url("../../static/front/img/ico/messenger.png");
}

.top-menu li a.company_btn {
    background-image: url("../../static/front/img/ico/companies.png");
}

.top-menu li a.article_btn {
    background-image: url("../../static/front/img/ico/articles.png");
}

.top-menu li a.filemanager_btn {
    background-image: url("../../static/front/img/ico/files.png");
}

.person-small-cover {
    border-radius: 50%;
    border: 3px #999 solid;
    width: 36px;
    height: 36px;
}

.topbar-menu-links {
    display: block;
    width: 1170px;
    margin-left: -15px;
    background: #fcc;
    font-size: 0;
}

.topbar-menu-links div {
    display: block;
    line-height: 2;
    height: 100%;
}

.topbar-menu-links a,
.topbar-menu-links span {
    font-size: 16px;
    padding: 7px 15px;
    border-right: 1px #fff dotted;

    background: transparent;
}

.topbar-menu-links a:hover {
    background: #CD2027;
    color: #fff;
}

.user-profile .info,
.topbar-menu-links .info {
    position: relative;
    padding-left: 220px;
}

.user-profile .info .profile-thumbnail {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}

.profile-thumbnail {
    position: relative;

    /*border: 3px #ccc solid;*/
    width: 200px;
    height: 200px;
    /*background-size: contain;*/

    background: center center no-repeat;
    background-size: 200px 200px;
    transition: background-size 0.3s ease-in;
    -moz-transition: background-size 0.3s ease-in;
    -web-kit-transition: background-size 0.3s ease-in;
    border: 3px rgba(200, 200, 200, 0.5) solid;
    /*box-sizing: content-box;*/
}

.profile-thumbnail:hover {
    background-size: 256px 256px;
}

.form.info .img-upload-form {
    display: block;
    position: absolute;

    top: 240px;
    left: 10px;

    width: 200px;
}

.form.info .img-upload-form input {
    width: 200px;
}

.user-profile .info span,
.form.info span {
    display: inline-block;
    width: 170px;
    color: #777;
}

.user-profile .info span.data-timestamp {
    color: #111 !important;
}

.user-profile .info .item,
.form.info .item {
    padding: 2px 10px;
}

.user-profile .info .item:hover,
.form.info .item:hover {
    background: rgba(205, 32, 39, 0.27);
}

.profile-thumbnail .control {
    position: absolute;
    bottom: -50px;
    left: -3px;
    /*background: rgba(255, 255, 255, 0.9);*/
    font-size: 12px;
    width: 200px;
    padding: 0;
}

.profile-thumbnail .control span {
    width: 100px;
    margin: 0;
    padding: 0;
}

.profile-thumbnail .control a {
    width: 70px;
    margin: 2px;
    padding: 5px;
    cursor: pointer;
}

.profile-thumbnail .control a:hover {
    background: #fff;
}

.form input[btn-radio] {
    width: auto;
}

.form {
    position: relative;
    padding: 10px 10px 10px 220px;

    margin-bottom: 20px;
    border: 1px rgba(95, 212, 0, 0.35) solid;
    background: rgba(95, 212, 0, 0.05);
}

.form form {
    position: relative;
    padding: 0;
    margin-bottom: 0;
    border: none;
    background: transparent;
}

.form .profile-thumbnail {
    position: absolute;
    top: 10px;
    left: 10px;
}

input[type=checkbox]:not(old),
input[type=radio   ]:not(old) {
    width: 28px;
    margin: 0;
    padding: 0;
    /* TODO OK BY OZ: i have removed this code. why u need it?
      opacity : 0; */
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label {
    display: inline-block;
    margin-left: -28px;
    padding-left: 28px;
    background: url('../../static/images/checks.png') no-repeat 0 0;
    line-height: 24px;
}

input[type=checkbox]:not(old):checked + label {
    background-position: 0 -24px;
}

input[type=radio]:not(old):checked + label {
    background-position: 0 -48px;
}

select:active, select:hover {
    /*outline-color: none !important;*/
    box-shadow: 0 0 10px 100px #fff inset;
}

a.title-btn {
    display: inline-block;
    padding: 5px 5px 5px 50px !important;
    font-size: 12px !important;
    margin-left: 10px;
    height: 48px;
    background-color: #ff0000;
}

/* ----- LOGINATION & AUTHORITHATION ------------------ */

.via-social {
    text-align: left;
    font-size: 0;
}

.login-by {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 10px 10px 0 0;
    background: #eee;
    /*margin-bottom: 50px;*/
    background-size: cover;
}

/*.login-by span {*/
/*display: none;*/
/*position: absolute;*/
/*bottom: -31px;*/
/*background: #777;*/
/*color: #FFFFFF;*/
/*width: 65px;*/
/*box-sizing: border-box;*/
/*padding: 2px;*/
/*text-align: center;*/
/*font-size: 12px;*/

/*background: #152d00; /!* Old browsers *!/*/
/*background: -moz-linear-gradient(left,  #152d00 0%, #97d800 100%); /!* FF3.6+ *!/*/
/*background: -webkit-gradient(linear, left top, right top, color-stop(0%,#152d00), color-stop(100%,#97d800)); /!* Chrome,Safari4+ *!/*/
/*background: -webkit-linear-gradient(left,  #152d00 0%,#97d800 100%); /!* Chrome10+,Safari5.1+ *!/*/
/*background: -o-linear-gradient(left,  #152d00 0%,#97d800 100%); /!* Opera 11.10+ *!/*/
/*background: -ms-linear-gradient(left,  #152d00 0%,#97d800 100%); /!* IE10+ *!/*/
/*background: linear-gradient(to right,  #152d00 0%,#97d800 100%); /!* W3C *!/*/
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#152d00', endColorstr='#97d800',GradientType=1 ); /!* IE6-9 *!/*/
/*}*/

.login-by {
    box-sizing: content-box;
    border-bottom: 3px solid transparent;
    background-repeat: no-repeat;
}

.login-by:hover {
    border-color: #ca2027;
}

.login-by:hover span {
    /*display: block;*/
    background: #555;
}

.login-by span i {
    display: none;
    font-size: 10px;
    /*margin-right: 5px;*/
}

.login-by-google {
    background-image: url("../../static/images/social/g.png");
}

.login-by-facebook {
    background-image: url("../../static/images/social/f.png");
}

.login-by-linkedin {
    background-image: url("../../static/images/social/l.png");
}

.login-by-microsoft {
    background-image: url("../../static/images/social/m.png");
}

.by-socials-block {
    float: left;
}

.by-profireader-block {
    float: right;
}

.tabs {
    border-bottom: 1px #ccc solid;
}

.tab {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    margin-bottom: -1px;
    color: #ca2027;
}

.tab.actual {
    border: 1px #ccc solid;
    border-bottom: 1px #eee solid !important;
    background-color: #eee;
    color: #555;
}

.auth-form {
    padding-top: 15px;
    width: 340px;
    margin: 0 auto;
}

.auth-form h3 {
    margin: 15px 0 7px 0;
}

.auth-form input {
    padding: 5px 15px;
}

.auth-form input[type="submit"] {
    border: none;
    background: #555;
    color: #eee;
    padding: 15px;
    text-align: center;
}

.auth-form input[type="submit"]:hover {
    background: #ca2027;
    color: #fff;
}

.content-block {
    background: #eee;
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: -1px;
}