<section class="topbar">
    <div class="topbar-wrapper">

        <div class="js-topbar-dialog-corral">
        <div style="top: 34px; left: 0px; display: none;" class="topbar-dialog siteSwitcher-dialog dno">
<link rel="stylesheet" type="text/css" href="../../static/css/favicons.css">    <div class="header">
        <h3><a href="http://stackexchange.com/">current community</a></h3>
    </div>
    <div class="modal-content current-site-container">
        <ul class="current-site">
                <li>
                        <div class="related-links">
            <a href="http://chat.stackexchange.com/" class="js-gps-track" data-gps-track="site_switcher.click({ item_type:6 })">chat</a>
                    <a href="http://blog.stackexchange.com/" class="js-gps-track" data-gps-track="site_switcher.click({ item_type:7 })">blog</a>
            </div>


    <a href="http://stackexchange.com/" class="current-site-link site-link js-gps-track" data-id="155" data-gps-track="
        site_switcher.click({ item_type:3 })">
        <div class="site-icon favicon favicon-stackexchange" title=""></div>
        Stack Exchange
    </a>

                </li>
                <li class="related-site">
                        <div class="L-shaped-icon-container">
        <span class="L-shaped-icon"></span>
    </div>


    <a href="http://meta.stackexchange.com/" class="site-link js-gps-track" data-id="4" data-gps-track="
            site.switch({ target_site:4, item_type:3 }),
        site_switcher.click({ item_type:4 })">
        <div class="site-icon favicon favicon-stackexchangemeta" title="Meta Stack Exchange"></div>
        Meta Stack Exchange
    </a>

                </li>
                    </ul>
    </div>

    <div class="header" id="your-communities-header">
        <h3>
your communities        </h3>

    </div>
    <div class="modal-content" id="your-communities-section">

            <div class="call-to-login">
<a href="https://stackexchange.com/users/login#create-account" class="login-link js-gps-track" data-gps-track="site_switcher.click({ item_type:10 })">Sign up</a> or <a href="https://stackexchange.com/users/login" class="login-link js-gps-track" data-gps-track="site_switcher.click({ item_type:11 })">log in</a> to view your list.
            </div>
    </div>

    <div class="header">
        <h3><a href="http://stackexchange.com/sites">more stack exchange communities</a></h3>
    </div>
    <div class="modal-content">


<div class="site-filter-container">
    <input id="js-site-filter-txt" class="site-filter-input" placeholder="Find a Stack Exchange community" type="text">
</div>

<ul class="other-sites js-other-sites">
        <li>
                <a class="other-site-link js-gps-track" href="http://academia.stackexchange.com/" data-id="415" data-gps-track="site.switch({ target_site:415, item_type:3 }), site_switcher.click({ item_type:2 })">
        <div class="site-icon favicon favicon-academia" title="Academia"></div>
        Academia
        <p class="site-desc">For academics and those enrolled in higher education</p>
    </a>

        </li>
        <li>
                <a class="other-site-link js-gps-track" href="http://ham.stackexchange.com/" data-id="520" data-gps-track="site.switch({ target_site:520, item_type:3 }), site_switcher.click({ item_type:2 })">
        <div class="site-icon favicon favicon-ham" title="Amateur Radio"></div>
        Amateur Radio
        <p class="site-desc">For amateur radio enthusiasts</p>
    </a>

        </li>
        <li>
                <a class="other-site-link js-gps-track" href="http://android.stackexchange.com/" data-id="139" data-gps-track="site.switch({ target_site:139, item_type:3 }), site_switcher.click({ item_type:2 })">
        <div class="site-icon favicon favicon-android" title="Android Enthusiasts"></div>
        Android Enthusiasts
        <p class="site-desc">For enthusiasts and power users of the Android operating system</p>
    </a>

        </li>
</ul>    </div>
</div></div>

        <div class="network-items">

            <a href="http://stackexchange.com/" class="topbar-icon icon-site-switcher yes-hover js-site-switcher-button js-gps-track" data-gps-track="site_switcher.show" title="A list of all 150 Stack Exchange sites">
                <span class="hidden-text">Stack Exchange</span>
            </a>

        </div>

        <div class="topbar-links">
            <div class="links-container">
                <span class="topbar-menu-links">
                                            <a href="/users/login#create-account">sign up</a>
                        <a href="/users/login">log in</a>

                    <a data-loc="2" class="tour-link" href="http://stackexchange.com/tour">tour</a>
                    <a href="http://stackexchange.com/about">about us</a>
                    <a href="http://meta.stackexchange.com/">meta</a>
                </span>
            </div>

            <div class="search-container">
                <form action="/search" method="get" autocomplete="off">
                    <input name="q" id="search" placeholder="search all sites" tabindex="1" autocomplete="off" maxlength="240" type="text">
                </form>
            </div>

        </div>
    </div>
</section>
