<script src="{{ url_for('static', filename = 'image_editor/assets/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'image_editor/assets/js/bootstrap.min.js') }}"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.2.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">




{#<link href="{{ url_for('static', filename = 'image_editor/assets/css/bootstrap.min.css') }}" rel="stylesheet">#}
<link href="{{ url_for('static', filename = 'image_editor/dist/cropper.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename = 'image_editor/dist/cropper.js') }}"></script>
{#<link href="{{ url_for('static', filename = 'image_editor/demo/css/main.css') }}" rel="stylesheet">#}
{#<script src="{{ url_for('static', filename = 'image_editor/demo/js/main.js') }}"></script>#}


<script src="/static/filemanager/angular-filemanager.min.js"></script><!-- Comment if you need to use raw source code -->
<script src="/static/filemanager/cached-templates.js"></script><!-- Comment if you need to use raw source code -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static/filemanager/angular-filemanager.css">
