<h3>Login via social:</h3>
<div class="via-social">
    <a class="login-by login-by-google" href="{{ url_for('auth.login_soc_network', soc_network_name='google') }}"></a>
    <a class="login-by login-by-facebook"
       href="{{ url_for('auth.login_soc_network', soc_network_name='facebook') }}"></a>
    <a class="login-by login-by-linkedin"
       href="{{ url_for('auth.login_soc_network', soc_network_name='linkedin') }}"></a>
    {#<a href="{{ url_for('auth.signup_soc_network', soc_network_name='twitter') }}">twitter</a>#}
    <a class="login-by login-by-microsoft"
       href="{{ url_for('auth.login_soc_network', soc_network_name='microsoft') }}"></a>
    {#<a href="{{ url_for('auth.signup_soc_network', soc_network_name='yahoo') }}">yahoo</a>#}
</div>