<div ng-controller="UserLoginController">
<h3>{{ '{{' }}_('Log in using Profireader'){{ '}}' }}</h3>

<form action="{{ url_for('auth.login', next=request.args.get('next')) }}" method="POST">
    {{ form.email(placeholder='yourname@email.com') }} <br/>
    {{ form.password(placeholder="{{_('Password')}}") }} <br/>
    {{ form.submit(type="submit", value="{{_('Login')}}") }}<br/>
    <!-- <input name="submit" type="submit" /> <br> -->
    {{ form.csrf_token }}
</form>

<div style="font-size: 14px; text-align: center; padding-top: 25px; line-height: 16px;">
    <p>{{ '{{' }}_('Forgot your password'){{ '}}' }}? <a href="{{ url_for('auth.password_reset_request') }}">{{ '{{' }}_('Click here to Reset it'){{ '}}' }}</a>.</p>
    <p>{{ '{{' }}_('New user'){{ '}}' }}? <a href="{{ url_for('auth.signup') }}">{{ '{{' }}_('Click here to register'){{ '}}' }}</a>.</p>
</div>
</div>
<!--<form id="se-login-form" action="url_for('user.login_profireader')" method="POST">
    <input name="email" placeholder="Email" maxlength="100" type="email"><br/>
    <input name="password" placeholder="Password"  value="" type="password"><br/>
    <input id="submit-button" name="submit-button" value="Log In" type="submit"><br/>
</form>
<br/> -->
