<h2>Log in using Profireader</h2>

<form action="{{ url_for('user.login_profireader') }}" method="POST" >
    {{ form.email(placeholder='yourname@email.com') }} <br/>
    {{ form.password(placeholder='Password') }} <br/>
    {{ form.submit(type="submit", value="Sign Up") }}<br/>
    <!-- <input name="submit" type="submit" /> <br> -->
    {{ form.csrf_token }}
</form>

<a href={{ url_for('user.password_reset_request') }}>forgot password</a><br/>


<!--<form id="se-login-form" action="url_for('user.login_profireader')" method="POST">
    <input name="email" placeholder="Email" maxlength="100" type="email"><br/>
    <input name="password" placeholder="Password"  value="" type="password"><br/>
    <input id="submit-button" name="submit-button" value="Log In" type="submit"><br/>
</form>
<br/> -->
