<div class="auth-form" ng-controller="UserLoginController">
    <div class="tabs">
        <a class="tab actual" href="{{ url_for('auth.login') }}" title="Log in to Profireader">{{ '{{' }}_('Log in'){{ '}}' }}</a>
        <a class="tab" href="{{ url_for('auth.signup') }}" title="Sign up to Profireader">{{ '{{' }}_('Sign up'){{ '}}' }}</a>
    </div>
    <div class="content-block">
        {% include 'partials/Log in - Soc Networks.html' %}
        {% include 'partials/Log in - Profireader.html' %}
    </div>
</div>
