<footer>
    <div class="top-style-line"></div>
{#        <div class="widewrapper footer">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col-md-4 footer-widget">#}
{#                        <h3> <i class="fa fa-cog"></i>Statistics</h3>#}
{##}
{#                        <span>Porireader actual statistic information:</span>#}
{##}
{#                        <div class="stats">#}
{#                            <div class="line">#}
{#                                <span class="counter">3270</span>#}
{#                                <span class="caption">Articles</span>#}
{#                            </div>#}
{#                            <div class="line">#}
{#                                <span class="counter">243</span>#}
{#                                <span class="caption">Authors</span>#}
{#                            </div>#}
{#                            <div class="line">#}
{#                                <span class="counter">75</span>#}
{#                                <span class="caption">Companys</span>#}
{#                            </div>#}
{#                            <div class="line">#}
{#                                <span class="counter">25k</span>#}
{#                                <span class="caption">Visitors Today</span>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="col-md-4 footer-widget">#}
{#                        <h3> <i class="fa fa-star"></i>Our advantages</h3>#}
{#                        <ul class="tales-list">#}
{#                            <li><a href="index.html">The possibility of convenient configurations of subdivisions</a></li>#}
{#                            <li><a href="#">Easy operation with its own publications</a></li>#}
{#                            <li><a href="#">The presence of a free test version for review</a></li>#}
{#                            <li><a href="#">Comfortable statistics yet</a></li>#}
{#                        </ul>#}
{#                    </div>#}
{##}
{#                    <div class="col-md-4 footer-widget">#}
{#                        <h3> <i class="fa fa-envelope"></i>Contact Us</h3>#}
{##}
{#                        <span>We happy to hear from our readers. Thoughts, feedback, critique - all welcome!</span>#}
{#                        #}
{#                        <span class="email">Email: <a href="#">test@test.com</a></span>#}
{#                        <span class="email">Skype: <a href="#">Skype</a></span>#}
{#                        <span class="email">Mobile: <a href="#">+380679277777</a></span>#}
{#                        <span class="email">Fax: <a href="#">+380324546848</a></span>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
        <div class="widewrapper copyright">
            <div class="container">{{ get_context('a') }}{{ _("Powered by %(name.first)s l %(name.last)s ss ", {'name': {'first': 'f', 'last': True} }) }} <a href="/">http://profireader.com/</a></div>
        </div>
    </footer>