<footer id="footer">
        <div class="contentWrapper">
            <div class="footerLinksSpaced">
                <p>
                    <a href="http://stackexchange.com/about">about us</a> <a href="http://stackexchange.com/work-here">work here</a> <a href="http://blog.stackexchange.com/">blog</a> <a href="http://stackexchange.com/legal">legal</a> <a href="http://stackexchange.com/legal/privacy-policy">privacy policy</a> <a href="http://stackexchange.com/about/contact">contact us</a> <a href="http://meta.stackexchange.com/">feedback always welcome</a>
                    <a href="https://plus.google.com/+StackExchange" class="google-plus-icon" title="follow us on Google+"></a>
                    <a href="http://www.facebook.com/stackexchange" class="facebook-icon" title="like us on Facebook"></a>
                    <a href="http://twitter.com/stackexchange" class="twitter-icon" title="follow us on Twitter"></a>
                </p>
            </div>
            <p>site design / logo © 2015 stack exchange, inc; user contributions licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license">cc-wiki</a> with <a href="http://blog.stackoverflow.com/2009/06/attribution-required/" rel="license">attribution required</a></p>
            <div class="footer-meta-info">
                2015.7.24.2127
            </div>

        </div>
</footer>
