<form action="{{ url_for('user.signup') }}" method="POST" />
            {{ form.email(placeholder='yourname@email.com', size="30", maxlength="100", type="email") }} <br/>
            {{ form.displayname(placeholder='Name (your public display name)', size="30", maxlength="100", type="text") }} <br/>
            {{ form.password(placeholder='Password', value="", type="password") }} <br/>
            {{ form.password2(placeholder='Confirm password', value="", type="password") }} <br/>
            {{ form.submit(type="submit", value="Sign Up") }}<br/>
            <!-- <input name="submit" type="submit" value="Sign Up" /> <br/> -->
            {{ form.csrf_token }}
</form>

<!-- <form action="url_for('user.signup')" method="POST">
    <h2>Sign up using Profireader</h2>
    <input id="display-name" name="display-name" placeholder="Name (your public display name)" size="30" maxlength="100" type="text"><br/>
    <input name="email" placeholder="Email (required, but never shown)" size="30" maxlength="100" type="email"><br/>
    <input name="password" placeholder="Password" value="" type="password"><br/>
    <input name="password2" placeholder="Confirm password" value="" type="password"><br/>
    <input id="submit-button" name="submit-button" value="Sign Up" type="submit">
</form>
-->

<!-- <form action="url_for('user.signup')" method="POST" />
            <input name="email" type="text" /><br>
            <input name="displayname" type="text" /><br>
            <input name="password" type="password" placeholder="Password" /><br>
            <input name="password2" type="password" placeholder="Password" /><br>
            <input name="submit" type="submit" />
            form2.csrf_token
</form> -->


