<!-- <div id="openid-buttons"> -->
<div id="social-networks-buttons">
    <a href="/users/login/google">
        <div class="preferred-login google-login" data-provider="google" data-oauthserver="https://accounts.google.com/o/oauth2/auth" data-oauthversion="2.0">
            <p>
                <span class="icon" style="background-position: 0px 0px; "></span>
                <span>Sign up using Google</span>
            </p>
        </div>
    </a>
    <a href="/users/login/facebook">
        <div class="preferred-login facebook-login" data-provider="facebook" data-oauthserver="https://www.facebook.com/v2.0/dialog/oauth" data-oauthversion="2.0">
            <p>
                <span class="icon" style="background-position: 0px 0px; "></span>
                <span>Sign up using Facebook</span>
            </p>
        </div>
    </a>
    <a href="/users/login/linkedin">
    <div class="preferred-login linkedin-login" data-provider="linkedin" data-oauthserver="" data-oauthversion="2.0">
        <p>
            <span class="icon" style="background-position: 0px 0px; "></span>
            <span>Sign up using LinkedIn</span>
        </p>
    </div>
    </a>
    <a href="/users/login/twitter">
    <div class="preferred-login twitter-login" data-provider="twitter" data-oauthserver="" data-oauthversion="2.0">
        <p>
            <span class="icon" style="background-position: 0px 0px; "></span>
            <span>Sign up using Twitter</span>
        </p>
    </div>
    </a>
    <a href="/users/login/microsoft">
    <div class="preferred-login microsoft-login" data-provider="microsoft" data-oauthserver="" data-oauthversion="2.0">
        <p>
            <span class="icon" style="background-position: 0px 0px; "></span>
            <span>Sign up using Microsoft</span>
        </p>
    </div>
    </a>
    <a href="/users/login/yahoo">
    <div class="preferred-login yahoo-login" data-provider="yahoo" data-oauthserver="" data-oauthversion="2.0">
        <p>
            <span class="icon" style="background-position: 0px 0px; "></span>
            <span>Sign up using Yahoo</span>
        </p>
    </div>
    </a>
</div>
