
                <form action="/users/signup" method="POST">
                    <input name="fkey" value="b6c073e106f31992a787241e77fa80f1" type="hidden">
                            <h2>Sign up using Profireader</h2>
                            <input id="display-name" name="display-name" placeholder="Name (your public display name)" size="30" maxlength="100" type="text"><br/>
                            <input name="email" placeholder="Email (required, but never shown)" size="30" maxlength="100" type="email"><br/>
                            <input name="password" placeholder="Password" value="" type="password"><br/>
                            <input name="password2" placeholder="Confirm password" value="" type="password"><br/>
                            <input id="submit-button" name="submit-button" value="Sign Up" type="button">
                    </form>

