<div class="auth-form">
    <div class="tabs">
        <a class="tab" href="{{ url_for('auth.login') }}" title="Log in to Profireader">Log in</a>
        <a class="tab actual" href="{{ url_for('auth.signup') }}" title="Sign up to Profireader">Sign up</a>
    </div>
    <div class="content-block">
        {% include 'partials/Signup - Soc Networks.html' %}
        {% include 'partials/Signup - Profireader.html' %}
    </div>
</div>
{#

<div class="by-socials-block"><h2>Sign up using any of the following
    services:</h2>{% include 'partials/Signup - Soc Networks.html' %}</div>
<div class="by-profireader-block"><h2>Simple registration</h2>{% include 'partials/Signup - Profireader.html' %}</div>
#}
