{% extends "index_layout.html" %}
{% block title %}Profireader{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block portal_base %}
    {% include 'partials/portal_base_Profireader.html' %}
{% endblock portal_base %}

{% block portal_content %}
    {% block company_base %}
        {% include 'company/company_base.html' %}
    {% endblock company_base %}

    <h2><img src="{{ company_logo }}" height="100" width="100"> {{ company.name }}
        {% if 'manage_rights_company' in user_rights %}
            <a href="{{ url_for('company.update', company_id=company.id) }}">Edit company</a>
        {% endif %}
    </h2>

    {% if 'manage_rights_company' in user_rights and not company.own_portal %}
        <a href="{{ url_for('portal.create', company_id=company.id) }}">Create Portal</a>
    {% else %}
        portal:
        <a href="http://{{ company.own_portal.host }}">http://{{ company.own_portal.host }}</a>
        <a href="{{ url_for('portal.profile', portal_id=company.own_portal.id) }}">[portal profile]</a>
    {% endif %}



    {{ company.short_description|safe }}



{% endblock portal_content %}

{% block footer %}
    {% include 'partials/portal_footer_Profireader.html' %}
{% endblock footer %}