<div ng-controller="UserLoginController" class="topbar-menu-links">
    <div ng-cloak ng-show="user.id">
        <a class="navbar-brand" href="{{ url_for('company.profile', company_id = company_id) }}"><img src="{{ company_logo }}" /></a>
        <a href="{{ url_for('company.materials', company_id = company_id) }}">{{ '{{' }}_('Materials'){{ '}}' }}</a>
        <a href="{{ url_for('portal.publications', company_id = company_id) }}">{{ '{{' }}_('Publications'){{ '}}' }}</a>
        <span>{{ '{{' }}_('Readers'){{ '}}' }}</span>
        <a href="{{ url_for('portal.portals_partners', company_id = company_id) }}">{{ '{{' }}_('Portals Partners'){{ '}}' }}</a>
        <a href="{{ url_for('portal.companies_partners', company_id = company_id) }}">{{ '{{' }}_('Companies Partners'){{ '}}' }}</a>
        <span>{{ '{{' }}_('Comments'){{ '}}' }}</span>
        <a href="{{ url_for('company.employees', company_id = company_id) }}">{{ '{{' }}_('Employees'){{ '}}' }}</a>
    </div>
</div>

