{% extends "index_lazy_layout.html" %}
{% block title %}Profireader{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block portal_base %}
    {% include 'partials/portal_base_Profireader.html' %}
{% endblock portal_base %}


{% block portal_content %}

    <script xmlns="http://www.w3.org/1999/html">
        module.controller('companies_list', ['$scope', '$ok', function ($scope, $ok) {

            $scope.url_company_profile = {{ raw_url_for('company.profile')|safe }};
            $scope.url_portal_profile = {{ raw_url_for('portal.profile')|safe }};
            $scope.url_search_for_company = {{ raw_url_for('company.search_for_company_to_join')|safe }};
            $scope.url_join = {{ raw_url_for('company.join_to_company')|safe }};
            $scope.url_create_own_company = '{{ url_for('company.update')|safe }}';

            $scope.selectedCompany_name = '';
            $scope.selectedCompany = null;
            $scope.selectedCompany_sending = false;


            $scope.onSelect = function ($item, $model, $label) {
                if (!$item || !$item.id) {
                    $scope.selectedCompany_name = '';
                    $scope.selectedCompany = null;
                }
                else {
                    $scope.selectedCompany = $item;
                }
            };

            $scope.searchForCompanyToJoin = function (val) {
                return $ok($scope.url_search_for_company(), {
                    article_id: $scope.data.id,
                    search: val
                }, function (resp) {
                    return resp.length ? resp : [{id: false, name: 'No results'}];
                });
            };

            $scope.joinToCompany = function () {
                $ok($scope.url_join({company_id: $scope.selectedCompany.id}), {company_id: $scope.selectedCompany.id}, function (resp) {
                    $scope.selectedCompany = null;
                    $scope.selectedCompany_name = null;
                    $scope.data['companies'] = resp['companies'];
                    {#TODO OZ BY VK: javascript error                #}
                    setTimeout(function () {
                        scrool($('#joined_company_' + resp['companies']['id']), {
                            afterScroll: function () {
                                highlight($('#joined_company_' + resp['companies']['id']));
                            }
                        });
                    }, 500);

                }).finally(function () {
                    $scope.selectedCompany_sending = false;
                });
            }

        }]);
    </script>
    {% raw %}

    <div ng-init="loadData()" ng-controller="companies_list">
        <h1 class="nice-title">Company list<span></span></h1>
        <a class="h1-btn icon icon-add" href="{{ url_create_own_company }}" title="{{ _('CREATE OWN COMPANY') }}"></a>

        <div ng-if="loading">{{ _('Loading...') }}</div>
        <div ng-if="!loading">
            <div class="one-company" ng-repeat="my_employer in data.companies" id="joined_company_{{ my_employer.id }}">
                <div class="company-item">
                    <img class="company-logo" src="{{ company_logo }}">
                    <a href="{{ url_company_profile({company_id: my_employer.id}) }}">

                        {{
                        _('Company: `%(name)s`', my_employer ) }}
                        <br>
                        {{
                        _((my_employer.author_user_id==data.user_id?' Type: OWN
                        COMPANY':''), my_employer) }}
                    </a>
                    <br/>
                    <span ng-if="!my_employer.own_portal.host"><b>Portals: </b>No</span><a
                        ng-if="my_employer.own_portal.host" href="http://{{ my_employer.own_portal.host }}">http://{{
                    my_employer.own_portal.host }}</a>
                    <!-- <a href="{{ url_portal_profile({portal_id: my_employer.own_portal.id}) }}">[edit portal profile]</a> -->
                    <br/>
                </div>

            </div>
            <br />
            <div class="one-company" ng-repeat="non_active_employer in data.non_active_user_company_status"
                 id="joined_company_{{ non_active_employer.id }}">
                <div class="company-item">
                    <img class="company-logo" src="{{ fileUrl(my_employer.logo_file_id, false, '/static/images/company_no_logo.png') }}">
                    <a href="{{ url_company_profile({company_id: non_active_employer.id}) }}">{{ _('Company:
                        `%(name)s` - NON ACTIVE',
                        non_active_employer) }}</a>
                </div>
            </div>
        </div>

        <hr/>
        <h1 class="nice-title">{{ _('Join also to company') }}<span></span></h1>
        <br />

        <input typeahead-on-select="onSelect($item, $model, $label)"
                                               typeahead-template-url="typeaheadTemplate.html"
                                               typeahead-loading="loadingCompanies"
                                               ng-model="selectedCompany_name"
                                               typeahead="company as company.name for company in searchForCompanyToJoin($viewValue)"
                                               name="company_id"/>&nbsp;
        <button class="btn" ng-click="joinToCompany()"
                ng-class="{'disabled': !selectedCompany || selectedCompany_sending}"
                ng-disabled="!selectedCompany || selectedCompany_sending">{{ _('join to this company') }}
        </button>
        <i ng-show="loadingCompanies" class="glyphicon glyphicon-refresh"></i>

    </div>

    {% endraw %}


{% endblock portal_content %}
