{% extends "index_layout.html" %}
{% block title %}Profireader{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block portal_base %}
    {% include 'partials/portal_base_Profireader.html' %}
{% endblock portal_base %}


{% block portal_content %}
    <script>
        module.controller('company_create', ['$scope', '$modal', '$ok', '$af', function ($scope, $modal, $ok, $af) {

            $scope.$af = $af;

            $scope.url_back = {{ raw_url_for('company.show')|safe }};
            $scope.data = {};

            $scope.cancel = function () {
                window.location.href = $scope.url_back();
                return false;
            };
            $scope.getData = function () {
                return $scope.data;
            };

            $scope.afterSave = function (resp, deff) {
                if (resp && !$scope.data.id) {
                    window.location.href = '{{ url_for('company.show') |safe }}';
                }
                deff(resp);
            };

            $scope.afterLoad = function (resp, deff) {
                deff(resp);
                $scope.setImageUrl(resp['logo_file_id']);
            };

            {#            ng-onsuccess="afterSave"#}
            {#                      ng-onsubmit="getData"#}
            {#                      ng-action="save_company_url"#}

            $scope.articleImageSelected = function (item) {
                $scope.data.logo_file_id = item.id;
                $scope.setImageUrl($scope.data.logo_file_id);
                closeFileManager();
            }

            $scope.setImageUrl = function (logo_file_id) {
                console.log(logo_file_id);
                $scope.logo_file_url = fileUrl(logo_file_id);
            }

            $scope.chooseImage = function () {
                $scope.filemanagerModal = $modal.open({
                    templateUrl: 'filemanager.html',
                    controller: 'filemanagerCtrl',
                    size: 'filemanager-halfscreen',
                    resolve: {
                        file_manager_called_for: function () {
                            return 'file_browse_image'
                        },
                        file_manager_on_action: function () {
                            return {
                                choose: "parent.angularControllerFunction('company_create', 'articleImageSelected')"
                            }
                        },
                        file_manager_default_action: function () {
                            return 'choose'
                        }
                    }
                });


            };

        }])
    </script>
    {% raw %}
    <div ng-controller="company_create">
        {{ load_company_url }}
        <div af
             af-after-save="afterSave"
             af-after-load="afterLoad"
             ng-model="data">

            <h1 class="nice-title">{{ data.id ? 'Edit company profile' : 'New company Account' }}<span></span></h1>

            <div style="width: 400px;">
                <div ng-click="chooseImage()"
                     style="float: left; margin-left: 50px; width: 300px; height: 240px; border: 1px solid #aaa;
                        background-size: cover; background-image:url({{ logo_file_url }});">
                    {{ _('Select logo') }}
                </div>
            </div>

            <div style="width: 500px; margin-left: 450px; height: 250px">
                <div class="item"><span class="input_label">Company name</span><input ng-model="data.name">
                </div>
                <div class="item"><span class="input_label">Country</span><input type="text"
                                                                                 ng-model="data.country"></div>
                <div class="item"><span class="input_label">Region</span><input type="text"
                                                                                ng-model="data.region"></div>
                <div class="item"><span class="input_label">Adress</span><input type="text"
                                                                                ng-model="data.address"></div>
                <div class="item"><span class="input_label">Phone</span><input type="text"
                                                                               ng-model="data.phone"></div>
                <div class="item"><span class="input_label">Fax</span><input type="text" ng-model="data.phone2">
                </div>
                <div class="item"><span class="input_label">Email</span><input type="text"
                                                                               ng-model="data.email"></div>
            </div>

            <div style="width: 1000px; margin-left: 0px;">
                Short description
                <textarea ui-tinymce="tinymceImageOptions" placeholder=""
                          ng-model="data.short_description"></textarea><br/>
            </div>

            <div style="width: 1000px; margin-left: 0px;">
                About company
                <textarea ui-tinymce="tinymceImageOptions" placeholder=""
                          ng-model="data.about"></textarea><br/>
            </div>

            <input ng-click="$af.save(data)"
                   ng-disabled="!$af.isActionAllowed(data, 'save')"
                   type="submit"
                   value="{{ data.id ? 'save' : 'create' }}"/>
        </div>

    </div>


    {% endraw %}
{% endblock portal_content %}

{% block footer %}
    {% include 'partials/portal_footer_Profireader.html' %}
{% endblock footer %}