{% extends "index_layout.html" %}
{% block title %}Profireader{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block portal_base %}
    {% include 'partials/portal_base_Profireader_auth_user.html' %}
{% endblock portal_base %}
{% block content %}
    {% block company_base %}
        {% include 'company/company_base_angular.html' %}
    {% endblock company_base %}
    <script>
        module.controller('fired', ['$scope', function ($scope) {
            $scope.url_after_seve = {{ raw_url_for('company.profile')|safe }};
            $scope.getData = function () {
                return $scope.data;
            };
        }]);
    </script>
    {% raw %}
    <div ng-init="loadData()" ng-controller="fired">
        <div ng-if="data==''"><h2>There are not fired employees in this company</h2></div>
        <div ng-repeat="emplo in data">
            <dt><img src="{{ emplo.employee.profireader_small_avatar_url }}">
                {{ emplo.employee.profireader_name }}<br>
                Phone number : {{ emplo.employee.profireader_phone }}<br>
                Email : {{ emplo.employee.profireader_email }}<br>
                Suspended : {{ emplo.md_tm }}
            </dt>
            <dt> ALL COMPANIES :
                <div ng-repeat="company in emplo.employee.employers">
                    <a href="{{ url_after_seve({company_id: company.id}) }}">{{ company.name }}</a>
                </div>
            </dt>
        </div>
        <br>
    </div>
    {% endraw %}
{% endblock content %}

{% block footer %}
    {% include 'partials/portal_footer_Profireader.html' %}
{% endblock footer %}