{% extends "index_layout.html" %}
{% block title %}Profireader{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block portal_base %}
    {% include 'partials/portal_base_Profireader_auth_user.html' %}
{% endblock portal_base %}

{% block portal_content %}
    {% block company_base %}
        {% include 'company/company_base_angular.html' %}
    {% endblock company_base %}
<script>
    module.controller('CompanyEmployees', ['$scope', '$modal','$ok', function ($scope, $modal, $ok) {
        $scope.user = {{ g.user_dict|tojson|safe }};
        $scope.$$translate = {{ translates('CompanyEmployees')|safe }};
    }]);
</script>
<div ng-controller="CompanyEmployees">
    <span ng-cloak ng-show="'{{ g.user_dict['id'] }}'">
        {% for user_id in company_user_rights %}
            {% if not curr_user %}
                <a href="{{ url_for('company.subscribe', company_id=company.id)}}">{{ '{{' }}_('Subscribe to this company'){{ '}}' }}</a>
            {% endif %}
        {% endfor %}
    </span>

    <br/>
    {% for user_id in company_user_rights %}
        {% if company_user_rights[user_id]['status']=='active' or company_user_rights[user_id]['status']=='suspended' %}
            <form class="add_rights" action="{{ url_for('company.update_rights') }}" method="post">
                <input type="hidden" name="user_id" id="user_id" value="{{ user_id }}">
                <input type="hidden" name="company_id" id="company_id" value="{{ company.id }}">
                <dt>
                    <img src="{{ company_user_rights[user_id]['user'].profireader_small_avatar_url }}" style="width:100px;height:100px;border:0">
                    {{ company_user_rights[user_id]['name'] }} {% if g.user_dict['id']==user_id %} {{ '{{' }}_('you'){{ '}}' }} {% endif %}{% if company_user_rights[user_id]['status']=='suspended' %} {{ '{{' }}_('- Suspended'){{ '}}' }}<br>{% for c_user in curr_user %}{% if curr_user[c_user]['rights'][Right['suspend_employee']] %}<a href="{{ url_for('company.unsuspend', user_id=user_id, company_id=company_id) }}">{{ '{{' }}_('Unsuspend'){{ '}}' }}</a>{% endif %}{% endfor %}{% endif %}<br>
                    {{ '{{' }}_('Phone number'){{ '}}' }} {{ company_user_rights[user_id]['user'].phone_number }}<br/>
                    {{ '{{' }}_('Email'){{ '}}' }} {{ company_user_rights[user_id]['user'].show_email }}<br/>
                    {{ '{{' }}_('Subscribed'){{ '}}' }} {{ company_user_rights[user_id]['date'] }}<br/>
                    {{ '{{' }}_('Position'){{ '}}' }} <input type="text" name="position" value={{ company_user_rights[user_id]['position'] }}><br/>
                </dt>
                {% for company in company_user_rights[user_id]['companies'] %}
                    <dt> {{ '{{' }}_('ALL COMPANIES'){{ '}}' }}
                        {% for c in company %}
                            <a href="{{ url_for('company.profile', company_id=c.id)}}">{{ c.name }}</a>
                        {% endfor %}
                    </dt>
                    <br/>
                    {% if curr_user %}
                        {% for c_user in curr_user %}
                            {% if curr_user[c_user]['status']=='active' and (company_user_rights[user_id]['status']=='active' or company_user_rights[user_id]['status']=='suspended') %}
                            <dt> {{ '{{' }}_('Rights in this company:'){{ '}}' }} </dt>
                                {% if curr_user[c_user]['rights'][Right['manage_rights_company']]==true %}
                                        {% for right in company_user_rights[user_id]['rights'] %}
                                        {% if company_user_rights[user_id]['rights'][right]==true and g.user_dict['id']!=user_id and company_user_rights[user_id]['status']=='active' %}
                                            <input type="checkbox" id="right" name="right" value="{{ right }}" checked="checked">{{ RightHumnReadible[right] }}<br>
                                        {% elif company_user_rights[user_id]['rights'][right]==true and (g.user_dict['id']==user_id or company_user_rights[user_id]['status']=='suspended') %}
                                            <input type="checkbox" id="right" name="right" value="{{ right }}" disabled="disabled" checked="checked">{{ RightHumnReadible[right] }}<br>
                                        {% else %}
                                            <input type="checkbox" id="right" name="right" value="{{ right }}">{{ RightHumnReadible[right] }}<br>
                                        {% endif %}
                                        {% endfor %}
                                    {% if g.user_dict['id']!=user_id and company_user_rights[user_id]['status']!='suspended' %}
                                        <input type="submit" id="apply" value="{{ '{{' }}_('Apply changes'){{ '}}' }}">
                                    {% endif %}
                                {% else %}
                                    {% for right in company_user_rights[user_id]['rights'] %}
                                        {% if company_user_rights[user_id]['rights'][right]==true %}
                                        <input type="checkbox" id="right" name="right" value="{{ right }}" disabled="disabled" checked="checked">{{ RightHumnReadible[right] }}<br>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </form>
            {% for c_user in curr_user %}
                {% if curr_user[c_user]['rights'][Right['suspend_employee']]==true and company_user_rights[user_id]['status']=='active' and c_user != user_id and curr_user[c_user]['status']=='active' %}
                    <form class="suspend_employee" action="{{ url_for('company.suspend_employee') }}" onsubmit="return AjaxPost()" method="post">
                        <input type="hidden" id='company_id' name="company_id" value="{{ company.id }}">
                        <input type="hidden" id="user_id" name="user_id" value="{{ user_id }}">
                        <input type="submit" value="{{ '{{' }}_('Suspend') {{ '}}' }} {{ company_user_rights[user_id]['name'] }} {{ '{{' }} _('from your company') {{ '}}' }}">
                    </form>
                {% endif %}
            {% endfor %}

            {% for c_user in curr_user %}
                {% if curr_user[c_user]['rights'][Right['suspend_employee']]==true and company_user_rights[user_id]['status']=='active' and c_user != user_id and curr_user[c_user]['status']=='active' %}
                <form class="suspend_employee" action="{{ url_for('company.fire_employee') }}" onsubmit="return AjaxPost()" method="post">
                    <input type="hidden" id='company_id' name="company_id" value="{{ company.id }}">
                    <input type="hidden" id="user_id" name="user_id" value="{{ user_id }}">
                    <input type="submit" value="{{ '{{' }}_('Fire'){{ '}}' }} {{ company_user_rights[user_id]['name']}} {{ '{{' }} _('from your company'){{ '}}' }}" >
                </form>
                {% endif %}
            {% endfor %}
            <hr>
        {% endif %}
    {% endfor %}
    <script type="text/javascript">
 function AjaxPost() {
  $.post('', {
             'company_id': $("#company_id").val(),
              'user_id': $("#user_id").val()
 }, function (resp) {
             console.log(resp);
           },
   'json');
   return true;
 };
</script>

{% for user_id in company_user_rights %}
    {% if curr_user %}
        {% for c_user in curr_user %}
            {% if curr_user[c_user]['rights'][Right['manage_rights_company']]==true or company.author_user_id==g.user_dict['id'] %}
                {% if company_user_rights[user_id]['status'] == 'nonactive' %}
                    {{ '{{' }}_('User'){{ '}}' }} {{ company_user_rights[user_id]['name'] }} {{ '{{' }}_('send query to your company'){{ '}}' }}<br>
                    <form class="add_subscriber" action="{{ url_for('company.confirm_subscriber') }}" onsubmit="return AjaxPost2()" id="subscribe" method="post">
                        <input type="hidden" id="company_id" name="company_id" value="{{ company.id }}">
                        <input type="hidden" id="user_id" name="user_id" value="{{ user_id }}">
                        <input type="hidden" id="req1" name="req" value="True">
                        <input type="submit" id="apply" value="{{ '{{' }}_('Add'){{ '}}' }} {{ company_user_rights[user_id]['name'] }} {{ '{{' }}_('to your company'){{ '}}' }}">
                    </form>
                    <form class="add_subscriber" action="{{ url_for('company.confirm_subscriber') }}" onsubmit="return AjaxPost2()" id="subscribe" method="post">
                        <input type="hidden" id="company_id" name="company_id" value="{{ company.id }}">
                        <input type="hidden" id="user_id" name="user_id" value="{{ user_id }}">
                        <input type="hidden" id="req1" name="req" value='False'>
                        <input type="submit" id="reject" value="{{ '{{' }}_('Don\'t add'){{ '}}' }} {{ company_user_rights[user_id]['name'] }} {{ '{{' }}_('to your company'){{ '}}' }}">
                    </form>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% else %}<span></span>
    {% endif %}
{% endfor %}

    <script type="text/javascript">
 function AjaxPost2() {
  $.post('', {
             'company_id': $("#company_id").val(),
      'user_id': $("#user_id").val(),
             'req': $("#req1").val()
 }, function (resp) {
             console.log(resp);
           },
   'json');
   return true;
 };
    </script>
    <br>
    <a href="{{ url_for('company.suspended_employees', company_id=company.id) }}">{{ '{{' }}_('FIRED EMPLOYEES'){{ '}}' }}</a>
</div>
{% endblock portal_content %}

