{% extends "index_layout.html" %}
{% block title %}Profireader{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block portal_base %}
    {% include 'partials/portal_base_Profireader.html' %}
{% endblock portal_base %}


{% block content %}

    <script>
        module.controller('companies_list', ['$scope', '$ok', function ($scope, $ok) {
            {#            $scope.url_update = {{ raw_url_for('article.show_form_update')|safe }};#}

            {#            $scope.url_submit = {{ raw_url_for('article.submit_to_company')|safe }};#}

            $scope.url_company_profile = {{ raw_url_for('company.profile')|safe }};
            $scope.url_search_for_company = {{ raw_url_for('company.search_for_company_to_join')|safe }};
            $scope.url_submit = {{ raw_url_for('company.join_to_company')|safe }};

            $scope.selectedCompany_name = '';
            $scope.selectedCompany = null;
            $scope.selectedCompany_sending = false;


            $scope.onSelect = function ($item, $model, $label) {
                if (!$item || !$item.id) {
                    $scope.selectedCompany_name = '';
                    $scope.selectedCompany = null;
                }
                else {
                    $scope.selectedCompany = $item;
                }
            };

            $scope.searchForCompanyToJoin = function (val) {
                return $ok($scope.url_search_for_company(), {
                    article_id: $scope.data.id,
                    search: val
                }, function (resp) {
                    return resp.length ? resp : [{id: false, name: 'No results'}];
                });
            };

            $scope.joinToCompany = function () {
                $ok($scope.url_submit({article_id: $scope.data['id']}), {company_id: $scope.selectedCompany.id}, function (resp) {
                    $scope.selectedCompany = null;
                    $scope.selectedCompany_name = null;
                    $scope.data['companies'] = resp['companies'];
                    setTimeout(function () {
                        scrool($('#joined_company_' + resp['companies']['id']), {
                            afterScroll: function () {
                                highlight($('#joined_company_' + resp['companies']['id']));
                            }
                        });
                    }, 500);

                }).finally(function () {
                    $scope.selectedCompany_sending = false;
                });
            }

        }]);
    </script>
    {% raw %}
    <script type="text/ng-template" id="customTemplate.html">
        <a href="#">
            <span ng-show="match.model.id" bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
            <em ng-show="!match.model.id" bind-html-unsafe="match.label"></em>
        </a>
    </script>
    <style>
        ul.dropdown-menu li a strong {
            color: #f00;
        }
    </style>
    <h2><a href="{{ url_for('company.add') }}">{{ _('CREATE OWN COMPANY') }}</a></h2>
    <div ng-init="loadData()" ng-controller="companies_list">
        <div ng-if="loading">{{ _('Loading...') }}</div>
        <div ng-if="!loading">
            <div ng-repeat="my_emploer in data.companies" id="joined_company_{{ my_emploer.id }}">
                <a href="{{ url_company_profile({company_id: my_emploer.id}) }}">{{ _('Company name is `%(name)s`',
                    my_emploer) }}</a><br/>
            </div>
        </div>

        <hr/>
        {{ _('join also to company') }} <input typeahead-on-select="onSelect($item, $model, $label)"
                                               typeahead-template-url="customTemplate.html"
                                               typeahead-loading="loadingCompanies"
                                               ng-model="selectedCompany_name"
                                               typeahead="company as company.name for company in searchForCompanyToJoin($viewValue)"
                                               name="company_id"/>&nbsp;
        <button class="btn" ng-click="joinToCompany()"
                ng-class="{'disabled': !selectedCompany || selectedCompany_sending}"
                ng-disabled="!selectedCompany || selectedCompany_sending">{{ _('join to this company') }}
        </button>
        <i ng-show="loadingCompanies" class="glyphicon glyphicon-refresh"></i>

    </div>



    {% endraw %}
{% endblock content %}

{% block footer %}
    {% include 'partials/portal_footer_Profireader.html' %}
{% endblock footer %}
{#    <form class="subscribe" action="{{ url_for('company.subscribe_search_form') }}" onsubmit="return AjaxPost()"#}
{#          id="subscribe" method="post">#}
{#        <h3><p>Subscribe to company</p></h3>#}
{#        <p>Enter company id<input type="text" id="company" placeholder="ID" name="company"></p>#}
{#        <input type="submit" value="submit">#}
{#    </form>#}