{% extends "index_layout.html" %}
{% block title %}Profireader{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block portal_base %}
    {% include 'partials/portal_base_Profireader.html' %}
{% endblock portal_base %}
{% block content %}
    {% block company_base %}
{% include 'company/company_base.html' %}
{% endblock company_base %}

    <form class="subscribe" action="{{ url_for('portal.apply_company') }}" onsubmit="return AjaxPost()" id="subscribe" method="post">
        <h3><p>Subscribe to portal</p></h3>
        <p>Enter portal id<input type="text" id="portal_id" placeholder="ID" name="portal_id"></p>
        <input type="hidden" id="comp_id" name="comp_id" value="{{ comp.id }}">
        <input type="submit" value="Subscribe">
    </form>

      <script type="text/javascript">
 function AjaxPost() {
  $.post('', {
             'portal_id': $("#portal_id").val(),
              'comp_id': $("#comp_id").val()
 }, function (resp) {
             console.log(resp);
           },
   'json');
   return true;
 };
</script>
    {% if not comp.portal %}
        <h3>This company does not have portal</h3>
    {% else %}
        {% if not companies_partners %}
            <h3> There are no companies partners on {% for portal in comp.portal %}"{{ portal.name }}"{% endfor %} portal </h3>
        {% else %}
            <h3>Companies Partners :
                {% for comp in companies_partners %}
                    <a href="{{ url_for('company.profile', company_id = comp.id) }}"> "{{ comp.name }}" </a>
                {% endfor %}</h3>
        {% endif %}
    {% endif %}
<h3>
    {% if not portals_partners %}
        This company does not subscribed to any portal
    {% else %}
    This company portals-partners:
    {% for portals in portals_partners %}

<a href="{{ url_for('company.profile', company_id = portals.company_owner_id) }}"> "{{ portals.name }}" </a>
{% endfor %}{% endif %}</h3>
{% endblock content %}

{% block footer %}
    {% include 'partials/portal_footer_Profireader.html' %}
{% endblock footer %}
