{% extends "index_layout.html" %}
{% block title %}Profireader{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block portal_base %}
    {% include 'partials/portal_base_Profireader.html' %}
{% endblock portal_base %}


{% block content %}
    <script>
        module.controller('company_create', ['$scope', '$ok', function ($scope, $ok) {
            $scope.url_confirm_add = {{ raw_url_for('company.confirm_add')|safe }};


            {% if company_id %}
                $scope.save_company = '{{ url_for('company.confirm_create') |safe }}';
            {% else %}
                $scope.save_company = '{{ url_for('company.confirm_edit', company_id = company_id)|safe }}';
            {% endif %}

            $scope.url_back = {{ raw_url_for('company.show')|safe }};
            $scope.data = {};
            $scope.cancel = function () {
                window.location.href = $scope.url_back();
                return false;
            };
            $scope.getData = function () {
                return $scope.data;
            };

            $scope.afterSave = function () {
                window.location.href = $scope.url_back();
            };

        }])
    </script>
    {% raw %}
    <div ng-controller="company_create">
        <form class="add" ng-ok
              ng-onsuccess="afterSave"
              ng-onsubmit="getData"
              ng-action="url_confirm_add()">
            <h3>New company Account</h3>
            Logo <input type="file" id="logo_file"><br/>
            Company name<input ng-model="data.name"><br/>
            Country<input type="text" ng-model="data.country"><br/>
            Region<input type="text" ng-model="data.region"><br/>
            Adress<input type="text" ng-model="data.address"><br/>
            Phone<input type="text" ng-model="data.phone"><br/>
            Fax<input type="text" ng-model="data.phone2"><br/>
            Email<input type="text" ng-model="data.email"><br/>
            Short Description<input type="text" смщng-model="data.short_description"><br/>
            <input type="submit" value="create"/>
            <input type="button" ng-click="cancel()" value="cancel"/>
        </form>
    </div>


    {% endraw %}
{% endblock content %}

{% block footer %}
    {% include 'partials/portal_footer_Profireader.html' %}
{% endblock footer %}