{% extends "index_layout.html" %}
{% block title %}Profireader{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block portal_base %}
    {% include 'partials/portal_base_Profireader.html' %}
{% endblock portal_base %}
{% block content %}
    {% block company_base %}
{% include 'company/company_base.html' %}
{% endblock company_base %}
    <span ng-cloak ng-show="{{ g.user_dict['id'] }}">

        {% for key in company_user_rights %}
            {% if not curr_user %}
                <a href="{{ url_for('company.subscribe', company_id=comp.id)}}">Subscribe to this company</a>
            {% endif %}
        {% endfor %}
    </span>



    {% for key in company_user_rights %}
        {% if company_user_rights[key]['status']=='active' %}
        <form class="add_rights" action="{{ url_for('company.update_rights') }}" method="post">
        <input type="hidden" name="user_id" id="user_id" value="{{ key }}">
        <input type="hidden" name="comp_id" id="comp_id" value="{{ comp.id }}">
              <dt>
                <img src="{{ company_user_rights[key]['user'].profireader_small_avatar_url }}" style="width:100px;height:100px;border:0">
                {{ company_user_rights[key]['name'] }}<br>
                Phone number : {{ company_user_rights[key]['user'].phone_number }}<br>
                Email : {{ company_user_rights[key]['user'].show_email }}
                Subscribed : {{ company_user_rights[key]['date'] }}
            </dt>
              {% for company in company_user_rights[key]['companies'] %}
                  <dt> ALL COMPANIES :
                    {% for c in company %}
                        <a href="{{ url_for('company.profile', company_id=c.id)}}">{{ c.name }}</a>
                    {% endfor %}</dt><br>
                  {% if curr_user %}
                        {% for c_user in curr_user %}
                            {% if curr_user[c_user]['status']=='active' and company_user_rights[key]['status']=='active' %}
                            <dt> Rights in this company: </dt>
                                {% if curr_user[c_user]['rights'][Right['manage_access_company']]==true %}

                                        {% for right in company_user_rights[key]['rights'] %}
                                        {% if company_user_rights[key]['rights'][right]==true %}
                                            <input type="checkbox" id="right" name="right" value="{{ right }}" checked="checked">{{ right }}<br>
                                        {% else %}
                                            <input type="checkbox" id="right" name="right" value="{{ right }}">{{ right }}<br>
                                        {% endif %}
                                        {% endfor %}
                                        <input type="submit" id="apply" value="Apply rights">

                                {% else %}
                                    {% for right in company_user_rights[key]['rights'] %}
                                        {% if company_user_rights[key]['rights'][right]==true %}
                                        <input type="checkbox" id="right" name="right" value="{{ right }}" disabled="disabled" checked="checked">{{ right }}<br>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                 {% endif %}
              {% endfor %}</form>
    {% for c_user in curr_user %}
        {% if curr_user[c_user]['rights'][Right['suspend_employee']]==true and company_user_rights[key]['status']=='active' and c_user != key%}
        <form class="suspend_employee" action="{{ url_for('company.suspend_employee') }}" onsubmit="return AjaxPost()" method="post">
        <input type="hidden" id='comp_id' name="comp_id" value="{{ comp.id }}">
        <input type="hidden" id="user_id" name="user_id" value="{{ key }}">
        <input type="submit" value="Suspend {{ company_user_rights[key]['name'] }} from your company">
        </form>
        {% endif %}
    {% endfor %}
        {% endif %}

    {% endfor %}
      <script type="text/javascript">
 function AjaxPost() {
  $.post('', {
             'comp_id': $("#comp_id").val(),
              'user_id': $("#user_id").val()
 }, function (resp) {
             console.log(resp);
           },
   'json');
   return true;
 };
</script>

{% for key in company_user_rights %}
    {% if curr_user %}
        {% for c_user in curr_user %}
            {% if curr_user[c_user]['rights'][Right['manage_access_company']]==true or comp.author_user_id==g.user_dict['id'] %}
                {% if company_user_rights[key]['status'] == 'nonactive' %}
                    User {{ company_user_rights[key]['name'] }} send query to your company<br>
                    <form class="add_subscriber" action="{{ url_for('company.confirm_subscriber') }}" onsubmit="return AjaxPost2()" id="subscribe" method="post">
                        <input type="hidden" id="comp_id" name="comp_id" value="{{ comp.id }}">
                        <input type="hidden" id="user_id" name="user_id" value="{{ key }}">
                        <input type="hidden" id="req1" name="req" value="True">
                        <input type="submit" id="apply" value="Add {{ company_user_rights[key]['name'] }} to your company">
                    </form>
                    <form class="add_subscriber" action="{{ url_for('company.confirm_subscriber') }}" onsubmit="return AjaxPost2()" id="subscribe" method="post">
                        <input type="hidden" id="comp_id" name="comp_id" value="{{ comp.id }}">
                        <input type="hidden" id="user_id" name="user_id" value="{{ key }}">
                        <input type="hidden" id="req1" name="req" value='False'>
                        <input type="submit" id="reject" value="Don't add {{ company_user_rights[key]['name'] }} to your company">
                    </form>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% else %}<span></span>
    {% endif %}
{% endfor %}

    <script type="text/javascript">
 function AjaxPost2() {
  $.post('', {
             'comp_id': $("#comp_id").val(),
      'user_id': $("#user_id").val(),
             'req': $("#req1").val()
 }, function (resp) {
             console.log(resp);
           },
   'json');
   return true;
 };
    </script>
    <br>
    <a href="{{ url_for('company.suspended_employees_func', comp_id=comp.id) }}">SUSPENDED EMPLOYEES</a>

{% endblock content %}

{% block footer %}
    {% include 'partials/portal_footer_Profireader.html' %}
{% endblock footer %}