{% extends "index_lazy_layout.html" %}
{% block title %}Profireader{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block portal_base %}
    {% include 'partials/portal_base_Profireader_auth_user.html' %}
{% endblock portal_base %}

{% block portal_content %}
    {% block company_base %}
        {% include 'company/company_base_angular.html' %}
    {% endblock company_base %}

    <script>
        module.controller('portal_list', ['$scope', '$ok', function ($scope, $ok) {
            $scope.url_join = {{ raw_url_for('portal.apply_company')|safe }};
            $scope.myRights = function(){
                for (var i = 0; i < arguments.length; i++) {
                     if ($scope.data.user_rights.indexOf(arguments[i]) === -1) {
                         return false;
                     }
                }
                return true;
            };
            $scope.afterSave = function (resp) {
            window.location.href = $scope.partners({company_id: resp['company_id']})
            };
        }]);
    </script>
    {% raw %}
    <div ng-init="loadData()" ng-controller="portal_list">
    <div ng-if="data.portal==''">
        <h3>This company does not have portal</h3>
    </div>
    <div ng-if="data.portal!=''">
        <span>
            <h3>Companies partners :
                <span ng-repeat="company in data.companies_partners">
                    <span ng-if="company.id!=data.company_id">
                    <a href="{{ url_company_profile({company_id: company.id}) }}"> "{{ company.name }}"</a>
                    </span>
               </span>
            </h3>
        </span>
    </div>

    </div>
{% endraw %}
{% endblock portal_content %}
