{% extends "index_layout.html" %}
{% block title %}Profireader{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block portal_base %}
    {% include 'partials/portal_base_Profireader.html' %}
{% endblock portal_base %}

{% block content %}
    {% block company_base %}
        {% include 'company/company_base.html' %}
    {% endblock company_base %}<br/>

    <script>
        module.controller('portal_list', ['$scope', '$ok', 'objectTransformation', function ($scope, $ok, objectTransformation) {
            $scope.url_company_profile = {{ raw_url_for('company.profile')|safe }};

            $scope.loadPortalDivisionTagsID = function(bool){
                if ($scope.data){
                    $scope.data.PortalDivisionTagsID = objectTransformation.getValues1($scope.data.portal.portal_tags, 'tag_id', bool)
                }
            };

            $scope.getDataPortalDivisionTagsID = function(){
                var res;
                if ($scope.data){
                    res = $scope.data.PortalDivisionTagsID
                } else {
                    res = false
                }
                return res
            };

            $scope.loadPortalDivisionTagsName = function(bool) {
                var PortalDivisionTagsID;
                if ($scope.data) {
                    PortalDivisionTagsID = $scope.getDataPortalDivisionTagsID();
                    $scope.data.PortalDivisionTagsName = objectTransformation.subsElemOfList(PortalDivisionTagsID, $scope.data.tag)
                }
            };

            $scope.loadPortalDivisionTags2 = function(){
                if ($scope.data){
                    $scope.data.PortalDivisionTags2 = objectTransformation.getValues2($scope.data.portal.portal_tags, 'portal_division_id', 'tag_id')
                }
            };

            $scope.loadPortalDivisionTags3 = function(list){
                var i, objIn, objOut, keys;
                if ($scope.data){
                    $scope.data.PortalDivisionTags3 = objectTransformation.getValues3($scope.data.portal.portal_tags, 'portal_division_id', 'tag_id', list);
                    keys = Object.keys($scope.data.PortalDivisionTags3);
                    for (i = 0; i < keys.length; i++){
                        objIn = $scope.data.PortalDivisionTags3[keys[i]];
                        objOut = objectTransformation.subsInKey(objIn, $scope.data.tag);
                        $scope.data.PortalDivisionTags3[keys[i]] = objOut;
                    }
                }
            };

            $scope.loadPortalDivisionTags4 = function(list){
                var res;
                if ($scope.data){
                    res = objectTransformation.getValues4($scope.data.portal.portal_tags, 'portal_division_id', 'tag_id', list);
                    $scope.data.PortalDivisionTags4 = objectTransformation.subsInKey(res, $scope.data.tag);
                }
            };

            $scope.tagsCheckUncheck = function(portal_division_id){
                var keys, i;
                keys = Object.keys($scope.data.PortalDivisionTags3[portal_division_id]);
                for (i = 0; i < keys.length; i++){
                    console.log($scope.data.PortalDivisionTags3[portal_division_id][keys[i]]);
                    $scope.data.XXX[portal_division_id] = true;
                    $scope.data.PortalDivisionTags3[portal_division_id][keys[i]] = true;
                    console.log('$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$');
                    console.log($scope.data.PortalDivisionTags3[portal_division_id][keys[i]]);
                }
                console.log("@@@");
            };

            $scope.tagsCheckUncheck2 = function(portal_division_id){
                $scope.data.XXX[portal_division_id] = true;
            };

            $scope.loadXXX = function(portalDivisions){
                var i;
                if ($scope.data){
                    $scope.data.XXX = {};
                    console.log('aaa');
                    console.log(JSON.stringify($scope.data.XXX));
                    console.log(portalDivisions);
                    for (i=0; i<portalDivisions.length; i++){
                        $scope.data.XXX[portalDivisions[i]] = false;
                        console.log($scope.data.XXX[portalDivisions[i]]);
                    }
                }
            };

            $scope.addTag = function (portal_division_id, tag_name, values) {
{#                $scope.newtagselection#}
{#                $scope.newtagname#}
{#                $scope.tag[$scope.newtagname] = $.extend(true, {}, $scope.newtagselection);#}
{#                ng-disable="$scope.tag[$scope.newtagname]"#}

                var allPortalDivisions, i;
                if ($scope.data) {
                    //
                    allPortalDivisions = Object.keys($scope.data.PortalDivisionTags3);
                    for (i = 0; i < allPortalDivisions.length; i++) {
                        $scope.data.PortalDivisionTags3[portal_division_id][tag_name] = values[i];
                    }
                }
                return true;
            };

            $scope.removeTag = function (tag_name) {
                var allPortalDivisions, i;
                if ($scope.data){
                    allPortalDivisions = Object.keys($scope.data.PortalDivisionTags3);
                    for (i = 0; i < allPortalDivisions.length; i++){
                        delete $scope.data.PortalDivisionTags3[allPortalDivisions[i]][tag_name];
                    }
                }
            };

        }]);



    </script>
    {% raw %}
 <div ng-init="loadData()" ng-controller="portal_list">
    {{ loadPortalDivisionTagsID(true) }}
    {{ loadPortalDivisionTagsName(true) }}
    !!!{{ data.PortalDivisionTagsName }}<br/><br/>
    <!-- {{ loadPortalDivisionTags2() }} -->
    {{ loadPortalDivisionTags3(getDataPortalDivisionTagsID()) }}
    {{ loadPortalDivisionTags4(getDataPortalDivisionTagsID()) }}
    ???{{ data.PortalDivisionTags3 }}<br/><br/>
    ***{{ data.PortalDivisionTags4 }}<br/><br/>
    {{ loadXXX(['560bdd30-4b23-4001-bc31-6be09e72586d', '560bdd30-4b23-4001-92c8-5317c142f421', '560bdd30-4b23-4001-acb7-6cc254313aab', '560bdd30-4b23-4001-9fae-7935eb9118d5']) }}

    <br/><br/>
    <strong>Portal tags:</strong><br/>

    <table style="width:100%" ng-init="params=data.PortalDivisionTags3">
    <tr>
        <th>
            <strong>tag/division</strong>
        </th>
        <th ng-repeat="portal_division in data.portal.divisions">
            {{ portal_division.name }}<br/>
            <input type="checkbox" ng-model="data.XXX[portal_division.id]" ng-change="tagsCheckUncheck2(portal_division.id)"/>
        </th>
    </tr>
    <tr ng-repeat="tag_name in data.tag">
        <th>
            <input type="checkbox" value=""/>{{ tag_name }}
        </th>
        <td ng-repeat="portal_division in data.portal.divisions">
            <input name="chk_group[tag_name][portal_division.id]" type="checkbox" value="" ng-model="data.PortalDivisionTags3[portal_division.id][tag_name]"/>
            {{  }}
        </td>
    </tr>
    </table>
    <input type="submit" value="...">
    <br/>
    <br/>

    Back to <a href="{{ url_company_profile({company_id: data.portal['company_owner_id']}) }}"> "{{ data.portal['own_company']['name'] }}"</a> profile


</div>
{% endraw %}
{% endblock content %}

{% block footer %}
    {% include 'partials/portal_footer_Profireader.html' %}
{% endblock footer %}