{% extends "index_lazy_layout.html" %}

{% block title %}Profireader - Company materials{% endblock title %}

{% block portal_content %}
    {% block company_base %}
        {% include 'company/company_base_angular.html' %}
    {% endblock company_base %}
    <script>
        module.controller('create', ['$scope', function ($scope) {
            $scope.url_confirm_create = {{ raw_url_for('portal.confirm_create')|safe }};
            $scope.url_after_save = {{ raw_url_for('company.profile')|safe }};

            $scope.getData = function () {
                return $scope.data.portal;
            };
            $scope.afterSave = function (resp) {
                window.location.href = $scope.url_after_save({company_id: resp.company_id})
            };
            $scope.addDivision = function () {
                $scope.data.portal.divisions.push({
                    name: '',
                    portal_division_type_id: 'news'
                });
                return false;
            }

            $scope.removeDivision = function (index) {
                $scope.data.portal.divisions.splice(index, 1);
            }

        }]);
    </script>
    {% raw %}
    {{ data.portal.divisions }}


    <style>

        .ng-dirty {
            border-color: #00468c;
        }
    </style>

    <div ng-init="loadData()" ng-controller="create">
        <h2>Cteate portal</h2>

        <div ng-if="loading">Loading...</div>
        <div ng-if="!loading">

            <form ng-ok ng-watch="data.portal" ng-onsuccess="afterSave"
                  ng-onsubmit="getData"
                  ng-action="url_confirm_create({company_id: data.company_id})">

                portal name <input type="text" placeholder="Portal name"
                                   ng-model-options="{updateOn : 'change keypress'}"
                                   ng-model="data.portal.name">{{ __validated.errors.name }}<br/>
                portal host http://<input type="text" placeholder="Host name"
                                          ng-model="data.portal.host">{{ __validated.errors.host }}<br/>
                portal layout <select ng-model="data.portal.portal_layout_id"
                                      ng-options="layout.id as layout.name for layout in data.layouts"></select>

                <div>
                    <h4>Portal divisions</h4>

                    <div>
                        <input type="text" placeholder="" disabled="disabled"
                               value="{{ data.portal.name }}">
                        <select disabled="disabled">
                            <option>index</option>
                        </select>
                        <button type="button" disabled="disabled">remove division</button>
                    </div>
                    <div ng-if="division.portal_division_type_id != 'index'"
                         ng-repeat="division in data.portal.divisions">
                        <input type="text" placeholder="Division name" ng-model="division.name">
                        <select ng-model="division.portal_division_type_id">
                            <option ng-selected="division_type.id == division.portal_division_type_id"
                                    ng-if="division_type.id != 'index'"
                                    ng-repeat="(division_type_id, division_type) in data.division_types"
                                    value="{{ division_type_id }}">{{ division_type.id }}
                            </option>
                        </select>
                        <button type="button" ng-click="removeDivision($index)">remove division</button>{{ __validated.errors['division_max_' + division_type.id] }}
                    </div>
                    <button type="button" ng-click="addDivision()">add division</button> {{ __validated.errors.add_division }}
                </div>
                <br/><br/>
                <input ng-disabled="!areAllEmpty(__validated.errors) || __validation" type="submit" value="Create portal">{{ __validated.errors.ok }}
            </form>
        </div>
    </div>

    {% endraw %}

{% endblock portal_content %}
