{% extends "index_layout.html" %}
{% block title %}Profireader{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block portal_base %}
    {% include 'partials/portal_base_Profireader.html' %}
{% endblock portal_base %}

{% block content %}
    {% block company_base %}
        {% include 'company/company_base.html' %}
    {% endblock company_base %}<br/>

    <script>
        module.controller('portal_list', ['$scope', '$ok', 'objectTransformation', function ($scope, $ok, objectTransformation) {
            $scope.url_company_profile = {{ raw_url_for('company.profile')|safe }};

            $scope.getValues = function(objList, key){
                var values = [];
{#                var x;#}
{#                x = objList;#}
{#                console.log(typeof objList);#}
{#                return x[0];#}
                for (var i = 0; i < objList.length; i++){
                    values.push(objList[i][key]);
                }
                return values;
            };

            $scope.loadPortalDivisionTags1 = function(){
                $scope.data.PortalDivisionTags1 = objectTransformation.getValues1($scope.data.portal.portal_tags, 'tag_id', true)
            };

            $scope.loadPortalDivisionTags2 = function(){
                $scope.data.PortalDivisionTags2 = objectTransformation.getValues2($scope.data.portal.portal_tags, 'portal_division_id', 'tag_id')
            };

            $scope.loadPortalDivisionTags3 = function(key2List){
                $scope.data.PortalDivisionTags3 = objectTransformation.getValues3($scope.data.portal.portal_tags, 'portal_division_id', 'tag_id', key2List)
            };

        }]);

    </script>
    {% raw %}
 <div ng-init="loadData()" ng-controller="portal_list">
    {{ loadPortalDivisionTags1() }}
    {{ loadPortalDivisionTags2() }}
    {{ loadPortalDivisionTags3(data.PortalDivisionTags1) }}
    <br/><br/>
    <br/>
    <strong>Portal tags:</strong><br/><br/>
    {{ data.portal.portal_tags }}***<br/><br/><br/>
    {{ getValues(data.portal.portal_tags, 'tag_id') }}+++<br/><br/>
    {{ data.PortalDivisionTags1 }}---<br/><br/>
    {{ data.PortalDivisionTags2 }}^^^<br/><br/>
    {{ data.PortalDivisionTags3 }}...<br/><br/>

</div>
{% endraw %}
{% endblock content %}

{% block footer %}
    {% include 'partials/portal_footer_Profireader.html' %}
{% endblock footer %}