{% extends "index_lazy_layout.html" %}

{% block title %}Profireader - Company materials{% endblock title %}

{% block portal_content %}
    {% block company_base %}
{% include 'company/company_base_angular.html' %}
{% endblock company_base %}
    <script>
        module.controller('publication', ['$scope', function ($scope) {
            $scope.publications = {{ raw_url_for('portal.publications')|safe }};
            $scope.url_update_status = '{{ url_for('portal.update_article_portal')|safe }}';
            $scope.getData = function () {return $scope.data;};
            $scope.afterSave = function (resp) {window.location.href = $scope.publications({company_id: resp.company_id.id})};
        }]);
    </script>
    {% raw %}
    <div ng-init="loadData()" ng-controller="publication">
        <form  ng-ok ng-onsuccess="afterSave" ng-onsubmit="getData" ng-action="url_update_status">
            <div ng-repeat="dat in data.portal">
                <div ng-repeat="article in dat.article_portal">

                    <div ng-if="article.status!='published'">
                        <input type="hidden" ng-model="data.not_published">
                        Your portal rejected materials: {{ article.title }} from company
                        <span ng-repeat="comp in article.company_article">
                            {{ comp.name }}
                        </span>
                        Change status to :
                        <select ng-model="data.new_status">
                            <option value="{{ article.id }}/published">published</option>
                            <option value="{{ article.id }}/declined">declined</option>
                        </select>
                        <input type="submit" value="Accept">
                    </div>
                </div>
            </div>

        </form>
        <h4>Your published materials are:</h4>
        <div ng-repeat="dat in data.portal">
            <div ng-repeat="article in dat.article_portal">
                <span ng-if="article.status=='published'">

                         -----------------------------------------------------
                    <form  ng-ok ng-onsuccess="afterSave" ng-onsubmit="getData" ng-action="url_update_status">
                    <h5>
                        {{ article.title }}
                    </h5>
                        was published at <h6>{{ article.md_tm }}<br></h6>
                        Change status to :
                        <select ng-model="data.new_status">
                            <option value="{{ article.id }}/not_published">reject</option>
                        </select>
                    <input type="submit" value="Accept"><br>
                         -----------------------------------------------------
                    </form>

                </span>
            </div>
        </div>
    </div>
    {% endraw %}

{% endblock portal_content %}
