{% extends "index_layout.html" %}
{% block title %}Profireader{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block portal_base %}
    {% include 'partials/portal_base_Profireader.html' %}
{% endblock portal_base %}

{% block content %}
    {% block company_base %}
        {% include 'company/company_base.html' %}
    {% endblock company_base %}<br/>

    <script>
        module.controller('portal_list', ['$scope', '$ok', 'objectTransformation', function ($scope, $ok, objectTransformation) {
            $scope.url_portal_profile = {{ raw_url_for('portal.profile')|safe }};
            $scope.url_company_profile = {{ raw_url_for('company.profile')|safe }};
            $scope.url_confirm_profile_edit = {{ raw_url_for('portal.confirm_profile_edit')|safe }};
{#            $scope.url_portal_profile_edit = {{ raw_url_for('portal.profile_edit')|safe }}; // this page#}
            $scope.url_after_save = {{ raw_url_for('portal.profile_edit')|safe }}; // this page

            $scope.newTag = '';
            $scope.newTagPortDivAvailability = {};

            $scope.PortDivCheckboxLoad = function(portal_divisions){
                var i;
                $scope.PortDivCheckbox = {};
                if ($scope.data){
                    for (i = 0; i < portal_divisions.length; i++){
                        $scope.PortDivCheckbox[portal_divisions[i]] = false;
                    }
                }
            };

            $scope.tagCheckboxLoad = function(tag_names){
                var i;
                $scope.newTagCheckbox = false;
                $scope.tagCheckbox = {};
                if ($scope.data){
                    for (i = 0; i < tag_names.length; i++){
                        $scope.tagCheckbox[tag_names[i]] = false;
                    }
                }
            };

            $scope.loadPortalDivisionTagsID = function(bool){
                if ($scope.data){
                    $scope.PortalDivisionTagsID = objectTransformation.getValues1($scope.data.portal.portal_tags, 'tag_id', bool)
                }
            };

            $scope.getDataPortalDivisionTagsID = function(){
                var res;
                if ($scope.data){
                    res = $scope.PortalDivisionTagsID;
                } else {
                    res = false
                }
                return res
            };

            $scope.loadPortalDivisionTagsName = function(bool) {
                var PortalDivisionTagsID;
                if ($scope.data) {
                    PortalDivisionTagsID = $scope.getDataPortalDivisionTagsID();
                    $scope.PortalDivisionTagsName = objectTransformation.subsElemOfList(PortalDivisionTagsID, $scope.data.tag)
                }
            };

            $scope.loadPortalDivisionIDs = function(bool){
                if ($scope.data) {
                    $scope.PortalDivisionIDs = objectTransformation.getValues1($scope.data.portal.divisions, 'id', true);
                }
            };

            $scope.loadPortalDivisionTags2 = function(){
                if ($scope.data){
                    $scope.data.PortalDivisionTags2 = objectTransformation.getValues2($scope.data.portal.portal_tags, 'portal_division_id', 'tag_id')
                }
            };

            $scope.loadPortalDivisionTags3 = function(list){
                var i, objIn, objOut, keys;
                if ($scope.data){
                    $scope.data.PortalDivisionTags3 = objectTransformation.getValues3($scope.data.portal.portal_tags, 'portal_division_id', 'tag_id', list);
                    keys = Object.keys($scope.data.PortalDivisionTags3);
                    for (i = 0; i < keys.length; i++){
                        objIn = $scope.data.PortalDivisionTags3[keys[i]];
                        objOut = objectTransformation.subsInKey(objIn, $scope.data.tag);
                        $scope.data.PortalDivisionTags3[keys[i]] = objOut;
                    }
                }
            };

            $scope.loadPortalDivisionTags4 = function(){
                var res, i;
                if ($scope.data){
                    $scope.loadPortalDivisionTagsID(true);
                    $scope.loadPortalDivisionTagsName(true);
                    $scope.loadPortalDivisionIDs();
                    $scope.PortDivCheckboxLoad($scope.PortalDivisionIDs);
                    $scope.tagCheckboxLoad($scope.PortalDivisionTagsName);
                    res = objectTransformation.getValues4($scope.data.portal.portal_tags, 'portal_division_id', 'tag_id', $scope.PortalDivisionTagsID);
                    $scope.data.PortalDivisionTags4 = objectTransformation.subsInKey(res, $scope.data.tag);
                    $scope.data.tagsNew = Object.keys($scope.data.PortalDivisionTags4);

                    $scope.TagPortDivAvailabilityFalse = {};
                    for (i = 0; i < $scope.PortalDivisionIDs.length; i++){
                        $scope.TagPortDivAvailabilityFalse[$scope.PortalDivisionIDs[i]] = false;
                    }

                    $scope.newTagPortDivAvailability = $.extend(true, {}, $scope.TagPortDivAvailabilityFalse);
                }
            };

            $scope.togglePortalDivision = function(portal_division_id){
                var i, keys;
                if ($scope.data){
                    keys = Object.keys($scope.data.PortalDivisionTags4);
                    for (i = 0; i < keys.length; i++){
                        {# it is really important to have = ! and not just = as $scope.PortDivCheckbox[portal_division_id] is not still changed!!! #}
                        $scope.data.PortalDivisionTags4[keys[i]][portal_division_id] = !$scope.PortDivCheckbox[portal_division_id];
                    }
                }
            };

            $scope.toggleTag = function(tag_name){
                var i, PortDivIDs, tagCheckboxesState, currState = false;
                if ($scope.data){
                    {# it is really important to have = ! and not just = as $scope.PortDivCheckbox[portal_division_id] is not still changed!!! #}
                    currState = !$scope.tagCheckbox[tag_name];
                    PortDivIDs = $scope.PortalDivisionIDs;
                    tagCheckboxesState = {};
                    for (i = 0; i < PortDivIDs.length; i++){
                        tagCheckboxesState[PortDivIDs[i]] = currState;
                    }

                    $scope.data.PortalDivisionTags4[tag_name] = tagCheckboxesState;
                }
            };

            $scope.toggleNewTag = function(){
                var i, PortDivIDs, newTagCheckboxesState, currState = false;
                if ($scope.data){
                    {# it is really important to have = ! and not just = as $scope.PortDivCheckbox[portal_division_id] is not still changed!!! #}
                    currState = !$scope.newTagCheckbox;
                    PortDivIDs = $scope.PortalDivisionIDs;
                    newTagCheckboxesState = {};
                    for (i = 0; i < PortDivIDs.length; i++){
                        newTagCheckboxesState[PortDivIDs[i]] = currState;
                    }

                    $scope.newTagPortDivAvailability = newTagCheckboxesState;
                    console.log($scope.data.newTagPortDivAvailability)
                }
            };

            $scope.addTag = function (tag_name, values) {
                if ($scope.data){
                $scope.data.PortalDivisionTags4[tag_name] = $.extend(true, {}, values);
                $scope.data.tagsNew = Object.keys($scope.data.PortalDivisionTags4);
                $scope.newTag = '';
                $scope.newTagCheckbox = false;
                $scope.newTagPortDivAvailability = $.extend(true, {}, $scope.TagPortDivAvailabilityFalse);
                }
            };

            $scope.removeTag = function (tag_name) {
                if ($scope.data){
                    delete $scope.data.PortalDivisionTags4[tag_name];
                    $scope.data.tagsNew = Object.keys($scope.data.PortalDivisionTags4);
                    console.log($scope.data.PortalDivisionTags4);
                }
            };

            $scope.getData = function () {
                var portal_tags;
                portal_tags = {'tag1': 'aaa'}; // transform it from $scope.data.PortalDivisionTags4;
{#                delete $scope.data.PortalDivisionTags4;#}
                return portal_tags;
            };

            $scope.afterSave = function (resp) {  // TODO: do we neeed resp here?
{#                window.location.href = $scope.url_after_save({portal_id: resp.portal_id})#}
                window.location.href = $scope.url_after_save({portal_id: $scope.data.portal['id']})
            };

        }]);


    </script>
    {% raw %}
 <div ng-init="loadData(null, null, null, loadPortalDivisionTags4)" ng-controller="portal_list">

    <!-- !!!{{ data.PortalDivisionTagsName }}<br/><br/> -->
    <!-- {{ loadPortalDivisionTags2() }} -->
    <!-- {{ loadPortalDivisionTags3(getDataPortalDivisionTagsID()) }} -->
    <!-- ???{{ PortDivCheckbox }}<br/><br/> -->
    <!-- ***{{ data.PortalDivisionTags4 }}<br/><br/> -->

    <h3>Portal <strong>{{ data.portal.name }}</strong> profile</h3>
    <br/>
    <h4>Portal tags:</h4>
        <table style="width:100%">
            <tr>
                <th>
                    <strong>tag/division</strong>
                </th>
                <th ng-repeat="portal_division in data.portal.divisions">
                    {{ portal_division.name }}<br/>
                    <input type="checkbox" ng-click='togglePortalDivision(portal_division.id)' ng-model="PortDivCheckbox[portal_division.id]"/>
                    {{ PortDivCheckbox[portal_division.id] }}
                </th>
            </tr>
            <tr ng-repeat="tag_name in data.tagsNew  | orderBy: 'toString()'">
                <th>
                    <input type="checkbox" ng-click='toggleTag(tag_name)' ng-model="tagCheckbox[tag_name]"/>
                    <button type="button" ng-click='removeTag(tag_name)'>remove tag</button>
                    {{ tag_name }}
                </th>
                <td ng-repeat="portal_division_id in PortalDivisionIDs">
                    <input name="chk_group[tag_name][portal_division_id]" type="checkbox" ng-model="data.PortalDivisionTags4[tag_name][portal_division_id]"/>
                    {{ data.PortalDivisionTags4[tag_name][portal_division_id] }}
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" ng-click='toggleNewTag()' ng-model="newTagCheckbox"/>
                    <input type="text" name="newTag" ng-model="newTag"/>
                    <button type="button" ng-click="addTag(newTag, newTagPortDivAvailability)" ng-disabled="data.tagsNew.indexOf(newTag) !== -1 || newTag === ''">add tag</button>
                </td>
                <td ng-repeat="portal_division_id in PortalDivisionIDs">
                    <input name="chk_group[newTag][portal_division_id]" type="checkbox" ng-model="newTagPortDivAvailability[portal_division_id]" value=''/>
                    {{ newTagPortDivAvailability[portal_division_id] }}
                </td>
            </tr>
        </table>
        <br/>

    <form ng-ok ng-onsuccess="afterSave"
          ng-onsubmit="getData"
          ng-action="url_confirm_profile_edit({portal_id: data.portal.id})">
        <div class="item text-align-left">
            <input  type="submit" value="Save Tags"/>
        </div>
    </form>

    Back to <a href="{{ url_portal_profile({portal_id: data.portal['id']}) }}"> "{{ data.portal.name }}"</a> portal profile<br/>
    Back to <a href="{{ url_company_profile({company_id: data.portal['company_owner_id']}) }}"> "{{ data.portal['own_company']['name'] }}"</a> company profile

</div>
{% endraw %}
{% endblock content %}

{% block footer %}
    {% include 'partials/portal_footer_Profireader.html' %}
{% endblock footer %}