{% extends "index_lazy_layout.html" %}

{% block title %}Profireader - Company materials{% endblock title %}

{% block portal_content %}
    {% block company_base %}
{% include 'company/company_base.html' %}
{% endblock company_base %}
    <script>
        module.controller('materials_articles', ['$scope', '$ok', '$translate', function ($scope, $ok, $translate) {
            {{ init_data()|safe }}
            $scope.url_article_details = {{ raw_url_for('company.material_details')|safe }};
            $scope.url_update_status = '{{ url_for('portal.update_article_portal')|safe }}';
            $scope.getData = function () {return $scope.data;};
            $scope.afterSave = function (resp) {window.location.href = $scope.url_article_details({company_id: resp.comp.id, article_id: resp.article.id})};
        }]);
    </script>
    {% raw %}
    <div on-init="initOld" ng-controller="materials_articles">
    <div ng-repeat="dat in data">

        <form  ng-ok ng-onsuccess="afterSave" ng-onsubmit="getData" ng-action="url_update_status">
        <div ng-repeat="article in dat.article_portal">

            Your portal has got a request to publish article: {{ article.title }} from company
                <span ng-repeat="comp in article.company_article">
                    {{ comp.name }}
                </span>
                Change status to :
                <select ng-model="article.status">
                    <option value="article.id">published</option>
                    <option value="article.id">declined</option>
                </select>
                <input type="submit" value="Apply">
        </div>
        </form>
    </div>



    {% endraw %}

{% endblock portal_content %}
